{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Coldharbour Blue/retrieve and transform",
    "entries": [
      {
        "_id": "4adc8ab6c75a24cd7b5c421a0ba94d35",
        "request": {
          "url": "https://www.coldharbourblue.com/events/month/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://www.coldharbourblue.com/wp-json/>; rel=\"https://api.w.org/\""
            },
            {
              "name": "x-et-api-origin",
              "value": "https://www.coldharbourblue.com"
            },
            {
              "name": "x-et-api-root",
              "value": "https://www.coldharbourblue.com/wp-json/tribe/tickets/v1/"
            },
            {
              "name": "x-et-api-version",
              "value": "v1"
            },
            {
              "name": "x-tec-api-origin",
              "value": "https://www.coldharbourblue.com"
            },
            {
              "name": "x-tec-api-root",
              "value": "https://www.coldharbourblue.com/wp-json/tribe/events/v1/"
            },
            {
              "name": "x-tec-api-version",
              "value": "v1"
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "\r\n<!DOCTYPE html>\r\n<html lang=\"en-US\" class=\"no-js\">\r\n\r\n<head>\r\n\t<meta charset=\"UTF-8\">\r\n\t<title>Events for July 2026 &#8211; Coldharbour Blue</title>\r\n\t<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\r\n\t<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\r\n\r\n\t<!-- Header scripts (only essential) -->\r\n\t<!--[if lt IE 9]>\r\n\t\t  <script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script>\r\n\t\t<![endif]-->\r\n\t<script>\r\n\t\t(function(H) {\r\n\t\t\tH.className = H.className.replace(/\\bno-js\\b/, 'js')\r\n\t\t})(document.documentElement)\r\n\t</script>\r\n\r\n\t<link rel='stylesheet' id='tribe-events-views-v2-bootstrap-datepicker-styles-css' href='https://www.coldharbourblue.com/wp-content/plugins/the-events-calendar/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css?ver=6.15.17.1' type='text/css' media='all' />\n<link rel='stylesheet' id='tec-variables-skeleton-css' href='https://www.coldharbourblue.com/wp-content/plugins/event-tickets/common/build/css/variables-skeleton.css?ver=6.10.2' type='text/css' media='all' />\n<link rel='stylesh[...]
