{
  "log": {
    "_recordingName": "Coldharbour Blue/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4adc8ab6c75a24cd7b5c421a0ba94d35",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.coldharbourblue.com/events/month/"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 275367,
            "text": "\r\n<!DOCTYPE html>\r\n<html lang=\"en-US\" class=\"no-js\">\r\n\r\n<head>\r\n\t<meta charset=\"UTF-8\">\r\n\t<title>Events for October 2025 &#8211; Coldharbour Blue</title>\r\n\t<meta name=\"viewport\" content=\"width=device-width,initial-scale=1\">\r\n\t<meta name=\"apple-mobile-web-app-capable\" content=\"yes\" />\r\n\r\n\t<!-- Header scripts (only essential) -->\r\n\t<!--[if lt IE 9]>\r\n\t\t  <script src=\"http://html5shiv.googlecode.com/svn/trunk/html5.js\"></script>\r\n\t\t<![endif]-->\r\n\t<script>\r\n\t\t(function(H) {\r\n\t\t\tH.className = H.className.replace(/\\bno-js\\b/, 'js')\r\n\t\t})(document.documentElement)\r\n\t</script>\r\n\r\n\t<script type=\"text/javascript\">\n/* <![CDATA[ */\nwindow.JetpackScriptData = {\"site\":{\"icon\":\"https://i0.wp.com/www.coldharbourblue.com/wp-content/uploads/2025/04/cropped-new_logo-1.png?w=64\\u0026ssl=1\",\"title\":\"Coldharbour Blue\",\"host\":\"unknown\",\"is_wpcom_platform\":false}};\n/* ]]> */\n</script>\n<link rel='stylesheet' id='tribe-events-views-v2-bootstrap-datepicker-styles-css' href='https://www.coldharbourblue.com/wp-content/plugins/the-events-calendar/vendor/bootstrap-datepicker/css/bootstrap-datepicker.standalone.min.css?ver=6.14.2' type='text/css' media='all' />\n<link rel='stylesheet' id='tec-variables-skeleton-css' href='https://www.coldharbourblue.com/wp-content/plugins/event-tickets/common/build/css/variables-skeleton.css?ver=6.8.4' type='text/css' media='all' />\n<link rel='stylesheet'[...]
