{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Kingston/retrieve and transform",
    "entries": [
      {
        "_id": "822661c8f0585c07064c22d630ee57d9",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=536",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "536"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008964\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\",\"0000000194\",\"0000000195\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000147\",\"0000000180\",\"0000000013\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"00000000[...]
