{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Kingston/retrieve and transform",
    "entries": [
      {
        "_id": "822661c8f0585c07064c22d630ee57d9",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=536",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "536"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "charlie",
              "value": "charlie"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:44:05 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008222\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000021\",\"0000000030\"]}]},{\"filmId\":\"HO00008082\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008193\",\"sites\":[{\"siteId\":\"536\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000147\",\"0000000180\",\"0000000013\",\"0000000030\"]}]},{\"filmId\":\"HO00008191\",\"sites\":[{\"siteId\":\"536\",\"showti[...]
