{
  "log": {
    "_recordingName": "Electric Cinema Portobello/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "13f10e32cb1a64b45b79c26f0c7f59ac",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.electriccinema.co.uk/data/data.json"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 7590,
            "text": "{\"cinemas\":{\"603\":{\"id\":603,\"vistaId\":\"1001\",\"title\":\"Portobello\",\"address\":\"191 Portobello Road, Notting Hill, London W11 2ED\",\"image\":false,\"link\":\"\\/portobello\\/\",\"url\":\"portobello\",\"areas\":{\"0000000002\":{\"id\":\"0000000002\",\"label\":\"Armchair\",\"isSofa\":false},\"0000000001\":{\"id\":\"0000000001\",\"label\":\"Front Row Bed (seats 2)\",\"isSofa\":true},\"0000000003\":{\"id\":\"0000000003\",\"label\":\"Back Row Sofa (seats 2)\",\"isSofa\":true}},\"home\":false},\"602\":{\"id\":602,\"vistaId\":\"1003\",\"title\":\"White City\",\"address\":\"2 Television Centre, 101 Wood Lane, London W12 7FR\",\"image\":false,\"link\":\"\\/white-city\\/\",\"url\":\"white-city\",\"areas\":{\"0000000001\":{\"id\":\"0000000001\",\"label\":\"Armchair\",\"isSofa\":false}},\"home\":false}},\"cinemaOrder\":[603,602],\"films\":{\"10432\":{\"vistaId\":\"HO00000466\",\"title\":\"Sense and Sensibility\",\"image\":\"\\/wp-content\\/uploads\\/film\\/10432.d-1024x576.jpg\",\"link\":\"\\/film\\/sense-and-sensibility\\/\",\"rating\":\"U\",\"short_synopsis\":\"After the death of their father, three young girls find themselves in abject poverty. The responsibility to provide for the family lands on the oldest sisters...\",\"premiere\":\"1995-03-13\",\"director\":\"Ang Lee\",\"screeningCinemas\":[603],\"screeningTypes\":[\"SE\",\"ES\"],\"screenings\":{\"byCinema\":{\"603\":{\"2025-09-07\":[10434],\"2025-09-08\":[10435]}},\"byDateCinemaTime\":{\"2025-09-07\":{\"603\":[10434]},\"2025-09-08\":{\"603\":[10435]}}},\"cinemas\":{\"603\":1}},\"10415\":{\"vistaId\":\"HO00000608\",\"title\":\"A Goofy Movie\",\"image\":\"\\/wp-content\\/uploads\\/film\\/10415.d-1024x576.jpg\",\"link\":\"\\/film\\/a-goofy-movie\\/\",\"rating\":\"U\",\"short_synopsis\":\"Goofy and his son Max embark on a cross-country trip in this 1995 animated classic.\",\"premiere\":\"1995-10-11\",\"director\":\"Kevin Lima\",\"screeningCinemas\":[603],\"screeningTypes\":[\"KC\[...]
