{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Humanitix/The Fellowship Cinema/retrieve and find events",
    "entries": [
      {
        "_id": "b2541903b8edbb0299d83295b1cfe3c6",
        "request": {
          "url": "https://humanitix.com/api/recommendations",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\",\"locationQuery\":\"\",\"locationType\":\"\",\"types\":[],\"categories\":[\"filmMediaAndEntertainment\"],\"subcategories\":[],\"interests\":[],\"prices\":\"all\",\"dates\":\"\",\"startDate\":\"\",\"endDate\":\"\",\"accessibility\":[],\"page\":0,\"safeSearch\":true,\"category\":\"filmMediaAndEntertainment\",\"geobox\":{\"slug\":\"gb--england--london\",\"breadcrumbs\":[{\"label\":\"United Kingdom\",\"link\":\"united-kingdom\"},{\"label\":\"England\",\"link\":\"gb--england\"},{\"label\":\"London\",\"link\":\"gb--england--london\"}],\"countryCode\":\"gb\",\"name\":\"London\",\"address\":\"London, UK\",\"latLng\":{\"lat\":51.5072178,\"lng\":-0.1275862},\"northeast\":{\"lat\":51.6723432,\"lng\":0.148271},\"southwest\":{\"lat\":51.38494009999999,\"lng\":-0.3514683},\"area\":1104.7930597176419,\"placeId\":\"ChIJdd4hrwug2EcRmSrV3Vo6llI\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"kgxxi4qawhkgn\""
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "[{\"_id\":\"69c72e012b7a44b41bd829d1\",\"hostname\":\"https://events.humanitix.com/\",\"displayDate\":null,\"hostTotalFollowers\":\"195\",\"occurrenceLabel\":\"+2 more times\",\"date\":{\"startDate\":\"Sat Jun 13 2026 18:30:00 GMT+0000 (Coordinated Universal Time)\",\"endDate\":\"Sat Jun 13 2026 20:00:00 GMT+0000 (Coordinated Universal Time)\"},\"bannerImage\":{\"handle\":\"a6202e45-aef0-4e3f-bdae-3d8cc833ce78.jpg\"},\"name\":\"Best in Queer Comedy\",\"eventLocation\":{\"type\":\"address\",\"address\":\"9 Hewson Wy, London SE17 1JS, UK\",\"venueName\":\"The Queer Comedy Club\",\"addressComponents\":[{\"long_name\":\"9\",\"short_name\":\"9\",\"types\":[\"street_number\"]},{\"long_name\":\"Hewson Way\",\"short_name\":\"Hewson Wy\",\"types\":[\"route\"]},{\"long_name\":\"London\",\"short_name\":\"London\",\"types\":[\"postal_town\"]},{\"long_name\":\"Greater London\",\"short_name\":\"Greater London\",\"types\":[\"administrative_area_level_2\",\"political\"]},{\"long_name\":\"England\",\"short_name\":\"England\",\"types\":[\"administrative_area_level_1\",\"political\"]},{\"long_name\":\"United Kingdom\",\"short_name\":\"GB\",\"types\":[\"country\",\"political\"]},{\"long_name\":\"SE17 1JS\",\"short_name\":\"SE17 1JS\",\"types\":[\"postal_code\"]}]},\"pricing\":{\"maximumPrice\":15,\"minimumPrice\":15,\"plusBuyerFee\":true},\"slug\":\"best-in-queer-comedy\",\"timezone\":\"Europe/London\",\"location\":\"GB\",\"dates\":[{\"startDate\":\"Sat Jun 13 2026 18:30:00 GMT+0000 (Coordinated Universal Time)\",\"endDate\":\"Sat Jun 13 2026 20:00:00 GMT+0000 (Coordinated Universal Time)\"},{\"startDate\":\"Sat Jun 20 2026 18:30:00 GMT+0000 (Coordinated Universal Time)\",\"endDate\":\"Sat Jun 20 2026 20:00:00 GMT+0000 (Coordinated Universal Time)\"},{\"startDate\":\"Sat Jun 27 2026 18:30:00 GMT+0000 (Coordinated Universal Time)\",\"endDate\":\"Sat Jun 27 2026 20:00:00 GMT+0000 (Coordinated Universal Time)\"}],\"organiser\":{\"_id\":\"68f79a01f8247db246e5a09f\",\"followerCount\":195,\"name\":\"The Queer Comedy Club\"},\"accessibilityFeatures\":null,\"isRecurring\":true},{\"_id\":\"6a23eb299fc7fc7332bbaca1\",\"hostname\":\"https://events.humanitix.com/\",\"displayDate\":null,\"hostTotalFollowers\":\"2\",\"occurrenceLabel\":\"+1 more time\",\"date\":{\"startDate\":\"Fri Sep 18 2026 18:00:00 GMT+0000 (Coordinated Universal Time)\",\"endDate\":\"Fri Sep 18 2026 19:00:00 GMT+0000 (Coordinated Universal Time)\"},\"bannerImage\":{\"handle\":\"dccf67e6-8cc3-4414-8ce8-0218671f503f.webp\"},\"name\":\"Slideshow: In Color!\",\"eventLocation\":{\"type\":\"address\",\"[...]
