{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Lumiere Cinema Romford/retrieve and transform",
    "entries": [
      {
        "_id": "72bb5bbecd00e8fa903c7f61a0a22619",
        "request": {
          "url": "https://lumiereromford.api.cinesync.io/api_v3/cms_widget/index",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "signature",
              "value": "5085db82f30b9e94962b40e4400c3b4c478c9bb608b729b321e12f4de5568f2a"
            },
            {
              "name": "timestamp",
              "value": "1787616000"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"sales_channel_id\":1,\"cinema_location_id\":\"4\",\"widget_id\":\"movie_calendar\",\"api\":\"list\",\"session_date\":\"2027-04-25\",\"has_limit\":0,\"per_page\":100,\"page_number\":1,\"url_key\":\"\",\"theater_experiance\":\"\",\"group_to_theater_experiance\":false,\"sort_by\":\"showtime\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "timestamp",
              "value": "1787679248"
            },
            {
              "name": "x-signature",
              "value": "j4PmA9Hnh0SsBE41ZhAb64mdFnYO0Akl6TSW0tk4pKVZteQLrlx58xExPNNAqif6j/7I6vtIr3LY41ZxD/j0g1wfcRrE24z3rU65lCNZxSuYXuIyotXqIcyLAH9DAs6DUNWHg7OqcSSgRQ19AQKpCkElOynqZt9GV54xeMlE3lq6Nz+K0wqE2Tr0PCPu0yxt8p9dO1sghs+C18kPghR1aFYC2vAysQYld74HF1ASkujNFQpLmGUZOCChziT7qSpbIkSG+qELNXW0vNDO0vAHlxNMmgpfSGvKABxTG+BnW8c+zcx/GcnBpZoF07RJzsG8flPUlyFrkDwVYQgm9Luh2g=="
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"status\":true,\"data\":{\"movies\":[{\"movie_id\":\"1328\",\"type\":\"movie\",\"movie_name\":\"Swan Lake: Royal Ballet\",\"date_release_date\":\"2027-04-22\",\"movie_end_date\":null,\"movie_countries\":\"\",\"genre\":[{\"name\":\"Opera and Ballet\"}],\"synopsis\":\"<p>Princess Odette is bound by a curse, turned into a swan by the evil sorcerer Von Rothbart. The spell can only be broken by a pledge of eternal love. When she meets Prince Siegfried, he is immediately enamoured by her fragile beauty and pledges to free her. But freedom is not promised for Odette as Von Rothbart conspires to thwart the lovers&rsquo; plans.&nbsp;<\\/p>\\r\\n<p>Liam Scarlett&rsquo;s production for The Royal Ballet brings together Tchaikovsky&rsquo;s towering score and John&nbsp;Macfarlane&rsquo;s picturesque designs to create an enduring ballet spectacle of love, treachery and&nbsp;forgiveness.<\\/p>\\r\\n<p>&nbsp;<\\/p>\\r\\n<p><span style=\\\"text-decoration: underline;\\\">There will be 2 intervals during this production.<\\/span><\\/p>\",\"portrait_image\":\"https:\\/\\/lumiereromford.static.cinesync.io\\/images\\/movie\\/17820792062627_RBO_Cinema_Web_Thumbnail_Swan-Lake_-_Portrait.webp\",\"landscape_image\":\"https:\\/\\/lumiereromford.static.cinesync.io\\/images\\/movie\\/17820792052627_RBO_Cinema_Web_Thumbnail_Swan-Lake_-_Landscape.webp\",\"url_key\":\"swan-lake-2027\",\"page_link\":\"https:\\/\\/www.lumiereromford.com\\/movies\\/swan-lake-2027?location=romford&locationKey=4\",\"session_start_date\":\"2027-04-25\",\"imdb_rate\":\"0.0\",\"trailer\":\"https:\\/\\/www.youtube.com\\/watch?v=eRR1FiG__FU\",\"trailer_type\":\"1\",\"trailer_id\":\"eRR1FiG__FU\",\"duration\":\"3h 35m\",\"movie_year\":\"2027\",\"cast\":[],\"directed_by\":[],\"movie_tags\":[{\"id\":\"61\",\"name\":\"Ballet and Opera\",\"short_name\":\"ballet_ope\",\"description\":\"\"}],\"movie_language\":[],\"movie_certification_type_id\":\"0\",\"movie_certification_logo\":null,\"movie_certification_name\":null,\"movie_certification_short_code\":\"N\\/A\",\"movie_certification_description\":null,\"is_restricted_mode\":false,\"is_booking_open\":true,\"is_coming_soon\":false,\"is_this_sold_by_third_party_system\":\"-1\",\"third_party_system_url\":\"\",\"third_party_system_message\":\"Sorry, this showtime isn\\u2019t available for reservation. Please contact the cinema directly to reserve your tickets.\",\"theater_experiences\":[],\"show_times\":[{\"show_time_id\":\"16186\",\"show_time_uuid\":\"TWcwMDlQajFSaEwrTjUzY2V4Uk93dz09\",\"page_link\":\"https:\\/\\/www.lumiereromford.com\\/movies\\/swan-lake-2027\\/showtimes\\/2027-04-25\\/romford\\/seat-plan?showtime=TWcwMDlQajFSaEwrTjUzY2V4Uk93dz09\",\"theater_experience_id\":\"1\",\"theater_experience_name\":\"Digital Cinema\",\"theater_experience_image\":\"Digital_Cinema_Media_Logo_1.jpg\",\"session_type_id\":\"35\",\"screen_name\":\"Screen 8\",\"session_start_date\":\"2027-04-25\",\"show_time_slots\":\"2:00PM\",\"show_time_hours\":\"14.00\",\"time_sorting\":1808658000,\"sold_out\":false,\"sold_out_text\":\"Closed\",\"screen_tags\":[],\"show_times_tags\":[],\"movie_language\":{\"name\":null,\"short_name\":null},\"member_only\":false,\"member_priority_access\":false,\"member_priority_hour\":\"0\",\"member_priority_hour_with_text\":\"Member priority access till 0. Please login to get access.\",\"member_priority_till\":\"\",\"subscriber_only\":false,\"subscriber_priority_access\":false,\"subscriber_priority_hour\":\"0\",\"subscriber_priority_hour_with_text\":\"\",\"subscriber_priority_till\":\"\",\"subscriber_restrict_free_access\":false,\"subscriber_restrict_message\":null,\"show_time_created_at\":\"2026-06-21 23:01:10\",\"third_party_system_message\":\"Sorry, this showtime isn\\u2019t available for reservation. Please contact the cinema directly to reserve your tickets.\",\"third_party_system_url\":\"\",\"is_this_sold_by_third_party_system\":\"-1\",\"seat_plan_status\":\"1\"}],\"nearest_show_times_date\":\"2027-04-25\"}],\"page_number\":1,\"per_page\":100,\"total_pages\":1},\"x_signature\":\"j4PmA9Hnh0SsBE41ZhAb64mdFnYO0Akl6TSW0tk4pKVZteQLrlx58xExPNNAqif6j\\/7I6vtIr3LY41ZxD\\/j0g1wfcRrE24z3rU65lCNZxSuYXuIyotXqIcyLAH9DAs6DUNWHg7OqcSSgRQ19AQKpCkElOynqZt9GV54xeMlE3lq6Nz+K0wqE2Tr0PCPu0yxt8p9dO1sghs+C18kPghR1aFYC2vAysQYld74HF1ASkujNFQpLmGUZOCChziT7qSpbIkSG+qELNXW0vNDO0vAHlxNMmgpfSGvKABxTG+BnW8c+zcx\\/GcnBpZoF07RJzsG8flPUlyFrkDwVYQgm9Luh2g==\",\"timestamp\":\"1787679248\"}",
            "size": 4109
          },
        },
        "time": 210
      },
      {
        "_id": "72edd114fd0e49a489c67b38527d45fe",
        "request": {
          "url": "https://lumiereromford.api.cinesync.io/api_v3/cms_widget/index",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "signature",
              "value": "f8f785475b5860ceeb8484895e49fb274f9156f0f74a8a5a610e967f973ddb9e"
            },
         [...]
