{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe West End/retrieve and transform",
    "entries": [
      {
        "_id": "226781f0372d00c396a91d3393982969",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=155",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "155"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "bravo",
              "value": "bravo"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:03:20 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"155\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000149\",\"0000000010\",\"0000000200\",\"0000000030\"]}]},{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"155\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000174\",\"0000000175\",\"0000000030\"]}]}]},{\"businessDate\":\"2026-01-30\",\"filmScreenings\":[{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"155\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000174\",\"0000000175\",\"0000000008\",\"0000000155\",\"0000000030\"]}]},{\"filmId\":\"HO00008237\",\"sites\":[{[...]
