{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Regent Street Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "4e751cebdcb06fb0d55211cd7b953bb1",
        "request": {
          "url": "https://www.regentstreetcinema.com/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "akamai-grn",
              "value": "0.481e1202.1783791380.5f058b4a"
            },
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"e438d67997843636829413ba49b59d5e\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KX940TFHT4SDH0M3XSJ2W930"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"37212\",\"name\":\"Rosebush Pruning\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"rosebush-pruning\",\"posterImage\":\"7mrodw2ziqfvp0ikthlk0q85fzj2\",\"bannerImage\":\"ep7lxrtwfg5bb5frah4cufej4ilu\",\"synopsis\":\"Underneath the Catalonian sun, a rich white American family lives in hedonistic isolation, seeking love and validation through one another, their designer wardrobes and pop music. When an outsider infiltrates the family, buried tensions surface and blood ties are severed.\",\"starring\":\"Callum Turner, Riley Keough, Jamie Bell\",\"directedBy\":\"Karim Aïnouz\",\"producedBy\":\"Viola Fügen, Michael Weber, Simone Gattoni\",\"searchTerms\":\"\",\"duration\":95,\"genre\":\"Drama\",\"allGenres\":\"Drama, Thriller, Comedy\",\"rating\":\"18\",\"trailerYoutubeId\":\"rmHD9gZbF7A\",\"trailerVideo\":null,\"releaseDate\":\"2026-07-10\",\"dateOfFirstShowing\":\"2026-07-10\",\"tmdbPopularityScore\":5.0759,\"tmdbId\":\"1130948\",\"dcmEdiMovieId\":\"499395\",\"dcmEdiMovieName\":\"Rosebush Pruning [Unknown]\",\"siteId\":\"85\",\"titleClassId\":\"179\",\"showings\":[{\"id\":\"458825\",\"time\":\"2026-07-10T15:00:00Z\",\"ticketsSold\":4,\"screenId\":\"117\",\"seatsRemaining\":184,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"458826\",\"time\":\"2026-07-11T19:00:00Z\",\"ticketsSold\":0,\"screenId\":\"117\",\"seatsRemaining\":188,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"458827\",\"time\":\"2026-07-12T18:30:00Z\",\"ticketsSold\":3,\"screenId\":\"117\",\"seatsRemaining\":185,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"458828\",\"time\":\"2026-07-13T14:30:00Z\",\"ticketsSold\":2,\"screenId\":\"117\",\"seatsRemain[...]
