{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Regent Street Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "4e751cebdcb06fb0d55211cd7b953bb1",
        "request": {
          "url": "https://www.regentstreetcinema.com/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"bdd1e45663a20384ee2e5bcc23fa7fd1\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KG3HM7DB1VQMQT9K6CBCCXCS"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"33960\",\"name\":\"H Is For Hawk\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"h-is-for-hawk\",\"posterImage\":\"a0bttvc6e1x8pv1ig39vbquc3w9c\",\"bannerImage\":\"47ron809gksf574wdo34br981sb5\",\"synopsis\":\"When Helen's beloved father passes away, she is knocked sideways by grief and loses herself in memories of their time birding and exploring the natural world together. She becomes obsessed with the idea of training her own goshawk, and so she brings the fearsome bird Mabel home to her life as a graduate fellow at Cambridge. \\n\\nHelen fills the freezer with hawk food and turns off her phone, ready to embark on the long, strange business of trying to train this wildest of animals. But as she labours to tame Mabel, a grieving Helen undergoes an untaming of her own. \\n\\nA record of a spiritual journey, H IS FOR HAWK is a story about memory and nature and how it might be possible to reconcile death with life and love.\",\"starring\":\"Claire Foy, Brendan Gleeson, Angus Cooper\",\"directedBy\":\"Philippa Lowthorpe\",\"producedBy\":\"Lena Headey, Dede Gardner, Jeremy Kleiner\",\"searchTerms\":\"\",\"duration\":128,\"genre\":\"Drama\",\"allGenres\":\"Drama\",\"rating\":\"12A\",\"trailerYoutubeId\":\"RJ29BBXfN64\",\"trailerVideo\":null,\"releaseDate\":\"2026-01-23\",\"dateOfFirstShowing\":\"2026-01-23\",\"tmdbPopularityScore\":3.8577,\"tmdbId\":\"1243006\",\"dcmEdiMovieId\":\"477805\",\"dcmEdiMovieName\":\"H Is For Hawk [12A]\",\"siteId\":\"85\",\"titleClassId\":\"337\",\"showings\":[{\"id\":\"390403\",\"time\":\"2026-01-23T14:30:00Z\",\"ticketsSold\":4,\"screenId\":\"117\",\"seatsRemaining\":184,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"390404\",\"time\":\"2026-01-24T13:40:00Z\",\"ticketsSold\":11,\"screenId\":\"117\",\"seatsRemaining\":177,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"390409\",\"time\":\"2026-01-26T15:50:00Z\",\"ticketsSold\":20,\"screenId\":\"117\",\"seatsRemaining\":168,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating tix-for-six\\\"}\"},{\"id\":\"390406\",\"time\":\"2026-01-27T14:00:00Z\",\"ticketsSold\":17,\"screenId\":\"117\[...]
