{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Regent Street Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "0680937b8458de62864abc445f463037",
        "request": {
          "url": "https://www.regentstreetcinema.com/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n      displayMetaData\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "akamai-grn",
              "value": "0.481e1202.1784761357.4333587f"
            },
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5279c306c6974d0d70e2c74f624b0416\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KY61257RXJH7DDCBC3SQHVCQ"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"33278\",\"name\":\"The Odyssey\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"the-odyssey\",\"posterImage\":\"h905ddoz5u4het8qovdl98wci2nj\",\"bannerImage\":\"4u7i64jcgnxby6inwml55s44s22o\",\"synopsis\":\"Christopher Nolan’s next film, The Odyssey, is a mythic action epic shot across the world. After the Trojan War, Odysseus faces a dangerous voyage back\\nto Ithaca, meeting creatures like the Cyclops Polyphemus, Sirens, and Calypso\\nalong the way.\",\"starring\":\"Matt Damon, Tom Holland, Anne Hathaway\",\"directedBy\":\"Christopher Nolan\",\"producedBy\":\"Christopher Nolan, Emma Thomas\",\"searchTerms\":\"\",\"duration\":173,\"genre\":\"Adventure\",\"allGenres\":\"Adventure, Drama, Fantasy\",\"rating\":\"15\",\"trailerYoutubeId\":\"Sk6LZrA2JSQ\",\"trailerVideo\":null,\"releaseDate\":\"2026-07-17\",\"dateOfFirstShowing\":\"2026-07-17\",\"tmdbPopularityScore\":801.957,\"tmdbId\":\"1368337\",\"dcmEdiMovieId\":\"412037\",\"dcmEdiMovieName\":\"ODYSSEY, THE [Unknown]\",\"siteId\":\"85\",\"titleClassId\":\"180\",\"displayMetaData\":\"{\\\"magicSortValue\\\":99100599992,\\\"daysShown\\\":8,\\\"nowPlayingOrHasPlayed\\\":true,\\\"someShowingsBadges\\\":[\\\"Reserved Seating\\\",\\\"OC\\\",\\\"Subtitled Wednesdays\\\"],\\\"everyShowingsBadges\\\":[\\\"Reserved Seating\\\"],\\\"leavesSoon\\\":false,\\\"lastDayTomorrow\\\":false,\\\"lastDayToday\\\":false,\\\"classes\\\":\\\"title-class-film some-showings-reserved-seating some-showings-oc some-showings-subtitled-wednesdays every-showings-reserved-seating showing-status-now-playing showing-status-now-playing-or-has-played\\\"}\",\"showings\":[{\"id\":\"449128\",\"time\":\"2026-07-17T15:00:00Z\",\"ticketsSold\":36,\"screenId\":\"117\",\"seatsRemaining\":152,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"449127\",\"time\":\"2026-07-17T18:45:00Z\",\"ticketsSold\":143,\"screenId\":\"117\",\"seatsRemaining\":45,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"449131\",\"time\":\"2026-07-18T11:15:00Z\",\"ticketsSold\":27,\"screenId\":\"117\",\"seatsRemaining\":161,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating\\\"}\"},{\"id\":\"449130\",\"time\":\"2026-07-18T15:00:00Z\",\"ticke[...]
