{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The Hammond Theatre/retrieve and transform",
    "entries": [
      {
        "_id": "41391ed737e7b8c6fcbca48baf5c6419",
        "request": {
          "url": "https://www.thehammondtheatre.co.uk/whats-on",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 17:34:24 GMT"
            },
            {
              "name": "link",
              "value": "<https://www.thehammondtheatre.co.uk/wp-json/>; rel=\"https://api.w.org/\""
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n<!--[if lt IE 7 ]> <html class=\"ie ie6 no-js\" lang=\"en-US\"> <![endif]-->\n<!--[if IE 7 ]>    <html class=\"ie ie7 no-js\" lang=\"en-US\"> <![endif]-->\n<!--[if IE 8 ]>    <html class=\"ie ie8 no-js\" lang=\"en-US\"> <![endif]-->\n<!--[if IE 9 ]>    <html class=\"ie ie9 no-js\" lang=\"en-US\"> <![endif]-->\n<!--[if gt IE 9]><!-->\n<html class=\"no-js\" lang=\"en-US\">\n<!--<![endif]-->\n<!-- the \"no-js\" class is for Modernizr. -->\n\n<head>\n\n\t<script>\n\t\twindow.dataLayer = window.dataLayer || [];\n\t\tfunction gtag() {\n\t\t\tdataLayer.push(arguments);\n\t\t}\n\t\tgtag(\"consent\", \"default\", {\n\t\t\tad_storage: \"denied\",\n\t\t\tad_user_data: \"denied\", \n\t\t\tad_personalization: \"denied\",\n\t\t\tanalytics_storage: \"denied\",\n\t\t\tfunctionality_storage: \"denied\",\n\t\t\tpersonalization_storage: \"denied\",\n\t\t\tsecurity_storage: \"granted\",\n\t\t\twait_for_update: 2000,\n\t\t});\n\t\tgtag(\"set\", \"ads_data_redaction\", true);\n\t\tgtag(\"set\", \"url_passthrough\", true);\n\t</script>\n\n\t\n\t\t<!-- Google Tag Manager -->\n\t<script>\n\t(function(w,d,s,l,i){\n\t\tw[l]=w[l]||[];\n\t\tw[l].push( {'gtm.start': new Date().getTime(),event:'gtm.js'});\n\t\tvar f=d.getElementsByTagName(s)[0],\n\t\tj=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';\n\t\tj.async=true;\n\t\tj.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n\t})(window,document,'script','dataLayer','GTM-XXXXXXX');\n\t</script>\n\t<!-- End Google Tag Manager -->\n\t\n\n\t<!-- Start cookieyes banner -->\n\t\t<script id=\"cookieyes\" type=\"text/javascript\" src=\"https://cdn-cookieyes.com/client_data/961b00f1d75cc8a4a3e0a1db/script.js\"></script>\n\t<!-- End cookieyes banner -->\n\n\n\n\n\t<meta charset=\"UTF-8\">\n\t<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->\n\t<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge,chrome=1\">\n\t\t<!-- SETUP AND AUTHENTICATE WITH TWK CLIENTS USER http://google.com/webmasters -->\n\t<meta name=\"google-site-verification\" content=\"\">\n\n\t<!-- USE YOAST TO ADD SOCIAL MEDIA META TAGS -->\n\n\t<!-- GENERATE FAVICON USING https://realfavicongenerator.net/ -->\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n\t<link rel=\"pingback\" href=\"https://www.thehammondtheatre.co.uk/xmlrpc.php\" />\n\n\t<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n\n\t<!-- This site is optimized with the Yoast SEO plugin v27.6 - https://yoast.com/product/yoast-seo-wordpress/ -->\n\t<title>Events Archive - Hammond Theatre</title>\n\t<link rel=\"canonical\" href=\"https://www.thehammondtheatre.co.uk/whats-on\" />\n\t<link rel=\"next\" href=\"https://www.thehammondtheatre.co.uk/whats-on/page/2\" />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:type\" content=\"website\" />\n\t<meta property=\"og:title\" content=\"Events Archive - Hammond Theatre\" />\n\t<meta property=\"og:url\" content=\"https://www.thehammondtheatre.co.uk/whats-on\" />\n\t<meta property=\"og:site_name\" content=\"Hammond Theatre\" />\n\t<meta name=\"twitter:card\" content=\"summary_large_image\" />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https:\\/\\/schema.org\",\"@graph\":[{\"@type\":\"CollectionPage\",\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on\",\"url\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on\",\"name\":\"Events Archive - Hammond Theatre\",\"isPartOf\":{\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/#website\"},\"primaryImageOfPage\":{\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on#primaryimage\"},\"image\":{\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on#primaryimage\"},\"thumbnailUrl\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/wp-content\\/uploads\\/2026\\/07\\/8dbbe7b6-6311-4ba6-8c06-56bbb95d03d1.jpg\",\"breadcrumb\":{\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on#breadcrumb\"},\"inLanguage\":\"en-US\"},{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on#primaryimage\",\"url\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/wp-content\\/uploads\\/2026\\/07\\/8dbbe7b6-6311-4ba6-8c06-56bbb95d03d1.jpg\",\"contentUrl\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/wp-content\\/uploads\\/2026\\/07\\/8dbbe7b6-6311-4ba6-8c06-56bbb95d03d1.jpg\",\"width\":2048,\"height\":1536},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/whats-on#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"Events\"}]},{\"@type\":\"WebSite\",\"@id\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/#website\",\"url\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/\",\"name\":\"Hammond Theatre\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\\/\\/www.thehammondtheatre.co.uk\\/?s={search_term_string}\"},\"query-input\":{\"@type\":\"PropertyValueSpecification\",\"valueRequired\":true,\"valueName\":\"search_term_string\"}}],\"inLanguage\":\"en-US\"}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch' href='//ajax.googleapis.com' />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Hammond Theatre &raquo; Events Feed\" href=\"https://www.thehammondtheatre.co.uk/whats-on/feed/\" />\n<style id=\"wp-img-auto-sizes-contain-inline-css\">\nimg:is([sizes=auto i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css */\n</style>\n<style id=\"wp-emoji-styles-inline-css\">\n\n\timg.wp-smiley, img.emoji {\n\t\tdisplay: inline !important;\n\t\tborder: none !important;\n\t\tbox-shadow: none !important;\n\t\theight: 1em !important;\n\t\twidth: 1em !important;\n\t\tmargin: 0 0.07em !important;\n\t\tvertical-align: -0.1em !important;\n\t\[...]
