{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Alexandra Palace Theatre/retrieve and transform",
    "entries": [
      {
        "_id": "3b06cc1071f460975524436fe17c6b5e",
        "request": {
          "url": "https://www.alexandrapalace.com/theatre/whats-on/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://www.alexandrapalace.com/wp-json/>; rel=\"https://api.w.org/\", <https://www.alexandrapalace.com/wp-json/wp/v2/pages/26925>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://www.alexandrapalace.com/?p=26925>; rel=shortlink"
            },
            {
              "name": "x-scout-cache",
              "value": "EXPIRED"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n<html lang=\"en-GB\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width\">\n  <title>Whats On at Alexandra Palace Theatre</title>\n  <link rel=\"profile\" href=\"http://gmpg.org/xfn/11\">\n  <link rel=\"pingback\" href=\"https://www.alexandrapalace.com/xmlrpc.php\">\n  <link rel=\"dns-prefetch\" href=\"//assets.alexandrapalace.com\" />\n  <link rel=\"dns-prefetch\" href=\"//www.youtube.com\" />\n\n  <meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n<script id=\"cookieyes\" type=\"text/javascript\" src=\"https://cdn-cookieyes.com/client_data/9f9cd28a86785c2c8ae51879/script.js\"></script><!--AP Schema tags--><script type=\"application/ld+json\">{\"@context\":\"http:\\/\\/schema.org\"}</script>\n\t<!-- This site is optimized with the Yoast SEO plugin v28.3 - https://yoast.com/product/yoast-seo-wordpress/ -->\n\t<meta name=\"description\" content=\"Full Theatre Listings for Alexandra Palace\" />\n\t<link rel=\"canonical\" href=\"https://www.alexandrap[...]
