{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Victoria/retrieve and transform",
    "entries": [
      {
        "_id": "08464e85283b2d5162213c5ed119da17",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=VIC1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "VIC1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:06:55 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00007150\",\"sites\":[{\"siteId\":\"VIC1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006931\",\"sites\":[{\"siteId\":\"VIC1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006909\",\"sites\":[{\"siteId\":\"VIC1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007012\",\"sites\":[{\"siteId\":\"VIC1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"VIC1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00006825\",\"sites\":[{\"siteId\":\"VIC1\",\"showtimeAttributeI[...]
