{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Richmond/retrieve and transform",
    "entries": [
      {
        "_id": "8b723d8c3d856289fdd0d1a99e084d66",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=RIC1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "RIC1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:06:32 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00007050\",\"sites\":[{\"siteId\":\"RIC1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"RIC1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006721\",\"sites\":[{\"siteId\":\"RIC1\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00007050\",\"sites\":[{\"siteId\":\"RIC1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-13\",\"filmScreenings\":[{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"RIC1\",\"showtimeAttributeIds\":[\"0000000055\"][...]
