{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Kingston/retrieve and transform",
    "entries": [
      {
        "_id": "0a7550b838238c2b32a17948267c3a45",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=KIN1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "KIN1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:06:07 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006931\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007012\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[\"0000000024\"]}]},{\"filmId\":\"HO00007049\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00007012\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[\"0000000024\"]}]},{\"filmId\":\"HO00007148\",\"sites\":[{\"siteId\":\[...]
