{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Kingston/retrieve and transform",
    "entries": [
      {
        "_id": "e3417232598c04412a3f3da8e097116f",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=KIN1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "KIN1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006608\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[\"0000000055\"]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006680\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006609\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006679\",\"sites\":[{\"siteId\":\"KIN1\",\"showtimeAttributeIds\":[]}]}]},[...]
