{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Mayfair/retrieve and transform",
    "entries": [
      {
        "_id": "dc1296a06431b7b6d9367ca0c1038fc2",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=MAY1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "MAY1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006557\",\"sites\":[{\"siteId\":\"MAY1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"MAY1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"MAY1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006686\",\"sites\":[{\"siteId\":\"MAY1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006609\",\"sites\":[{\"siteId\":\"MAY1\",\"showtimeAttributeIds\":[\"0000000059\"]}]}]},{\"businessDate\":\"2026-01-30\",\"filmScreenings\":[{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\[...]
