{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The David Lean Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "6ec45e4d61c94e2f10ba62dfb2757e7e",
        "request": {
          "url": "https://davidleancinema.ticketsolve.com/shows.xml",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/xml; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/e40162c8781e16f40fb98af5d52e3067"
            },
            {
              "name": "status",
              "value": "200 OK"
            }
          ],
          ],
          "content": {
            "mimeType": "application/xml; charset=utf-8",
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<venues>\n  <venue id=\"426566287\">\n    <name>\n      <![CDATA[David Lean Cinema]]>\n    </name>\n    <shows>\n      <show id=\"1173681157\">\n        <name>\n          <![CDATA[A PRIVATE LIFE]]>\n        </name>\n        <description>\n          <![CDATA[<div>\n<b><font size=\"5\">A Private Life</font><font size=\"3\">&nbsp;</font></b><img src=\"https://d1bry8u3byci8.cloudfront.net/as-assets/variants/otw9xvbu6gsf6a5wwnvqdzdonxq8/a6206d8b8848d1f5f779dd436f25589e3a792fee204effd13dccee565e881abd\" style=\"font-size:0.875rem;\">\n</div><div><font size=\"3\">Genre(s): Drama/Mystery</font></div><div><font size=\"3\">France | 2026 | 107 mins (French with <b>English Subtitles</b>)</font></div><div><font size=\"3\">Director:&nbsp;Rebecca Zlotowski</font></div><div><font size=\"3\">Cast:&nbsp;Jodie Foster, Daniel Auteuil, Virginie Efira</font></div><div><p><font size=\"3\">Foster plays Lilian\nSteiner, an American\npsychiatrist adrift in Paris &mdash;\ndivorced, estranged from her son, and losing herself in her patients&apos; troubles.\nWhen one of her patients is found dead in an apparent suicide, Steiner can&apos;t let it go. Armed with little more\nthan professional instinct and the reluctant company of her ex-husband played\nby Daniel Auteil, she begins to dig. What unfolds is part Hitchcockian thriller\nand part wry relationship comedy.</font></p></div>]]>\n        </description>\n        <event_category>film</event_category>\n        <production_company_name></production_company_name>\n        <priority>0</priority>\n        <url>https://davidleancinema.ticketsolve.com/shows/1173681157/events</url>\n        <version>54</version>\n        <tags>\n        </tags>\n        <images>\n          <image priority=\"90\">\n            <url size=\"large\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/rnzvvqkwmnz0vso1ek2gbkm5wv2o/a6206d8b8848d1f5f779dd436f25589e3a792fee204effd13dccee565e881abd</url>\n            <url size=\"medium\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/rnzvvqkwmnz0vso1ek2gbkm5wv2o/6428308680a2820b32ca9af5ca523d295e68c5119095c3d9f4a769458f8227e4</url>\n            <url size=\"thumb\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/rnzvvqkwmnz0vso1ek2gbkm5wv2o/7c367cff06fd518c1ca8f9254efb0ec25a25cd43a892ea5364918efafd429189</url>\n            <alt/>\n          </image>\n          <image priority=\"0\">\n            <url size=\"large\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/otw9xvbu6gsf6a5wwnvqdzdonxq8/a6206d8b8848d1f5f779dd436f25589e3a792fee204effd13dccee565e881abd</url>\n            <url size=\"medium\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/otw9xvbu6gsf6a5wwnvqdzdonxq8/6428308680a2820b32ca9af5ca523d295e68c5119095c3d9f4a769458f8227e4</url>\n            <url size=\"thumb\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/otw9xvbu6gsf6a5wwnvqdzdonxq8/7c367cff06fd518c1ca8f9254efb0ec25a25cd43a892ea5364918efafd429189</url>\n            <alt/>\n          </image>\n        </images>\n        <properties>\n          <property>\n            <name>Trailer</name>\n            <value>https://www.youtube.com/watch?v=HbIEbJbEpF4</value>\n          </property>\n        </properties>\n        <events>\n          <event id=\"428839338\">\n            <name>\n              <![CDATA[30 Jul 2026 - 14:30 @ David Lean Cinema - (opening time 18:15) A PRIVATE LIFE]]>\n            </name>\n            <date_time_iso format=\"ISO 8601\" zone=\"IST\">2026-07-30T14:30:00+01:00</date_time_iso>\n            <opening_time_iso format=\"ISO 8601\" zone=\"IST\">2026-07-30T18:15:00+01:00</opening_time_iso>\n            <event_number>428839338</event_number>\n            <venue_layout>David Lean Cinema</venue_layout>\n            <comment>\n              <![CDATA[]]>\n            </comment>\n            <event_attribute></event_attribute>\n            <url>https://davidleancinema.ticketsolve.com/shows/1173681157/events/428839338/seats</url>\n            <status>available</status>\n            <feed>\n              <url>https://davidleancinema.ticketsolve.com/shows/1173681157/events/428839338.xml</url>\n            </feed>\n          </event>\n          <event id=\"428839339\">\n            <name>\n              <![CDATA[30 Jul 2026 - 19:30 @ David Lean Cinema - (opening time 18:45) A PRIVATE LIFE]]>\n            </name>\n            <date_time_iso format=\"ISO 8601\" zone=\"IST\">2026-07-30T19:30:00+01:00</date_time_iso>\n            <opening_time_iso format=\"ISO 8601\" zone=\"IST\">2026-[...]
