{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Holloway/retrieve and transform",
    "entries": [
      {
        "_id": "75ed7927fc36a21a38e739bb4a29660e",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=125",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "125"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "charlie",
              "value": "charlie"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:43:35 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008191\",\"sites\":[{\"siteId\":\"125\",\"showtimeAttributeIds\":[\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"125\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"125\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008329\",\"sites\":[{\"siteId\":\"125\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008082\",\"sites\":[{\"siteId\":\"125\",\"showti[...]
