{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Electric Cinema White City/retrieve and transform",
    "entries": [
      {
        "_id": "13f10e32cb1a64b45b79c26f0c7f59ac",
        "request": {
          "url": "https://www.electriccinema.co.uk/data/data.json",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "etag",
              "value": "\"6951-6a527a34-1693917;br\""
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 17:15:32 GMT"
            }
          ],
          "content": {
            "mimeType": "application/json",
            "text": "{\"cinemas\":{\"603\":{\"id\":603,\"vistaId\":\"0000000459\",\"title\":\"Portobello\",\"address\":\"191 Portobello Road, Notting Hill, London W11 2ED\",\"image\":false,\"link\":\"\\/portobello\\/\",\"url\":\"portobello\",\"areas\":{\"0000000002\":{\"id\":\"0000000002\",\"label\":\"Armchair\",\"isSofa\":false},\"0000000001\":{\"id\":\"0000000001\",\"label\":\"Front Row Bed (seats 2)\",\"isSofa\":true},\"0000000003\":{\"id\":\"0000000003\",\"label\":\"Back Row Sofa (seats 2)\",\"isSofa\":true}},\"home\":false},\"602\":{\"id\":602,\"vistaId\":\"0000000458\",\"title\":\"White City\",\"address\":\"2 Television Centre, 101 Wood Lane, London W12 7FR\",\"image\":false,\"link\":\"\\/white-city\\/\",\"url\":\"white-city\",\"areas\":{\"0000000001\":{\"id\":\"0000000001\",\"label\":\"Armchair\",\"isSofa\":false}},\"home\":false}},\"cinemaOrder\":[603,602],\"films\":{\"64172\":{\"vistaId\":\"ST00000424\",\"title\":\"Parent and Baby: Shoot the People\",\"image\":\"\\/wp-content\\/uploads\\/film\\/64172.backdrop_raw.jpg?v=7f5fc98af52eaf51e9659358d03e86b2\",\"link\":\"\\/film\\/parent-and-baby-shoot-the-people\\/\",\"rating\":\"12A\",\"short_synopsis\":\"Shoot the People is an intimate and urgent portrait of the Oscar-nominated documentarian Misan Harriman. Renowned for his wide-ragning work including powerful breatkthrough images from the 2020 Black Lives Matter protests and capturing the Palestinian liberation movement on film, Harriman also made history as the first Black man to photograph a British Vogue cover.\",\"premiere\":\"2026-07-10\",\"director\":\"Andy Mundy-Castle\",\"trailer\":\"https:\\/\\/www.youtube.com\\/watch?v=DK-Nl7y4050\",\"screeningCinemas\":[\"602\"],\"screeningTypes\":[\"BABY\"],\"screenings\":{\"byCinema\":{\"602\":{\"2026-07-14\":[64197]}},\"byDateCinemaTime\":{\"2026-07-14\":{\"602\":[64197]}}},\"cinemas\":{\"602\":1}},\"64124\":{\"vistaId\":\"ST00000418\",\"title\":\"Parent and Baby: Disclosure Day\",\"image\":\"\\/wp-content\\/uploads\\/film\\/64124.backdrop_raw.jpg?v=7d0dda0178ff0bad96e183736dfb9c17\",\"link\":\"\\/film\\/parent-and-baby-disclosure-day-2\\/\",\"rating\":\"12A\",\"short_synopsis\":\"If you found out we weren\\u2019t alone, if someone showed you, proved it to you, would that frighten you? This June, the truth belongs to seven billio[...]
