{
  "log": {
    "_recordingName": "Cineworld Feltham/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "97c8c9b65aab734913e08b09dea01354",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/023/until/2026-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 306,
            "text": "{\"body\":{\"dates\":[\"2025-01-23\",\"2025-01-24\",\"2025-01-25\",\"2025-01-26\",\"2025-01-27\",\"2025-01-28\",\"2025-01-29\",\"2025-01-30\",\"2025-02-02\",\"2025-02-03\",\"2025-02-13\",\"2025-02-14\",\"2025-02-15\",\"2025-02-16\",\"2025-02-17\",\"2025-02-18\",\"2025-02-19\",\"2025-02-20\",\"2025-02-21\",\"2025-02-22\",\"2025-02-23\",\"2025-03-01\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 23 Jan 2025 17:47:45 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 114,
      },
      {
        "_id": "4c71ed25ef1978dd5462173095afd72f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/023/at-date/2025-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 21684,
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00012548\",\"name\":\"Dominic and the Ladies Purse (Malayalam)\",\"length\":151,\"posterLink\":\"https://regalcdn.azureedge.net/CW/DominicandtheLadiesPurseMalayalam/HO00012548/TV_SmallPosterImage/20250116-045753310.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/dominic-and-the-ladies-purse-malayalam/ho00012548\",\"weight\":0,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-23T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"comedy\",\"reserved-selected\",\"subbed\"]},{\"id\":\"ho00012350\",\"name\":\"A Complete Unknown\",\"length\":141,\"posterLink\":\"https://regalcdn.azureedge.net/CW/ACompleteTV_SmallPosterImage/HO00012350/TV_SmallPosterImage/20241113-101718615.jpg\",\"videoLink\":\"https://youtu.be/Nsvexi2Ulbs?si=Esajrb5rxo7cUpAP\",\"link\":\"https://www.cineworld.co.uk/films/a-complete-unknown/ho00012350\",\"weight\":-19,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-17T00:00:00\",\"attribu[...]
