{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Cineworld Feltham/retrieve and transform",
    "entries": [
      {
        "_id": "ab315438d38f2f4e87e888b19d988468",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/023/until/2027-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:49:27 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"dates\":[\"2026-07-11\",\"2026-07-12\",\"2026-07-13\",\"2026-07-14\",\"2026-07-15\",\"2026-07-16\",\"2026-07-17\",\"2026-07-18\",\"2026-07-19\",\"2026-07-20\",\"2026-07-21\",\"2026-07-22\",\"2026-07-23\",\"2026-07-24\",\"2026-07-25\",\"2026-07-26\",\"2026-07-27\",\"2026-07-28\",\"2026-07-29\",\"2026-07-30\",\"2026-07-31\",\"2026-08-01\",\"2026-08-02\",\"2026-08-03\",\"2026-08-04\",\"2026-08-05\",\"2026-08-06\",\"2026-08-07\",\"2026-08-08\",\"2026-08-09\",\"2026-08-10\",\"2026-08-11\",\"2026-08-12\",\"2026-08-13\",\"2026-08-14\",\"2026-08-15\",\"2026-08-16\",\"2026-08-17\",\"2026-08-18\",\"2026-08-19\",\"2026-08-20\",\"2026-08-21\",\"2026-08-22\",\"2026-08-23\",\"2026-08-24\",\"2026-08-25\",\"2026-08-26\",\"2026-08-27\",\"2026-08-28\",\"2026-08-29\",\"2026-08-30\",\"2026-08-31\",\"2026-09-05\",\"2026-09-06\",\"2026-09-08\"]}}",
            "size": 735
          },
        },
        "time": 73
      },
      {
        "_id": "56f150e0de963b5612a7350969029387",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/023/at-date/2026-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:49:27 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00014818\",\"name\":\"Alpha (Hindi)\",\"length\":141,\"posterLink\":\"https://regalcdn.azureedge.net/CW/AlphaHindi/HO00014818/TV_SmallPosterImage/20260622-110441677.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/alpha-hindi/ho00014818\",\"weight\":0,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-07-03T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"action\",\"adventure\",\"hindi\",\"reserved-selected\",\"subbed\"]},{\"id\":\"ho00014828\",\"name\":\"Carry On Jatta 4 (Punjabi)\",\"length\":142,\"posterLink\":\"https://regalcdn.azureedge.net/CW/CarryonJatta4Punjabi/HO00014828/TV_SmallPosterImage/20260623-112401471.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/carry-on-jatta-4-punjabi/ho00014828\",\"weight\":0,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-06-26T00:00:00\",\"attributeIds\":[\"12a\",\"2[...]
