{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Cineworld Enfield/retrieve and transform",
    "entries": [
      {
        "_id": "36c1a8ec2ecc9fa9110587ac1e6550fe",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/048/until/2027-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:48:47 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"dates\":[\"2026-07-11\",\"2026-07-12\",\"2026-07-13\",\"2026-07-14\",\"2026-07-15\",\"2026-07-16\",\"2026-07-17\",\"2026-07-18\",\"2026-07-19\",\"2026-07-20\",\"2026-07-21\",\"2026-07-22\",\"2026-07-23\",\"2026-07-24\",\"2026-07-25\",\"2026-07-26\",\"2026-07-27\",\"2026-07-28\",\"2026-07-29\",\"2026-07-30\",\"2026-07-31\",\"2026-08-01\",\"2026-08-02\",\"2026-08-03\",\"2026-08-04\",\"2026-08-05\",\"2026-08-06\",\"2026-08-07\",\"2026-08-08\",\"2026-08-09\",\"2026-08-10\",\"2026-08-11\",\"2026-08-12\",\"2026-08-13\",\"2026-08-14\",\"2026-08-15\",\"2026-08-16\",\"2026-08-17\",\"2026-08-18\",\"2026-08-19\",\"2026-08-20\",\"2026-08-21\",\"2026-08-22\",\"2026-08-23\",\"2026-08-24\",\"2026-08-25\",\"2026-08-26\",\"2026-08-27\",\"2026-08-28\",\"2026-08-29\",\"2026-08-30\",\"2026-08-31\",\"2026-09-01\",\"2026-09-04\",\"2026-09-05\",\"2026-09-06\",\"2026-09-08\",\"2026-09-22\",\"2026-09-24\",\"2026-09-27\",\"2026-10-20\",\"2026-10-27\",\"2026-11-10\",\"2026-12-01\",\"2027-01-26\",\"2027-02-03\",\"2027-02-23\",\"2027-03-23\"]}}",
            "size": 904
          },
        },
        "time": 104
      },
      {
        "_id": "1a639f192a67c0cac465f64f43d36901",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/048/at-date/2026-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:48:47 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00014885\",\"name\":\"Backrooms : Everything Must Go with Bonus Footage\",\"length\":126,\"posterLink\":\"https://regalcdn.azureedge.net/CW/BackroomsEverythingMustGowithBonusFootage/HO00014885/TV_SmallPosterImage/20260703-111624758.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/backrooms-everything-must-go-with-bonus-footage/ho00014885\",\"weight\":-7,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-07-03T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"audio-described\",\"horror\",\"reserved-selected\"]},{\"id\":\"ho00014889\",\"name\":\"Dhamaal 4 (Hindi)\",\"length\":143,\"posterLink\":\"https://regalcdn.azureedge.net/CW/Dhamaal4Hindi/HO00014889/TV_SmallPosterImage/20260707-121735961.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/dhamaal-4-hindi/ho00014889\",\"weight\":0,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-07-10T00:00:00\",\"attributeIds\":[\"12a\",\"2d\",\"comedy\",\"drama\",\"hindi\",\"res[...]
