{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "gel/Rio Cinema/retrieve and find events",
    "entries": [
      {
        "_id": "b5b3bb75839ec906d2b44f301a898b21",
        "request": {
          "url": "https://api.gel.now/api/events/listings?limit=100&offset=0&sort_by=date_asc&category=film",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "limit",
              "value": "100"
            },
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "sort_by",
              "value": "date_asc"
            },
            {
              "name": "category",
              "value": "film"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"events\":[{\"id\":884,\"name\":\"Handsworth Songs\",\"start_time\":\"2026-08-22T14:30:00Z\",\"end_time\":\"2026-08-22T17:00:00Z\",\"poster\":\"beef0def17786822e926dba2565f52fc.webp\",\"background\":\"\",\"description\":\"An experimental documentary depicting protests around the UK, positioning the camera with the protesters rather than pointed at them.\\n\\n\\nHandsworth Songs (1986, 61 mins) is an experimental documentary depicting the lives of those in Handsworth, Brixton, and Tottenham during three different people’s uprisings in 1985, positioning the camera with the protesters rather than pointed at them.\\n\\nProduced by Black Audio Film Collective, Handsworth Songs interrogates the impact of colonialism [...]
