{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Orpington/retrieve and transform",
    "entries": [
      {
        "_id": "c57f858b2dc407ad7580069602100faa",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=852",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "852"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"852\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008914\",\"sites\":[{\"siteId\":\"852\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"852\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00008468\",\"sites\":[{\"siteId\":\"852\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\[...]
