{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Cineworld West India Quay/retrieve and transform",
    "entries": [
      {
        "_id": "3adca6bbddccc0481e84ada22c51893c",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/041/until/2027-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:50:27 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"dates\":[\"2026-07-11\",\"2026-07-12\",\"2026-07-13\",\"2026-07-14\",\"2026-07-15\",\"2026-07-16\",\"2026-07-17\",\"2026-07-18\",\"2026-07-19\",\"2026-07-20\",\"2026-07-21\",\"2026-07-22\",\"2026-07-23\",\"2026-07-24\",\"2026-07-25\",\"2026-07-26\",\"2026-07-27\",\"2026-07-28\",\"2026-07-29\",\"2026-07-30\",\"2026-07-31\",\"2026-08-01\",\"2026-08-02\",\"2026-08-03\",\"2026-08-04\",\"2026-08-05\",\"2026-08-06\",\"2026-08-07\",\"2026-08-08\",\"2026-08-09\",\"2026-08-10\",\"2026-08-11\",\"2026-08-12\",\"2026-08-13\",\"2026-08-14\",\"2026-08-15\",\"2026-08-16\",\"2026-08-17\",\"2026-08-18\",\"2026-08-19\",\"2026-08-20\",\"2026-08-21\",\"2026-08-22\",\"2026-08-23\",\"2026-08-24\",\"2026-08-25\",\"2026-08-26\",\"2026-08-27\",\"2026-08-28\",\"2026-08-29\",\"2026-08-30\",\"2026-08-31\",\"2026-09-01\",\"2026-09-05\",\"2026-09-06\",\"2026-09-08\",\"2026-09-22\",\"2026-09-24\",\"2026-09-27\",\"2026-10-20\",\"2026-10-27\",\"2026-11-10\",\"2026-12-01\",\"2027-01-26\",\"2027-02-03\",\"2027-02-23\",\"2027-03-23\"]}}",
            "size": 891
          },
        },
        "time": 172
      },
      {
        "_id": "e425a80a91366d203f98a5d88f0cb4cf",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/041/at-date/2026-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:50:27 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00014534\",\"name\":\"Disclosure Day\",\"length\":145,\"posterLink\":\"https://regalcdn.azureedge.net/CW/DisclosureDay/HO00014534/TV_SmallPosterImage/20260402-042035921.jpg\",\"videoLink\":\"https://youtu.be/SCYT8vb2siQ\",\"link\":\"https://www.cineworld.co.uk/films/disclosure-day/ho00014534\",\"weight\":-9,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-06-10T00:00:00\",\"attributeIds\":[\"12a\",\"2d\",\"audio-described\",\"reserved-selected\"]},{\"id\":\"ho00014765\",\"name\":\"Evil Dead Burn\",\"length\":102,\"posterLink\":\"https://regalcdn.azureedge.net/CW/EvilDeadBurn/HO00014765/TV_SmallPosterImage/20260603-081818595.jpg\",\"videoLink\":\"https://youtu.be/YYkUkyfjUKg\",\"link\":\"https://www.cineworld.co.uk/films/evil-dead-burn/ho00014765\",\"weight\":-16,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-07-09T00:00:00\",\"attributeIds\":[\"18\",\"2d\",\"horror\",\"reserved-[...]
