{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Greenwich/retrieve and transform",
    "entries": [
      {
        "_id": "55fcd9c6da3603d43415ee9e9fa29623",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=963",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "963"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "charlie",
              "value": "charlie"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:37:41 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"963\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"963\",\"showtimeAttributeIds\":[\"0000000192\",\"0000000006\",\"0000000187\",\"0000000032\",\"0000000180\",\"0000000148\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"963\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00008193\",\"sites\":[{\"siteId\":\"963\",\"show[...]
