{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Metro Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "c592b272d5634a7babbfb5ffdcb7f3e8",
        "request": {
          "url": "https://metrocinema.api.cinesync.io/api_v3/cms_widget/index",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "signature",
              "value": "24be231f0a1e82f1ce7d2180837d87351bb5a134b8d53ad8eb282bc5dd5d2789"
            },
            {
              "name": "timestamp",
              "value": "1783728000"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"api\":\"dates\",\"sales_channel_id\":1,\"cinema_location_id\":\"4\",\"page_number\":\"1\",\"url_key\":\"\",\"widget_id\":\"movie_calendar\",\"calendar_date_picker_option\":\"1\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "timestamp",
              "value": "1783791203"
            },
            {
              "name": "x-signature",
              "value": "LfdiWRMVpfb7NYEWzou9oVu1JJvqfosWPa9bHcaFBzs4AHASULdXko4vc6WoJSehPpXRrZYokcA0lDdxRJ5gAytUwcV9HKDa4D8p2vhZOr5oaXdTCWFG7zwLlMhEZZ9nr8I/FbzVqntKxsDtAAlcczT9MquG0VMfPYieWFPP/3BYEegbjOd3U7XOS8TtLUx3E8PaMenqc04sikFzyjxiXjHYR6xN3AOfIE2mCNevIHJkrnGBUdanHime2jPuqOgpG/fLmeg6ZjLcTWxlbYEtJkkUbzJbI9NWYD8u4qr11RrQvzJe4eW/3uBeThTumzHRPXJaFWojYXb2ynKBlB4MNg=="
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"status\":true,\"data\":{\"dates\":[{\"session_start_date\":\"2026-07-11\"},{\"session_start_date\":\"2026-07-12\"},{\"session_start_date\":\"2026-07-14\"},{\"session_start_date\":\"2026-07-15\"},{\"session_start_date\":\"2026-07-16\"}],\"booking_start\":null,\"movie_unavailable_locations\":[],\"page_number\":\"1\",\"per_page\":100,\"total_pages\":1},\"x_signature\":\"LfdiWRMVpfb7NYEWzou9oVu1JJvqfosWPa9bHcaFBzs4AHASULdXko4vc6WoJSehPpXRrZYokcA0lDdxRJ5gAytUwcV9HKDa4D8p2vhZOr5oaXdTCWFG7zwLlMhEZZ9nr8I\\/FbzVqntKxsDtAAlcczT9MquG0VMfPYieWFPP\\/3BYEegbjOd3U7XOS8TtLUx3E8PaMenqc04sikFzyjxiXjHYR6xN3AOfIE2mCNevIHJkrnGBUdanHime2jPuqOgpG\\/fLmeg6ZjLcTWxlbYEtJkkUbzJbI9NWYD8u4qr11RrQvzJe4eW\\/3uBeThTumzHRPXJaFWojYXb2ynKBlB4MNg==\",\"timestamp\":\"1783791203\"}",
            "size": 707
          },
        },
        "time": 512
      },
      {
        "_id": "6311fc639733c3e3982fdee381994940",
        "request": {
          "url": "https://metrocinema.api.cinesync.io/api_v3/cms_widget/index",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "signature",
              "value": "746602bee3fb3c8139d366221414b7522942cc5d0d584a04636c20ebaf8697d3"
            },
            {
              "name": "timestamp",
              "value": "1783728000"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"sales_channel_id\":1,\"cinema_location_id\":\"4\",\"widget_id\":\"movie_calendar\",\"api\":\"list\",\"session_date\":\"2026-07-11\",\"has_limit\":0,\"per_page\":100,\"page_number\":1,\"url_key\":\"\",\"theater_experiance\":\"\",\"group_to_theater_experiance\":false,\"sort_by\":\"showtime\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "timestamp",
              "value": "1783791204"
            },
            {
              "name": "x-signature",
              "value": "PB5T3uBqI54TGwrsvsDuqD/K0fEv1heLa7qk6kVM72SamDkhANjLMTzpgRotRzZq2RsjepN3WBfg9d5EICIj5LUHMBHxIYBbrUFHKZMpF3nM5mx3cxCZlTwL7om8/XHFamkwn/RHm859BpeGcRdi5XvdKduCb/cM5ZUNKzm03HSFz+HU/anPaDXn8G6+n1LJi8aCsJNI8zuDw3JUlqwIN8EHEpEzezaqCbiA8eySv5NK5+aTF9VP9geWxMhtPEYRivko+3y85AW93rcv0WODusGWCjgtqdWSXpazUGPsTpgNVcCVSGrE6ZN6rQkDOxw+759yUJVvJRr/i8tqN0stsA=="
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"status\":true,\"data\":{\"movies\":[{\"movie_id\":\"124\",\"type\":\"movie\",\"movie_name\":\"MAIN VAAPAS AAUNGA\",\"date_release_date\":\"2026-06-12\",\"movie_end_date\":null,\"movie_countries\":\"India\",\"genre\":[{\"name\":\"Drama\"},{\"name\":\"Historical period drama\"},{\"name\":\"Romance\"}],\"synopsis\":\"<p>It is a story of a boy and a girl, but also a country. This tale of fiction derives almost entirely from stories of people during the Partition of India. The past is always present. And decades later, when all incidents of woe have been spoken of, what remains is the early feeling of love that was too personal to share.<\\/p>\",\"portrait_image\":\"https:\\/\\/metrocinema.static.cinesync.io\\/images\\/movie\\/1781002826download.webp\",\"landscape_image\":\"https:\\/\\/metrocinema.static.cinesync.io\\/images\\/movie\\/1781002826download-1.webp\",\"url_key\":\"mainvaapasaaunga\",\"page_link\":\"https:\\/\\/www.metrocinema.co.uk\\/movies\\/mainvaapasaaunga?location=metro-cinema&locationKey=4\",\"session_start_date\":\"2026-07-11\",\"imdb_rate\":\"0.0\",\"trailer\":\"\",\"trailer_type\":\"1\",\"trailer_id\":false,\"duration\":\"2h 47m\",\"movie_year\":\"2026\",\"cast\":[{\"actor\":\"VEDANG RAINA\"},{\"actor\":\"NASEERUDDIN SHAH\"},{\"actor\":\"SHARVARI WAGH\"},{\"actor\":\"DILJIT DOSANJH\"}],\"directed_by\":[],\"movie_tags\":[],\"movie_language\":[{\"id\":\"1\",\"name\":\"Hindi Language\",\"short_name\":\"Hindi\",\"description\":null}],\"movie_certification_type_id\":\"7\",\"movie_certification_logo\":\"https:\\/\\/metrocinema.static.cinesync.io\\/images\\/movie_certificate\\/15certificate1764765279.svg\",\"movie_certification_name\":\"15\",\"movie_certification_short_code\":\"15\",\"movie_certification_description\":\"\",\"is_restricted_mode\":false,\"is_booking_open\":true,\"is_coming_soon\":false,\"is_this_sold_by_third_party_system\":\"-1\",\"third_party_system_url\":\"\",\"third_party_system_message\":\"Sorry, online booking isn\\u2019t available at the moment. Please visit the theatre to purchase your tickets. The website will be fully operational in a few days.\",\"theater_experiences\":[],\"show_times\":[{\"show_time_id\":\"2175\",\"show_time_uuid\":\"N0YveXFydlJDdkVKMDlkTHpQa09JZz09\",\"page_link\":\"https:\\/\\/www.metrocinema.co.uk\\/movies\\/mainvaapasaaunga\\/showtimes\\/2026-07-11\\/metro-cinema\\/seat-plan?showtime=N0YveXFydlJDdkVKMDlkTHpQa09JZz09\",\"theater_experience_id\":\"1\",\"theater_experience_name\":\"Dolby Surround 7.1\",\"theater_experience_image\":\"dolby_surround_7_1___logo_redesign_by_luxaloverzy_dig75b3-fullview.jpg\",\"session_type_id\":\"2\",\"screen_name\":\"Screen 1\",\"session_start_date\":\"2026-07-11\",\"show_time_slots\":\"1:00PM\",\"show_time_hours\":\"13.00\",\"time_sorting\":1783771200,\"sold_out\":true,\"sold_out_text\":\"Closed\",\"screen_tags\":[],\"show_times_tags\":[{\"id\":\"9\",\"name\":\"English Subs\",\"short_name\":\"English Su\",\"description\":\"\",\"type\":\"tag\"}],\"movie_language\":{\"name\":\"Hindi Language\",\"short_name\":\"Hindi\"},\"member_only\":false,\"member_priority_access\":false,\"member_priority_hour\":\"0\",\"member_priority_hour_with_text\":\"Member priority access till 0. Please login to get access.\",\"member_priority_till\":\"\",\"subscriber_only\":false,\"subscriber_priority_access\":false,\"subscriber_priority_hour\":\"0\",\"subscriber_priority_hour_with_text\":\"\",\"subscriber_priority_till\":\"\",\"subscriber_restrict_free_access\":false,\"subscriber_restrict_message\":null,\"show_time_created_at\":\"2026-07-09 13:13:31\",\"third_party_system_message\":\"Sorry, online booking isn\\u2019t available at the moment. Please visit the theatre to purchase your tickets. The website will be fully operational in a few days.\",\"third_party_system_url\":\"\",\"is_this_sold_by_third_party_system\":\"-1\",\"seat_plan_status\":\"1\"}],\"nearest_show_times_date\":\"2026-07-11\"},{\"movie_id\":\"129\",\"type\":\"movie\",\"movie_name\":\"Minions & Monsters\",\"date_release_date\":\"2026-07-03\",\"movie_end_date\":null,\"movie_countries\":\"United States of America\",\"genre\":[{\"name\":\"Adventure\"},{\"name\":\"Animation\"},{\"name\":\"Comedy\"},{\"name\":\"Family\"},{\"name\":\"Fantasy\"}],\"synopsis\":\"<p>This is the rambunctious, ridiculous and totally true story of how the Minions conquered Hollywood, became movie stars, lost everything, unleashed m[...]
