{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Metro Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "920f702f255f732b8e2a5ac21bba8e04",
        "request": {
          "url": "https://metrocinema.api.cinesync.io/api_v3/cms_widget/index",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "signature",
              "value": "349c1883865e11451b99af6adc732f72eee3a76a248c84d7e2d7c53119884334"
            },
            {
              "name": "timestamp",
              "value": "1763942400"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"api\":\"dates\",\"sales_channel_id\":1,\"cinema_location_id\":\"4\",\"page_number\":\"1\",\"url_key\":\"\",\"widget_id\":\"movie_calendar\",\"calendar_date_picker_option\":\"1\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "timestamp",
              "value": "1764019960"
            },
            {
              "name": "x-signature",
              "value": "J/QAcnn26GZm8QWoy8AOzp+gkohlSPIgND+kE6r7H1wG37Y6VUa4zbOi0LL0bADzU/+9pS7uXYvchTVc0e42Rbbgd+i3OJK15CU3Ea0YrVdt7IX2S+B8OMsq3rpBHfcAS1vlCRCcYC/93azJ7Lf486BuTaktZaY3g3pionAqxXmMUEPL1RtD91+bxFvEKHrFyq8Ki3mMgNWNXfTRZgBg7POLNzX5UfCPlyKUu+h9WHuHfETKAHnrd1jYjyNbCgYx6XBNJwW1DmFZEl6B+dTwRUheV6B61sSn7qfcIuWtZuNKM7/CFiQsbOqww3nz7v+4DHA/C06a7c4sZx5Y99qNig=="
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"status\":true,\"data\":{\"dates\":[{\"session_start_date\":\"2025-11-24\"},{\"session_start_date\":\"2025-11-25\"},{\"session_start_date\":\"2025-11-26\"},{\"session_start_date\":\"2025-11-27\"}],\"movie_unavailable_locations\":[],\"page_number\":\"1\",\"per_page\":100,\"total_pages\":1},\"x_signature\":\"J\\/QAcnn26GZm8QWoy8AOzp+gkohlSPIgND+kE6r7H1wG37Y6VUa4zbOi0LL0bADzU\\/+9pS7uXYvchTVc0e42Rbbgd+i3OJK15CU3Ea0YrVdt7IX2S+B8OMsq3rpBHfcAS1vlCRCcYC\\/93azJ7Lf486BuTaktZaY3g3pionAqxXmMUEPL1RtD91+bxFvEKHrFyq8Ki3mMgNWNXfTRZgBg7POLNzX5UfCPlyKUu+h9WHuHfETKAHnrd1jYjyNbCgYx6XBNJwW1DmFZEl6B+dTwRUheV6B61sSn7qfcIuWtZuNKM7\\/CFiQsbOqww3nz7v+4DHA\\/C06a7c4sZx5Y99qNig==\",\"timestamp\":\"1764019960\"}",
            "size": 651
          },
        },
        "time": 367
      },
      {
        "_id": "451a7884bc153f2e1382098c07771798",
        "request": {
          "url": "https://metrocinema.api.cinesync.io/api_v3/cms_widget/index",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "signature",
              "value": "5dfe55d069eb40a98850f198ca124c3bda2a0d619decdb2a145716ecb845ab5c"
            },
            {
              "name": "timestamp",
              "value": "1763942400"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"sales_channel_id\":1,\"cinema_location_id\":\"4\",\"widget_id\":\"movie_calendar\",\"api\":\"list\",\"session_date\":\"2025-11-24\",\"has_limit\":0,\"per_page\":100,\"page_number\":1,\"url_key\":\"\",\"theater_experiance\":\"\",\"group_to_theater_experiance\":false,\"sort_by\":\"showtime\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "timestamp",
              "value": "1764019961"
            },
            {
              "name": "x-signature",
              "value": "euMR1UWbS0IkTakJIydnDoXYupZ/Mgg4DUjKxbIImatNMfqF1kx30u4b75urbXS0WnxUejUQ6XDveq4eSz4hWy+o95VBZKhc72ud7imsrasmlgTR53FmkIH7kj0XOYEaIBMTzzzaSWYTqHvjfqcG8tJQev8SkGJZrChXDReN/rw7JmJfUeKjoKspd1b12g1gOB+uBgpifEPQVSkIEiD+qJRHbtp9tpEpE0Vx9/Oib0Tkzl153g+FlN1vHJ67Cu4nb5pXib0tKiPLaOhAlfAuiGD7t/h1x2//NU6ex6ty8CHsVVoNOzC91iArcZAzmxSmEPZUMzfybs6cabKSWDyfwg=="
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"status\":true,\"data\":{\"movies\":[{\"movie_id\":\"8\",\"type\":\"movie\",\"movie_name\":\"LAALO: Krishna Sada Sahaayate\",\"date_release_date\":\"2025-10-10\",\"movie_end_date\":null,\"movie_countries\":\"India\",\"genre\":[{\"name\":\"Family\"}],\"synopsis\":\"<p>A rickshaw driver trapped in a farmhouse confronts his past demons while experiencing visions of Lord Krishna, who guides him through a transformative journey of self-discovery and healing.<\\/p>\",\"portrait_image\":\"https:\\/\\/metrocinema.static.cinesync.io\\/images\\/movie\\/1762875863MV5BMjIxZGM4NjgtNGE5Yi00ZjBjLTg3M2EtNDdlNjQ1Yjc2ZGFmXkEyXkFqcGc@__V1_.webp\",\"landscape_image\":\"https:\\/\\/metrocinema.static.cinesync.io\\/images\\/movie\\/1762875862PNN-2025-10-17T195127_102.webp\",\"url_key\":\"laalo-krishna-sada-sahaayate-2025\",\"session_start_date\":\"2025-11-24\",\"imdb_rate\":\"9.6\",\"trailer\":\"https:\\/\\/www.youtube.com\\/watch?v=TVUPpmkrvVw\",\"trailer_type\":\"1\",\"trailer_id\":\"TVUPpmkrvVw\",\"duration\":\"2h 15m\",\"movie_year\":\"2025\",\"cast\":[],\"directed_by\":[],\"movie_tags\":[],\"movie_language\":[{\"id\":\"3\",\"name\":\"Gujarati Language\",\"short_name\":\"Gujarati\",\"description\":null}],\"movie_certification_type_id\":\"5\",\"movie_certification_logo\":\"https:\\/\\/metrocinema.static.cinesync.io\\/images\\/movie_certificate\\/images21762930934.svg\",\"movie_certification_name\":\"(12A)\",\"movie_certification_description\":\"\",\"is_restricted_mode\":false,\"is_booking_open\":true,\"is_coming_soon\":false,\"is_this_sold_by_third_party_system\":\"-1\",\"third_party_system_url\":\"\",\"third_party_system_message\":\"Sorry, online booking isn\\u2019t available at the moment. Please visit the theatre to purchase your tickets. The website will be fully operational in a few days.\",\"theater_experiences\":[],\"show_times\":[{\"show_time_id\":\"141\",\"show_time_uuid\":\"eTVhcXV5bkxXYWJOWTB0SlRKdkJTQT09\",\"theater_experience_id\":\"1\",\"theater_experience_name\":\"Dolby Surround 7.1\",\"theater_experience_image\":\"dolby_surround_7_1___logo_redesign_by_luxaloverzy_dig75b3-fullview.jpg\",\"session_type_id\":\"1\",\"screen_name\":\"Screen 2\",\"session_start_date\":\"2025-11-24\",\"show_time_slots\":\"2:00pm\",\"show_time_hours\":\"14.00\",\"time_sorting\":1763992800,\"sold_out\":true,\"sold_out_text\":\"Closed\",\"screen_tags\":[],\"show_times_tags\":[],\"movie_language\":{\"name\":\"Gujarati Language\",\"short_name\":\"Gujarati\"},\"member_only\":false,\"member_priority_access\":false,\"member_priority_hour\":\"0\",\"member_priority_hour_with_text\":\"Member priority access till 0. Please login to get access.\",\"member_priority_till\":\"2025-11-24 02:00pm\",\"show_time_created_at\":\"2025-11-19 15:18:18\",\"third_party_system_message\":\"Sorry, online booking isn\\u2019t available at the moment. Please visit the theatre to purchase your tickets. The website will be fully operational in a few days.\",\"third_party_system_url\":\"\",\"is_this_sold_by_third_party_system\":\"-1\",\"seat_plan_status\":\"1\"},{\"show_time_id\":\"148\",\"show_time_uuid\":\"aTZkY2owNm1mS0ovcG1ORE1IS0l5UT09\",\"theater_experience_id\":\"1\",\"theater_experience_name\":\"Dolby Surround 7.1\",\"theater_experience_image\":\"dolby_surround_7_1___logo_redesign_by_luxaloverzy_dig75b3-fullview.jpg\",\"session_type_id\":\"1\",\"screen_name\":\"Screen 2\",\"session_start_date\":\"2025-11-24\",\"show_time_slots\":\"8:00pm\",\"show_time_hours\":\"20.00\",\"time_sorting\":1764014400,\"sold_out\":true,\"sold_out_text\":\"Closed\",\"screen_tags\":[],\"show_times_tags\":[],\"movie_language\":{\"name\":\"Gujarati Language\",\"short_name\":\"Gujarati\"},\"member_only\":false,\"member_priority_access\":false,\"member_priority_hour\":\"0\",\"member_priority_hour_with_text\":\"Member priority access till 0. Please login to get access.\",\"member_priority_till\":\"2025-11-24 08:00pm\",\"show_time_created_at\":\"2025-11-19 15:18:48\",\"third_party_system_message\":\"Sorry, online booking isn\\u2019t available at the moment. Please visit the theatre to purchase your tickets. The website will be fully operational in a few days.\",\"third_party_system_url\":\"\",\"is_this_sold_by_third_party_system\":\"-1\",\"seat_plan_status\":\"1\"}],\"nearest_show_times_date\":\"2025-11-24\"},{\"movie_id\":\"12\",\"type\":\"movie\",\"movie_name\":\"PREMANTE\",\"date_release_date\":\"2025-11-21\",\"movie_end_date\":null,\"movie_countries\":\"\",\"genre\":[{\"name\":\"Comedy\"},{\"name\":\"Drama\"},{\"name\":\"Romance\"}],\"synopsis\":\"<p>A couple's perfect marriage following their cute first meeting is tested when the wife grows suspicious of her husband's odd conduct, leading to a revelation that transforms their view of love.<\\/p>\",\"portrait_image\":\"https:\\/\\[...]
