{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Tottenham Court Road/retrieve and transform",
    "entries": [
      {
        "_id": "c50590cceca4c95c7fbdfba9b0bfe803",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=200",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "200"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00009072\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000200\"]}]},{\"filmId\":\"HO00009060\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000178\",\"0000000179\",\"0000000065\"]}]},{\"filmId\":\"HO00008964\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000174\",\"0000000175\"]}]},{\"filmId\":\"HO00008744\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000200\"]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings[...]
