{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Tottenham Court Road/retrieve and transform",
    "entries": [
      {
        "_id": "c50590cceca4c95c7fbdfba9b0bfe803",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=200",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "200"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "delta",
              "value": "delta"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:01:30 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000008\",\"0000000155\"]}]},{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000035\",\"0000000003\",\"0000000192\",\"0000000006\",\"0000000187\"]}]},{\"filmId\":\"HO00008327\",\"sites\":[{\"siteId\":\"200\",\"showtimeAttributeIds\":[\"0000000048\",\"0000000187\",\"0000000065\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\[...]
