{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Museum of the Home/retrieve and transform",
    "entries": [
      {
        "_id": "97b398b87a5dcdfa8b6f3146fa9272f3",
        "request": {
          "url": "https://museumofthehome.org.uk/whats-on/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://museumofthehome.org.uk/wp-json/>; rel=\"https://api.w.org/\", <https://museumofthehome.org.uk/wp-json/wp/v2/pages/10>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://museumofthehome.org.uk/?p=10>; rel=shortlink"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!doctype html>\n<html lang=\"en-GB\">\n\n<head>\n  <meta charset=\"UTF-8\">\n  <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n  <link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n  <!-- Google consent mode V2  -->\n  <script>\n    window.dataLayer = window.dataLayer || [];\n\n    function gtag() {\n      dataLayer.push(arguments);\n    }\n    gtag(\"consent\", \"default\", {\n      ad_storage: \"denied\",\n      ad_user_data: \"denied\",\n      ad_personalization: \"denied\",\n      analytics_storage: \"denied\",\n      functionality_storage: \"denied\",\n      personalization_storage: \"denied\",\n      security_storage: \"granted\",\n      wait_for_update: 2000,\n    });\n    gtag(\"set\", \"ads_data_redaction\", [...]
