{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "DesignMyNight/Rivoli Ballroom/retrieve and find events",
    "entries": [
      {
        "_id": "2edb562eb83f6120ada79ef9e0ebc653",
        "request": {
          "url": "https://api-content.designmynight.com/search/occurrences?page=1&region_id=59ef1720e445807f4c267a14&type=event&type_of_event=film-screenings",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "region_id",
              "value": "59ef1720e445807f4c267a14"
            },
            {
              "name": "type",
              "value": "event"
            },
            {
              "name": "type_of_event",
              "value": "film-screenings"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-ratelimit-limit",
              "value": "600"
            },
            {
              "name": "x-ratelimit-remaining",
              "value": "599"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json",
            "text": "{\"payload\":[{\"id\":\"64073b0bf295c9196350c4f9\",\"object_id\":\"64073b0bf295c9196350c4f8\",\"designmynight_id\":\"64073b0b867ac93246415bb8\",\"path\":\"https:\\/\\/www.designmynight.com\\/london\\/bars\\/lewisham\\/the-fellowship-inn\\/the-fellowship-cinema-club-saturday-kids\",\"title\":\"The Fellowship Cinema Club - Saturday Kids\",\"type\":\"event\",\"status\":\"public\",\"score\":0,\"excerpt\":\"The Fellowship Cinema Club - Fridays at 8pm. All your favourite\\nclassics & singalongs&hellip;\",\"covid_safe_count\":0,\"review_count\":1,\"search_boost\":null,\"recommended\":false,\"features\":{\"type_of_event\":{\"type\":\"type_of_event\",\"icon\":\"fa-ticket\",\"title\":\"Type of event\",\"label\":\"Film Screenings\",\"id\":\"59ef1737e445807f4c268548\",\"labels_string\":\"Type of event: Film Screenings\"},\"area\":{\"type\":\"area\",\"icon\":\"fa-globe\",\"title\":\"Area\",\"label\":\"Lewisham\",\"id\":\"59ef8746e445800e4a5c2ac7\",\"labels_string\":\"Area: Lewisham\"}},\"food_and_drink\":{\"food\":{\"enabled\":false,\"use_venue\":false}},\"photos\":[{\"caption\":\"\",\"sizes\":{\"original\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/20230307_132005_0001-optimised.png\",\"width\":250,\"height\":200},\"medium\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/20230307_132005_0001-620x320-optimised.png\",\"width\":620,\"height\":320},\"width_414\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/20230307_132005_0001-414x213-optimised.png\",\"width\":414,\"height\":213},\"small\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/20230307_132005_0001-300x154-optimised.png\",\"width\":300,\"height\":154},\"width_192\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/20230307_132005_0001-192x99-optimised.png\",\"width\":192,\"height\":99},\"thumbnail\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/20230307_132005_0001-140x72-optimised.png\",\"width\":140,\"height\":72}},\"id\":{\"$oid\":\"676f49f37a2a4335ca6cb3a4\"}},{\"caption\":\"\",\"sizes\":{\"original\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-optimised.jpeg\",\"width\":250,\"height\":200},\"large\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-1200x900-optimised.jpeg\",\"width\":1200,\"height\":900},\"medium\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-620x465-optimised.jpeg\",\"width\":620,\"height\":465},\"width_414\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-414x310-optimised.jpeg\",\"width\":414,\"height\":310},\"small\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-300x225-optimised.jpeg\",\"width\":300,\"height\":225},\"width_192\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-192x144-optimised.jpeg\",\"width\":192,\"height\":144},\"thumbnail\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2023\\/03\\/WhatsApp-Image-2023-02-01-at-16.11.05-11-140x105-optimised.jpeg\",\"width\":140,\"height\":105}},\"id\":{\"$oid\":\"676f49f37a2a4335ca6cb3a5\"}}],\"location\":{\"lat\":51.4326463,\"lon\":-0.0203439},\"rating\":4,\"total_ratings\":1,\"date_string\":\"Every Saturday \",\"occurrence\":{\"date\":\"15 August 2026\",\"is_cancelled\":false,\"iso_date\":\"2026-08-15T00:00:00+01:00\",\"on_sale\":true},\"ticket_price_range\":\"Tickets from free\",\"venue\":{\"title\":\"The Fellowship Inn\"}},{\"id\":\"64073c9dda21b715714d1bcb\",\"object_id\":\"64073c9dda21b715714d1bca\",\"designmynight_id\":\"64073c9c939d0f64493b8318\",\"path\":\"https:\\/\\/www.designmynight.com\\/london\\/bars\\/lewisham\\/the-fellowship-inn\\/the-fellowship-cinema-club-sunday-kids\",\"title\":\"The Fellowship Cinema Club - Sunday Kids\",\"type\":\"event\",\"status\":\"public\",\"score\":0,\"excerpt\":\"The Fellowship Cinema Club - Sundays at&nbsp;3pm. All your favourite kids\\n[...]
