{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Prince Charles Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "e60d91073b0b6925d8ded26511e14fdd",
        "request": {
          "url": "https://princecharlescinema.com/whats-on/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://princecharlescinema.com/wp-json/>; rel=\"https://api.w.org/\", <https://princecharlescinema.com/wp-json/wp/v2/pages/793>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://princecharlescinema.com/?p=793>; rel=shortlink"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n<html lang=\"en-US\" xmlns:og=\"http://opengraphprotocol.org/schema/\" xmlns:fb=\"http://www.facebook.com/2008/fbml\">\n<head>\n\t<meta charset=\"UTF-8\" />\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n\t<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\" />\n\t<link rel=\"pingback\" href=\"https://princecharlescinema.com/xmlrpc.php\" />\n\t<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n\n\t<!-- This site is optimized with the Yoast SEO plugin v28.0 - https://yoast.com/product/yoast-seo-wordpress/ -->\n\t<title>What’s On | The Prince Charles Cinema</title>\n\t<meta name=\"description\" content=\"Discover the wide range of films currently on at The Prince Charles Cinema.\" />\n\t<link rel=\"canonical\" href=\"https://princecharlescinema.com/whats-on/\" />\n\t<meta property=\"og:locale\" content=\"en_US\" />\n\t<meta property=\"og:type\" content=\"article\" />\n\t<meta property=\"og:title\" content=\"What’s On | The Prince Charles Cinema\" />\n\t<meta property=\"og:description\" content=\"Discover the wide range of films currently on at The Prince Charles Cinema.\" />\n\t<meta property=\"og:url\" content=\"https://princecharlescinema.com/whats-on/\" />\n\t<meta property=\"og:site_name\" content=\"The Prince Charles Cinema\" />\n\t<meta property=\"article:publisher\" content=\"https://www.facebook.com/PrinceCharlesCinema/\" />\n\t<meta property=\"article:modified_time\" content=\"2025-02-21T05:38:36+00:00\" />\n\t<meta property=\"og:image\" content=\"https://princecharlescinema.com/wp-content/uploads/2024/05/PCCIcon.jpg\" />\n\t<meta property=\"og:image:width\" content=\"512\" />\n\t<meta property=\"og:image:height\" content=\"512\" />\n\t<meta property=\"og:image:type\" content=\"image/jpeg\" />\n\t<meta name=\"twitter:card\" content=\"summary_large_image\" />\n\t<meta name=\"twitter:site\" content=\"@ThePCCLondon\" />\n\t<meta name=\"twitter:label1\" content=\"Est. reading time\" />\n\t<meta name=\"twitter:data1\" content=\"1 minute\" />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https:\\/\\/schema.org\",\"@graph\":[{\"@type\":\"WebPage\",\"@id\":\"https:\\/\\/princecharlescinema.com\\/whats-on\\/\",\"url\":\"https:\\/\\/princecharlescinema.com\\/whats-on\\/\",\"name\":\"What’s On | The Prince Charles Cinema\",\"isPartOf\":{\"@id\":\"https:\\/\\/princecharlescinema.com\\/#website\"},\"datePublished\":\"2024-04-11T09:37:13+00:00\",\"dateModified\":\"2025-02-21T05:38:36+00:00\",\"description\":\"Discover the wide range of films currently on at The Prince Charles Cinema.\",\"breadcrumb\":{\"@id\":\"https:\\/\\/princecharlescinema.com\\/whats-on\\/#breadcrumb\"},\"inLanguage\":\"en-US\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\\/\\/princecharlescinema.com\\/whats-on\\/\"]}]},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\\/\\/princecharlescinema.com\\/whats-on\\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https:\\/\\/princecharlescinema.com\\/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"What’s On\"}]},{\"@type\":\"WebSite\",\"@id\":\"https:\\/\\/princecharlescinema.com\\/#website\",\"url\":\"https:\\/\\/princecharlescinema.com\\/\",\"name\":\"The Prince Charles Cinema\",\"description\":\"\",\"publisher\":{\"@id\":\"https:\\/\\/princecharlescinema.com\\/#organization\"},\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\\/\\/princecharlescinema.com\\/?s={search_term_string}\"},\"query-input\":{\"@type\":\"PropertyValueSpecification\",\"valueRequired\":true,\"valueName\":\"search_term_string\"}}],\"inLanguage\":\"en-US\"},{\"@type\":\"Organization\",\"@id\":\"https:\\/\\/princecharlescinema.com\\/#organization\",\"name\":\"The Prince Charles Cinema\",\"url\":\"https:\\/\\/princecharlescinema.com\\/\",\"logo\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-US\",\"@id\":\"https:\\/\\/princecharlescinema.com\\/#\\/schema\\/logo\\/image\\/\",\"url\":\"https:\\/\\/princecharlescinema.com\\/wp-content\\/uploads\\/2025\\/02\\/PCCLogo_Black.svg\",\"contentUrl\":\"https:\\/\\/princecharlescinema.com\\/wp-content\\/uploads\\/2025\\/02\\/PCCLogo_Black.svg\",\"width\":1074,\"height\":456,\"caption\":\"The Prince Charles Cinema\"},\"image\":{\"@id\":\"https:\\/\\/princecharlescinema.com\\/#\\/schema\\/logo\\/image\\/\"},\"sameAs\":[\"https:\\/\\/www.facebook.com\\/PrinceCharlesCinema\\/\",\"https:\\/\\/x.com\\/ThePCCLondon\",\"https:\\/\\/www.instagram.com\\/princecharlescinema\\/\",\"https:\\/\\/letterboxd.com\\/thepcc\\/\",\"https:\\/\\/www.youtube.com\\/user\\/ThePCCLondon\"]}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch' href='//www.googletagmanager.com' />\n<link rel='dns-prefetch' href='//cdnjs.cloudflare.com' />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"The Prince Char[...]
