{
  "log": {
    "_recordingName": "Ealing Project/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "bd670e911cc8910ea97a6067f1c89982",
        "request": {
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
          "queryString": [],
          "url": "https://www.ealingproject.co.uk/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 65282,
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"21864\",\"name\":\"A Complete Unknown\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"a-complete-unknown\",\"posterImage\":\"uj0j8j7su9o9c8dbhsesfhxv7l98\",\"bannerImage\":\"c8qy16k9115c4xs3uud7fesyn9g7\",\"synopsis\":\"Set in the influential New York music scene of the early 60s, A COMPLETE UNKNOWN follows 19-year-old Minnesota musician BOB DYLAN’s (Timothée Chalamet) meteoric rise as a folk singer to concert halls and the top of the charts – his songs and mystique becoming a worldwide sensation – culminating in his groundbreaking electric rock and roll performance at the Newport Folk Festival in 1965.\",\"starring\":\"Timothée Chalamet, Edward Norton, Elle Fanning, Monica Barbaro, Scoot McNairy, Dan Fogler, Boyd Holbrook\",\"directedBy\":\"James Mangold\",\"producedBy\":\"Timothée Chalamet, James Mangold, Fred Berger, Alex Heineman, Alan Gasmer, Peter Jaysen, Bob Bookman, Jeff Rosen\",\"searchTerms\":\"\",\"duration\":140,\"genre\":\"Drama\",\"allGenres\":\"Drama, Music\",\"rating\":\"15\",\"trailerYoutubeId\":\"Nsvexi2Ulbs\",\"trailerVideo\":null,\"releaseDate\":\"2025-01-17\",\"dateOfFirstShowing\":\"2025-02-28\",\"tmdbPopularityScore\":131.361,\"tmdbId\":\"661539\",\"dcmEdiMovieId\":\"427010\",\"dcmEdiMovieName\":\"Complete Unknown, A (2D) [15]\",\"siteId\":\"101\",\"titleClassId\":\"75\",\"showings\":[{\"id\":\"275191\",\"time\":\"2025-02-28T14:00:00Z\",\"ticketsSold\":12,\"screenId\":\"163\",\"seatsRemaining\":88,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating sc2\\\"}\"},{\"id\":\"275224\",\"time\":\"2025-03-01T16:15:00Z\",\"ticketsSold\":26,\"screenId\":\"164\",\"seatsRemaining\":31,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating sc3\\\"}\"},{\"id\":\"275238\",\"time\":\"2025-03-02T16:00:00Z\",\"ticketsSold\":22,\"screenId\":\"164\",\"seatsRemaining\":35,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating sc3\\\"}\"},{\"id\":\"275247\",\"time\":\"2025-03-03T19:30:00Z\",\"ticketsSold\":7,\"screenId\":\"164\",\[...]
