{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "TicketSource/The Exchange Twickenham/retrieve and find events",
    "entries": [
      {
        "_id": "120a3b6f6632dd2ddf061f4c06743ed6",
        "request": {
          "url": "https://lh632p1up5-dsn.algolia.net/1/indexes/dev_EVENT/query?x-algolia-agent=Algolia%20for%20JavaScript%20%283.35.1%29%3B%20Browser&x-algolia-application-id=LH632P1UP5&x-algolia-api-key=239323e27e42c7e84a9f43482ff0d662",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [
            {
              "name": "x-algolia-agent",
              "value": "Algolia for JavaScript (3.35.1); Browser"
            },
            {
              "name": "x-algolia-application-id",
              "value": "LH632P1UP5"
            },
            {
              "name": "x-algolia-api-key",
              "value": "239323e27e42c7e84a9f43482ff0d662"
            }
          ],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"params\":\"query=&removeStopWords=true&page=0&getRankingInfo=true&facets=*&filters=category%3A%27film%27&numericFilters=timestamp+%3E%3D+1764460800%2CfilterTimestamp+%3E%3D+1767052800&aroundLatLng=51.49028%2C+-0.12324&aroundRadius=24140&aroundPrecision=24140\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-disposition",
              "value": "inline; filename=a.txt"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-alg-pt",
              "value": "1"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "text": "{\"hits\":[{\"eventHash\":\"e-dlzzjv\",\"dateHash\":\"d-rygglkferyazw\",\"timeHash\":\"t-jxzvzpr\",\"promoterID\":24089,\"performanceID\":\"FMHLFHI\",\"event\":\"Ten\",\"eventID\":1263496,\"venueID\":1402371,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"other\",\"venue\":\"Close-Up Cinema\",\"location\":\"london\",\"venueAdd1\":\"97 Sclater St\",\"venueAdd2\":\"London\",\"venueAdd3\":\"\",\"venueAdd4\":\"\",\"venuePostcode\":\"E1 6HR\",\"timestamp\":1767298500,\"filterTimestamp\":1767296700,\"deletionTimestamp\":1769888700,\"timezone\":\"GMT\",\"dateTimeString\":\"Thursday 1st January 2026 08:15:00 PM\",\"eventDescription\":\"\",\"eventSlug\":\"ten\",\"banner\":\"24089-17660019690118-s.png\",\"venueSlug\":\"close-up-cinema\",\"locationSlug\":\"97-sclater-st\",\"gateway\":\"TS\",\"promoter\":\"Close-Up Film Centre\",\"promoterNameURL\":\"close-up-cinema\",\"_geoloc\":{\"lat\":51.523567,\"lng\":-0.072056},\"multiDayTimePerformance\":false,\"multiDayTimePerformanceHash\":\"EHDFGKE20260101\",\"objectID\":\"2948245\",\"_highlightResult\":{\"performanceID\":{\"value\":\"FMHLFHI\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"event\":{\"value\":\"Ten\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventID\":{\"value\":\"1263496\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"hint\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"keywords\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"category\":{\"value\":\"film\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"genre\":{\"value\":\"other\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"venue\":{\"value\":\"Close-Up Cinema\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"location\":{\"value\":\"london\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"dateTimeString\":{\"value\":\"Thursday 1st January 2026 08:15:00 PM\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventSlug\":{\"value\":\"ten\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoter\":{\"value\":\"Close-Up Film Centre\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoterNameURL\":{\"value\":\"close-up-cinema\",\"matchLevel\":\"none\",\"matchedWords\":[]}},\"_rankingInfo\":{\"nbTypos\":0,\"firstMatchedWord\":0,\"proximityDistance\":0,\"userScore\":42154,\"geoDistance\":0,\"geoPrecision\":24140,\"nbExactWords\":0,\"words\":0,\"filters\":1,\"matchedGeoLocation\":{\"lat\":51.5235,\"lng\":-0.0721,\"distance\":5126}}},{\"eventHash\":\"e-xpvpzd\",\"dateHash\":\"d-bbgbonszmylxe\",\"timeHash\":\"t-jxzjlld\",\"promoterID\":139207,\"performanceID\":\"FMHIGHI\",\"event\":\"The Turtle\",\"eventID\":1262288,\"venueID\":1401097,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"drama\",\"venue\":\"Close Up cinema\",\"location\":\"london\",\"venueAdd1\":\"97 Sclater Steet\",\"venueAdd2\":\"Shoreditch\",\"venueAdd3\":\"London\",\"venueAdd4\":\"United Kingdom\",\"venuePostcode\":\"E1 6HR\",\"timest[...]
