{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "CLIQ/Galleria Objets/retrieve and find events",
    "entries": [
      {
        "_id": "d2ff3cd8f9e34ac8be5d1610f238e3b5",
        "request": {
          "url": "https://api.thecliq.app/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"query { clubs { clubId name slug } }\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "blocked",
              "value": "false"
            },
            {
              "name": "chat-count",
              "value": "0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2fb47-7BpqN/CtD50V4Q09TGMUrJy6W/o\""
            },
            {
              "name": "force-update",
              "value": "false"
            },
            {
              "name": "notification-count",
              "value": "0"
            },
            {
              "name": "onboarded",
              "value": "true"
            },
            {
              "name": "status",
              "value": ""
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"clubs\":[{\"clubId\":\"2508c3e0-10f5-43c3-a682-de6faf67c52e\",\"name\":\"Medichecks\",\"slug\":\"medichecks\"},{\"clubId\":\"01a4e6a9-7776-4bf5-9688-07c1a5e6e233\",\"name\":\"The Movement Blueprint\",\"slug\":\"the-movement-blueprint\"},{\"clubId\":\"013dcdcb-adb4-4db1-b6b5-3ca54708abc1\",\"name\":\"Fellow Humans London\",\"slug\":\"fellow-humans-london\"},{\"clubId\":\"dd21ead1-0aae-4b1d-9a5d-ca24eaec2538\",\"name\":\"Vongole & Bottarga - Aperitivo Collective\",\"slug\":\"vongole-and-bottarga-aperitivo-collective\"},{\"clubId\":\"300d1579-0a5b-4ffa-80b4-f406c2081da9\",\"name\":\"american[...]
