{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "TicketSource/Everyman Chelsea/retrieve and find events",
    "entries": [
      {
        "_id": "3a2ccd8ef6cbd55f5607b0589c904011",
        "request": {
          "url": "https://lh632p1up5-dsn.algolia.net/1/indexes/dev_EVENT/query?x-algolia-agent=Algolia%20for%20JavaScript%20%283.35.1%29%3B%20Browser&x-algolia-application-id=LH632P1UP5&x-algolia-api-key=239323e27e42c7e84a9f43482ff0d662",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [
            {
              "name": "x-algolia-agent",
              "value": "Algolia for JavaScript (3.35.1); Browser"
            },
            {
              "name": "x-algolia-application-id",
              "value": "LH632P1UP5"
            },
            {
              "name": "x-algolia-api-key",
              "value": "239323e27e42c7e84a9f43482ff0d662"
            }
          ],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"params\":\"query=&removeStopWords=true&page=0&getRankingInfo=true&facets=*&filters=category%3A%27film%27&numericFilters=timestamp+%3E%3D+1761523200%2CfilterTimestamp+%3E%3D+1764201600&aroundLatLng=51.49028%2C+-0.12324&aroundRadius=24140&aroundPrecision=24140\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-disposition",
              "value": "inline; filename=a.txt"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-alg-pt",
              "value": "1"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "text": "{\"hits\":[{\"eventHash\":\"e-leoaeo\",\"dateHash\":\"d-pazkaztygkqxl\",\"timeHash\":\"t-glxvlro\",\"promoterID\":141618,\"performanceID\":\"FMDHHFK\",\"event\":\"Wicked For Good at Reel Cinema Borehamwood\",\"eventID\":1243531,\"venueID\":1380901,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"musical\",\"venue\":\"Reel Cinema Borehamwood\",\"location\":\"borehamwood\",\"venueAdd1\":\"84 Shenley Road\",\"venueAdd2\":\"Borehamwood\",\"venueAdd3\":\"\",\"venueAdd4\":\"United Kingdom\",\"venuePostcode\":\"WD6 1EH\",\"timestamp\":1764271800,\"filterTimestamp\":1764268200,\"deletionTimestamp\":1766860200,\"timezone\":\"GMT\",\"dateTimeString\":\"Thursday 27th November 2025 07:30:00 PM\",\"eventDescription\":\"Sky Studios Elstree Wicked for Good    Join us at Reel Cinema and enjoy a magical experience watching Wicked For Good...\",\"eventSlug\":\"wicked-for-good-at-reel-cinema-borehamwood\",\"banner\":\"141618-17616463802538-s.png\",\"venueSlug\":\"reel-cinema-borehamwood\",\"locationSlug\":\"borehamwood\",\"gateway\":\"TS\",\"promoter\":\"Sky Studios Elstree\",\"promoterNameURL\":\"sky-studios-elstree\",\"_geoloc\":{\"lat\":51.655608,\"lng\":-0.275783},\"multiDayTimePerformance\":false,\"multiDayTimePerformanceHash\":\"EGLDMDE20251127\",\"objectID\":\"2904427\",\"_highlightResult\":{\"performanceID\":{\"value\":\"FMDHHFK\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"event\":{\"value\":\"Wicked For Good at Reel Cinema Borehamwood\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventID\":{\"value\":\"1243531\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"hint\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"keywords\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"category\":{\"value\":\"film\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"genre\":{\"value\":\"musical\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"venue\":{\"value\":\"Reel Cinema Borehamwood\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"location\":{\"value\":\"borehamwood\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"dateTimeString\":{\"value\":\"Thursday 27th November 2025 07:30:00 PM\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventSlug\":{\"value\":\"wicked-for-good-at-reel-cinema-borehamwood\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoter\":{\"value\":\"Sky Studios Elstree\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoterNameURL\":{\"value\":\"sky-studios-elstree\",\"matchLevel\":\"none\",\"matchedWords\":[]}},\"_rankingInfo\":{\"nbTypos\":0,\"firstMatchedWord\":0,\"proximityDistance\":0,\"userScore\":77045,\"geoDistance\":0,\"geoPrecision\":24140,\"nbExactWords\":0,\"words\":0,\"filters\":1,\"matchedGeoLocation\":{\"lat\":51.6556,\"lng\":-0.2758,\"distance\":21203}}},{\"eventHash\":\"e-erxgmk\",\"dateHash\":\"d-kqzrlkivmpbly\",\"timeHash\":\"t-pqpmkej\",\"promoterID\":2703,\"performanceID\":\"FKKFLLI\",\"event\":\"Members&#8217; Choice : 23 Walks + My Sweet Paro\",\"eventID\":1192960,\"venueID\":1326832,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"drama\",\"venue\":\"Langley Park Centre for the Performing Arts (Beckenham)\",\"location\":\"beckenham\",\"venueAdd1\":\"Langley Park School For Boys\",\"venueAdd2\":\"Hawksbrook Lane\[...]
