{
  "log": {
    "_recordingName": "Curzon Aldgate/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d8779996a9d7cde6fb4edb12b4b08257",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/aldgate/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Faldgate%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 51714,
            "text": "{\"name\":\"Aldgate\",\"urlSegment\":\"aldgate\",\"url\":\"/venues/aldgate/\",\"nodeId\":1784,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:18:31\\u002B01:00\",\"updateDate\":\"2025-06-24T08:15:50\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Aldgate. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Aldgate Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Aldgate Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[{\"name\":\"gridCarouselQuotes\",\"columns\":[{\"size\":12,\"elements\":[{\"type\":\"gridCarouselQuotes\",\"value\":[{\"stars\":5,\"quoteHeadline\":\"Fantastic, from start to finish.\",\"subHeadline\":\"Bloomers, Google Local Guide\",\"backgroundColour\":{\"color\":\"00788d\",\"label\":\"blue\"}},{\"stars\":5,\"quoteHeadline\":\"Excellent cinema, excellent staff.\",\"subHeadline\":\"Shelley McPhee, Google Local Guide\",\"backgroundColour\":{\"color\":\"ff8200\",\"label\":\"orange\"}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"config\":{}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/c5upoeri/curzon-aldgate-bar-area.jpg?width=393\\u0026height=169\\u0026v=1daf1d80a531d20\",\"tablet\":\"/media/c5upoeri/curzon-aldgate-bar-area.jpg?width=782\\u0026height=315\\u0026v=1daf1d80a531d20\",\"desktop\":\"/media/c5upoeri/curzon-aldgate-bar-area.jpg?width=1216\\u0026height=523\\u0026v=1daf1d80a531d20\",\"alt\":\"\"},\"textHeading\":\"Welcome to Curzon Aldgate\",\"actionLink\":{\"name\":\"Take a Tour\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/aldgate/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLink\":{\"name\":\"Find Out More\",\"url\":\"https://www.curzon.com/charity/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/pjsj0oss/pepperoni.jpg?width=393\\u0026height=169\\u0026v=1daf1d80a3f4700\",\"tablet\":\"/media/pjsj0oss/pepperoni.jpg?width=782\\u0026height=315\\u0026v=1daf1d80a3f4700\",\"desktop\":\"/media/pjsj0oss/pepperoni.jpg?width=1216\\u0026height=523\\u0026v=1daf1d80a3f4700\",\"alt\":\"\"},\"textHeading\":\"Food and Drink\",\"actionLink\":{\"name\":\"View Menu\",\"target\":\"_blank\",\"url\":\"/media/j10nivdb/menu-2.pdf\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/dfbazwtk/ph-aldgate.webp?width=393\\u0026height=169\\u0026v=1daf1d80a500fe0\",\"tablet\":\"/media/dfbazwtk/ph-aldgate.webp?width=782\\u0026height=315\\u0026v=1daf1d80a500fe0\",\"desktop\":\"/media/dfbazwtk/ph-aldgate.webp?width=1216\\u0026height=523\\u0026v=1daf1d80a500fe0\",\"alt\":\"\"},\"textHeading\":\"Hire This Space\",\"actionLink\":{\"[...]
