{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Aldgate/retrieve and transform",
    "entries": [
      {
        "_id": "d8779996a9d7cde6fb4edb12b4b08257",
        "request": {
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Faldgate%2F",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/aldgate/"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "api-supported-versions",
              "value": "1.0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:08:28 GMT"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"name\":\"Aldgate\",\"urlSegment\":\"aldgate\",\"url\":\"/venues/aldgate/\",\"nodeId\":1784,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:18:31\\u002B01:00\",\"updateDate\":\"2026-01-28T09:51:56\\u002B00:00\",\"versions\":{\"\":\"https://www.curzon.com/venues/aldgate/\"},\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Aldgate. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Aldgate Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Aldgate Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[{\"name\":\"gridCarouselQuotes\",\"columns\":[{\"size\":12,\"elements\":[{\"type\":\"gridCarouselQuotes\",\"value\":[{\"stars\":5,\"quoteHeadline\":\"Fantastic, from start to finish.\",\"subHeadline\":\"Bloomers, Google Local Guide\",\"backgroundColour\":{\"color\":\"00788d\",\"label\":\"blue\"}},{\"stars\":5,\"quoteHeadline\":\"Excellent cinema, excellent staff.\",\"subHeadline\":\"Shelley McPhee, Google Local Guide\",\"backgroundColour\":{\"color\":\"ff8200\",\"label\":\"orange\"}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"config\":{}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/v3bmqdhf/open.webp?width=393\\u0026height=169\\u0026v=1dc903b9a6542f0\",\"tablet\":\"/media/v3bmqdhf/open.webp?width=782\\u0026height=315\\u0026v=1dc903b9a6542f0\",\"desktop\":\"/media/v3bmqdhf/open.webp?width=1216\\u0026height=523\\u0026v=1dc903b9a6542f0\",\"alt\":\"\"},\"textHeading\":\"ON TUESDAY 3 FEBRUARY OUR VENUES WILL OPEN AT 12PM\"},{\"image\":{\"mobile\":\"/media/c5upoeri/curzon-aldgate-bar-area.jpg?width=393\\u0026height=169\\u0026v=1daf1d80a531d20\",\"tablet\":\"/media/c5upoeri/curzon-aldgate-bar-area.jpg?width=782\\u0026height=315\\u0026v=1daf1d80a531d20\",\"desktop\":\"/media/c5upoeri/curzon-aldgate-bar-area.jpg?width=1216\\u0026height=523\\u0026v=1daf1d80a531d20\",\"alt\":\"\"},\"textHeading\":\"Welcome to Curzon Aldgate\",\"actionLink\":{\"name\":\"Take a Tour\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/aldgate/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/px2iem4l/st-mungos-web.jpg?width=393\\u0026height=169\\u0026v=1dc44fc6573af80\",\"tablet\":\"/media/px2iem4l/st-mungos-web.jpg?width=782\\u0026height=315\\u0026v=1dc44fc6573af80\",\"desktop\":\"/media/px2iem4l/st-mungos-web.jpg?width=1216\\u0026height=523\\u0026v=1dc44fc6573af80\",\"alt\":\"\"},\"textHeading\":\"Support St Mungo\\u0027s on your Curzon cinema visit\",\"actionLink\":{\"name\":\"Find Out More\",\"url\":\"https://www.curzon.com/charity/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/pjsj0oss/pepperoni.jpg?width=393\\u0026height=169\\u0026v=1daf1d80a3f4700\",\"tablet\":\"/media/pjsj0oss/pepperoni.jpg?width=782\\u0026height=315\\u0026v=1daf1d80a3f4700\",\"desktop\":\"/media/pjsj0oss/pepperoni.jpg?width=1216\\u0026height=523\\u0026v=1daf1d80a3f4700\",\"alt\":\"\"},\"textHeading\":\"Food and Drink\",\"actionLink\":{\"name\":\"View Menu\",\"target\":\"_blank\",\"url\":\"/media/kicbgmeo/menu-2_oct2025_updated.pdf\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/dfbazwtk/ph-aldgate.webp?width=393\\u0026height=169\\u0026v=1daf1d80a500fe0\",\"tablet\":\"/media/dfbazwtk/ph-aldgate.webp?width=782\\u0026height=315\\u0026v=1daf1d80a500fe0\",\"desktop\":\"/media/dfbazwtk/ph-aldgate.webp?width=1216\\u0026height=523\\u0026v=1daf1d80a500fe0\",\"alt\":\"\"},\"textHeading\":\"Hire This Space\",\"[...]
