{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Aldgate/retrieve and transform",
    "entries": [
      {
        "_id": "c7e577562cb9143acf76efb0cadee261",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=ALD1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "ALD1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:05:17 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006931\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006951\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007150\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00007148\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeI[...]
