{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Aldgate/retrieve and transform",
    "entries": [
      {
        "_id": "16bc7d5dc3c34f75be04b4acaa1c4a0e",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=ALD1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "ALD1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006679\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006680\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006609\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"ALD1\",\"showtimeAttributeIds\":[\"0000000059\",\"0000000055\"]}]}]},{\"businessDate\":\"2026-01-30\",\"filmScreenings\":[{\"filmId\":\"HO00006677\",\"sites\"[...]
