{
  "log": {
    "_recordingName": "Curzon Soho/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4b4c3addd9ac43993852e5b4ab72a404",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/soho/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fsoho%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 51157,
            "text": "{\"name\":\"Soho\",\"urlSegment\":\"soho\",\"url\":\"/venues/soho/\",\"nodeId\":1812,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:58:40\\u002B01:00\",\"updateDate\":\"2025-06-24T08:25:12\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Soho. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Soho Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Soho Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[{\"name\":\"gridCarouselQuotes\",\"columns\":[{\"size\":12,\"elements\":[{\"type\":\"gridCarouselQuotes\",\"value\":[{\"stars\":5,\"quoteHeadline\":\"On every level this is the perfect cinema experience.\",\"subHeadline\":\"Sleazy Michael, google reviews\",\"backgroundColour\":{\"color\":\"ff8200\",\"label\":\"orange\"}},{\"stars\":5,\"quoteHeadline\":\"What a beautiful cinema ! So nicely decorated, very comfy and so perfectly located.\",\"subHeadline\":\"Claire Vernade, google reviews\",\"backgroundColour\":{\"color\":\"f6eb61\",\"label\":\"yellow\"}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"config\":{}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/mu0hr43q/soho3.jpg?width=393\\u0026height=169\\u0026v=1dbb9f206382a90\",\"tablet\":\"/media/mu0hr43q/soho3.jpg?width=782\\u0026height=315\\u0026v=1dbb9f206382a90\",\"desktop\":\"/media/mu0hr43q/soho3.jpg?width=1216\\u0026height=523\\u0026v=1dbb9f206382a90\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON SOHO\",\"actionLink\":{\"name\":\"take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/soho/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLinkBackgroundColor\":{\"color\":\"f8[...]
