{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Lee Valley/retrieve and transform",
    "entries": [
      {
        "_id": "66aa440a9b7905df5e27aca664af6b45",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=949",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "949"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "bravo",
              "value": "bravo"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:44:16 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008082\",\"sites\":[{\"siteId\":\"949\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008327\",\"sites\":[{\"siteId\":\"949\",\"showtimeAttributeIds\":[\"0000000048\",\"0000000187\",\"0000000065\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"949\",\"showtimeAttributeIds\":[\"0000000035\",\"0000000003\",\"0000000192\",\"0000000006\",\"0000000187\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008222\",\"sites\":[{\"siteId\":\"949\",\"showtimeAttributeIds\":[\"00000001[...]
