{
  "log": {
    "_recordingName": "Curzon Wimbledon/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c0ada43b8d4051587b7058c8056c2ac0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/wimbledon/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fwimbledon%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 43603,
            "text": "{\"name\":\"Wimbledon\",\"urlSegment\":\"wimbledon\",\"url\":\"/venues/wimbledon/\",\"nodeId\":1814,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:58:55\\u002B01:00\",\"updateDate\":\"2025-06-24T08:25:48\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Wimbledon. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Wimbledon Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Wimbledon Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/t5vjlgdo/wimbledon-bar2.jpg?width=393\\u0026height=169\\u0026v=1dbdd01fbb23e70\",\"tablet\":\"/media/t5vjlgdo/wimbledon-bar2.jpg?width=782\\u0026height=315\\u0026v=1dbdd01fbb23e70\",\"desktop\":\"/media/t5vjlgdo/wimbledon-bar2.jpg?width=1216\\u0026height=523\\u0026v=1dbdd01fbb23e70\",\"alt\":\"\"},\"textHeading\":\"Welcome to Curzon Wimbledon\"},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/qdydgzxw/dips-web.jpg?width=393\\u0026height=169\\u0026v=1dbb9e5e6e5c9b0\",\"tablet\":\"/media/qdydgzxw/dips-web.jpg?width=782\\u0026height=315\\u0026v=1dbb9e5e6e5c9b0\",\"desktop\":\"/media/qdydgzxw/dips-web.jpg?width=1216\\u0026height=523\\u0026v=1dbb9e5e6e5c9b0\",\"alt\":\"\"},\"textHeading\":\"Food and Drink\",\"actionLink\":{\"name\":\"view Menu\",\"target\":\"_blank\",\"url\":\"/media/i3kpivuc/menu-4.pdf\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/yquptpik/ph-wimbledon.jpg?width=393\\u0026height=169\\u0026v=1dbdd022682a1d0\",\"tablet\":\"/media/yquptpik/ph-wimbledon.jpg?width=782\\u0026height=315\\u0026v=1dbdd022682a1d0\",\"desktop\":\"/media/yquptpik/ph-wimbledon.jpg?width=1216\\u0026height=523\\u0026v=1dbdd022682a1d0\",\"alt\":\"\"},\"textHeading\":\"HIRE THIS SPACE\",\"actionLink\":[...]
