{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Wimbledon/retrieve and transform",
    "entries": [
      {
        "_id": "c0ada43b8d4051587b7058c8056c2ac0",
        "request": {
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fwimbledon%2F",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/wimbledon/"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "api-supported-versions",
              "value": "1.0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:08:22 GMT"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"name\":\"Wimbledon\",\"urlSegment\":\"wimbledon\",\"url\":\"/venues/wimbledon/\",\"nodeId\":1814,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:58:55\\u002B01:00\",\"updateDate\":\"2026-01-28T09:54:27\\u002B00:00\",\"versions\":{\"\":\"https://www.curzon.com/venues/wimbledon/\"},\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Wimbledon. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Wimbledon Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Wimbledon Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/v3bmqdhf/open.webp?width=393\\u0026height=169\\u0026v=1dc903b9a6542f0\",\"tablet\":\"/media/v3bmqdhf/open.webp?width=782\\u0026height=315\\u0026v=1dc903b9a6542f0\",\"desktop\":\"/media/v3bmqdhf/open.webp?width=1216\\u0026height=523\\u0026v=1dc903b9a6542f0\",\"alt\":\"\"},\"textHeading\":\"ON TUESDAY 3 FEBRUARY OUR VENUES WILL OPEN AT 12PM\"},{\"image\":{\"mobile\":\"/media/f2jnmdx3/wimbledon-2-2025.webp?width=393\\u0026height=169\\u0026v=1dc2ede24027330\",\"tablet\":\"/media/f2jnmdx3/wimbledon-2-2025.webp?width=782\\u0026height=315\\u0026v=1dc2ede24027330\",\"desktop\":\"/media/f2jnmdx3/wimbledon-2-2025.webp?width=1216\\u0026height=523\\u0026v=1dc2ede24027330\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON WIMBLEDON\"},{\"image\":{\"mobile\":\"/media/px2iem4l/st-mungos-web.jpg?width=393\\u0026height=169\\u0026v=1dc44fc6573af80\",\"tablet\":\"/media/px2iem4l/st-mungos-web.jpg?width=782\\u0026height=315\\u0026v=1dc44fc6573af80\",\"desktop\":\"/media/px2iem4l/st-mungos-web.jpg?width=1216\\u0026height=523\\u0026v=1dc44fc6573af80\",\"alt\":\"\"},\"textHeading\":\"Support St Mungo\\u0027s on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"https://www.curzon.com/charity/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/qdydgzxw/dips-web.jpg?width=393\\u0026height=169\\u0026v=1dbb9e5e6e5c9b0\",\"tablet\":\"/media/qdydgzxw/dips-web.jpg?width=782\\u0026height=315\\u0026v=1dbb9e5e6e5c9b0\",\"desktop\":\"/media/qdydgzxw/dips-web.jpg?width=1216\\u0026height=523\\u0026v=1dbb9e5e6e5c9b0\",\"alt\":\"\"},\"textHeading\":\"FOOD \\u0026 DRINK\",\"actionLink\":{\"name\":\"VIEW MENU\",\"target\":\"_blank\",\"url\":\"/media/gkmfs5jo/menu-6_oct2025_updated.pdf\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/5nujqtyh/wimbledon1-2025.webp?width=393\\u0026height=169\\u0026v=1dc2ede2435df40\",\"tablet\":\"/media/5nujqtyh/wimbledon1-2025.webp?width=782\\u0026height=315\\u0026v=1dc2ede2435df40\",\"desktop\":\"/media/5nujqtyh/wimbledon1-2025.webp?width=1216\\u0026height=523\\u0026v=1dc2ede2435df40\",\"alt\":\"\"},\"textHeading\":\"THREE NEWLY REFURBISHED SCREENS\"}],\"cinemaLocationDetailsElement\":{\"venueCardImage\":{\"mobile\":\"/media/4ypeoexv/wimbledon-web.webp?width=300\\u0026height=160\\u0026v=1dc295049a5d700\",\"alt\":\"\"},\"addressLine1\":\"23 The Broadway\",\"city\":\"London\",\"postcode\":\"SW19 1RE\",\"nearestStationName\":\"Wimbledon\",\"nearestStationType\":\"underground\"},\"vistaCinema\":{\"key\":\"WIM01\",\"value\":\"Wimbledon\"},\"informationTabAccordions\":[{\"heading\":\"Opening times\",\"body\":\"\\u003Cp\\u003E\\u003Cstrong\\u003EMonday to Saturday:\\u003C/strong\\u003E The cinema opens 30 minutes before the first show\\u0027s programme begins and closes at midnight.\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cstrong\\u003ESunday:\\u003C/strong\\u003E Closes at 11.30pm.\\u003C/p\\u003E\\n\\u003Cp\\u003E\\u003Cem\\u003EPlease be aware opening and closing times may be subject to change.\\u003C/em\\u003E\\u003C/p\\u003E\"},{\"heading\":\"Screen info\",\"body\":\"\\u003Cp\\u003E\\u003Cstrong\[...]
