{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Clyx/The Woodfield Pavilion/retrieve and find events",
    "entries": [
      {
        "_id": "472538af71adab7caff6a5d7207c8293",
        "request": {
          "url": "https://app.clyx.com/api/map/feed/list/web?page=1&pageSize=200&citiesIds%5B0%5D=ef6c2cc0-ef51-4f87-8835-ae615b6b7841",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "pageSize",
              "value": "200"
            },
            {
              "name": "citiesIds",
              "value": "ef6c2cc0-ef51-4f87-8835-ae615b6b7841",
              "_fromType": "array"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"14b3e-gU9BW4dNQmz+hTyvm0n7ZoSb/Zs\""
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":[{\"id\":\"57c6c476-f1a3-488d-be78-ba3a1f42e7a1\",\"target\":\"event\",\"name\":\"GoodFilmHunting #5\",\"description\":\"<p>Goodfilm Hunting #5<br><br>Quick recap for the newcomers: we are Goodfilm Hunting, a London-based film club started by 3 friends, on a mission to build a community around cinema. <br><br>We get it, life gets busy, and a 3-hour pretentious film in a language you can’t speak without any English subs or even sound for that matter isn’t always what the evening calls for. So we’ve done the curation for you: a series of 90-minute bangers (give or take), films you might not have caught before, ones that spark great conversations and might just inspire you to venture deeper into cinema. <br><br>This time round we’re moving our asses to the mystical Pedaller’s Corner in Stoke Newington for a special summery Spanish edition. <br><br>Tickets are limited, so grab yours and share with your people: friends, family, colleagues, bingo partners, whoever. <br><br>Love, Monty, Tom and Hugo</p>\",\"createdAt\":\"2026-08-08T10:48:26.217\",\"locations\":[{\"id\":\"08b3f4f7-0117-4825-a4c9-14bd75730b1f\",\"address\":\"129-131 Stoke Newington Road, London, UK\",\"locationName\":\"Pedaller's Corner - Cafe\",\"latitude\":51.5562012,\"longitude\":-0.07475989999999999}],\"startDate\":\"2026-09-17T19:30:00.000\",\"endDate\":\"2026-09-17T23:00:00.000\",\"timeZone\":\"Europe/London\",\"timeZoneAbbreviation\":\"BST\",\"image\":\"https://storage.googleapis.com/clyx-production-bucket/events%2F57c6c476-f1a3-488d-be78-ba3a1f42e7a1%2F6b085b9a-b7ad-46c6-a3ba-04b89c2046ea%2F3b34e96d-e5d8-4bee-a670-9f99f3afa470.webp\",\"company\":{\"id\":\"c62e9d5f-66de-4866-8d3f-f728839dc306\",\"name\":\"GoodFilmHunting\",\"image\":{\"url\":\"https://storage.googleapis.com/clyx-production-bucket/companies%2Fc62e9d5f-66de-4866-8d3f-f728839dc306%2F3082bc0d-1036-4bfa-b53c-5da7c740cbfc.webp\"},\"url\":null},\"events\":[],\"city\":{\"id\":\"ef6c2cc0-ef51-4f87-8835-ae615b6b7841\",\"name\":\"London\",\"country\":\"UK\",\"longitude\":-0.1275862,\"latitude\":51.5072178},\"slug\":\"goodfilmhunting-5\",\"intentFriends\":[],\"status\":\"normal\",\"likedCount\":11,\"isBought\":false,\"isLiked\":false,\"leftSeats\":10,\"currency\":\"gbp\",\"seatsOccupied\":30,\"suggestedFriend\":null},{\"id\":\"28338155-c33c-455d-af10-adfd5a68cd9d\",\"target\":\"event\",\"name\":\"Coffeehouse Cinema London\",\"description\":\"<p><strong>Coffeehouse Cinema is coming to London.</strong></p><p>Join us for an evening of great movies, meaningful conversation, and connection with filmmakers and fellow film lovers.</p><p>Coffeehouse Cinema is built around a simple idea: films are better when we experience them together. Every screening brings new stories, new filmmakers, and new people into the room, creating a space for discovery, conversation, and community.</p><p>For the first time, we’re bringing that experience to London.<br></p><p><strong>Curated short films. Watched together.</strong><br></p><p><strong>What to Expect</strong></p><p>Come early, grab a drink, and settle in with fellow filmmakers and film lovers before the screening begins.<br></p><p>At 7:00 PM, we’ll kick off a curated program of short films selected by Coffeehouse Cinema. After the films, stick around for conversation with the filmmakers and the people behind the work.<br></p><p>The evening is designed to feel less like a traditional theater screening and more like gathering with a room full of people who genuinely love movies.<br></p><p><strong>Expect:</strong></p><ul><li><p><strong>A thoughtfully curated selection of short films</strong></p></li><li><p><strong>Time to meet filmmakers, creatives, and fellow film lovers</strong></p></li><li><p><strong>Conversation and filmmaker Q&amp;A following the screening</strong></p></li><li><p><strong>A relaxed atmosphere at Mason &amp; Fifth</strong></p></li><li><p><strong>Plenty of time to hang out and connect before and after the films</strong></p></li></ul><p></p><p><strong>Come for the movies. Stay for the conversation.[...]
