{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Clyx/The Woodfield Pavilion/retrieve and find events",
    "entries": [
      {
        "_id": "24c1dc2a1702a44dbff29bee16c94405",
        "request": {
          "url": "https://app.clyx.com/api/company/coffeehouse-cinema/activity/list?page=1&pageSize=50",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "pageSize",
              "value": "50"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"18df-iWs8jMObLt9Ju7yOtUrywQCdePE\""
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":[{\"id\":\"52921bac-cdc4-40ef-9b1a-5d08cfe12d2e\",\"target\":\"event\",\"name\":\"Coffeehouse Cinema Vol. 9\",\"type\":\"manual\",\"description\":\"<p><strong>Coffeehouse Cinema is back for Vol. 9.</strong></p><p>Join us for an evening of great movies, meaningful conversation, and connection with filmmakers and fellow film lovers.</p><p>Coffeehouse Cinema is built around a simple idea: films are better when we experience them together. Every screening brings new stories, new filmmakers, and new people into the room, creating a space for discovery, conversation, and community.</p><p>Curated short films. Watched together.<br></p><p><strong>What to Expect</strong></p><p>Come early, grab a drink, and settle in with fellow filmmakers and film lovers before the screening begins.</p><p>At 8:00 PM, we’ll kick off a curated program of short films selected by Coffeehouse Cinema. After the films, stick around for conversation with the filmmakers and the people behind the work.</p><p>The evening is designed to feel less like a traditional theater screening and more like gathering with a room full of people who genuinely love movies.<br></p><p><strong>Expect:</strong></p><ul><li><p>A thoughtfully curated selection of short films</p></li><li><p>Time to meet filmmakers, creatives, and fellow film lovers</p></li><li><p>Conversation and filmmaker Q&amp;A following the screening</p></li><li><p>Drinks and a relaxed atmosphere at Re/creation Cafe</p></li><li><p>Plenty of time to hang out and connect before and after the films</p></li></ul><p></p><p><strong>Come for the movies. Stay for the conversation.</strong><br></p><p><strong>Event Details</strong></p><p>Thursday, September 17th<br><br>Re/creation Cafe<br>4510 W Washington Blvd<br>Los Angeles, CA 90016</p><p>Doors Open: 7:00 PM<br>Screening Begins: 8:00 PM</p>\",\"createdAt\":\"2026-09-02T21:28:04.371Z\",\"locations\":[{\"id\":\"b2ed9bcf-59fa-4762-bdea-5208d381f52c\",\"address\":\"4510 West Washington Boulevard, Los Angeles, CA, USA\",\"locationName\":\"Re/creation Cafe\",\"latitude\":34.03963,\"longitude\":-118.33806}],\"startDate\":\"2026-09-17T19:00:00.000\",\"endDate\":\"2026-09-17T22:30:00.000\",\"timeZone\":\"America/Los_Angeles\",\"timeZoneAbbreviation\":\"PDT\",\"image\":\"https://storage.googleapis.com/clyx-production-bucket/events%2F8bb72475-1966-4246-b0b5-0a6b960b3af4%2Fc258955c-fa10-4663-8843-7afef0ff8131%2F420b1167-7c8b-4a74-8ec2-7ef2f67e1259.webp\",\"company\":{\"id\":\"55f5cb38-2302-4b1f-9e60-3f41e966f933\",\"name\":\"Coffeehouse Cinema\",\"image\":{\"filePath\":\"companies/55f5cb38-2302-4b1f-9e60-3f41e966f933/ebe2c84e-5215-4636-b5e0-f0321652439c.webp\",\"url\":\"https://storage.googleapis.com/clyx-production-bucket/companies%2F55f5cb38-2302-4b1f-9e60-3f41e966f933%2Febe2c84e-5215-4636-b5e0-f0321652439c.webp\"},\"url\":null},\"events\":[],\"city\":{\"id\":\"9bef24ec-2a3e-41e6-80ad-39edbe889eed\",\"name\":\"Los Angeles\",\"country\":\"USA\",\"timeZone\":\"America/Los_Angeles\",\"longitude\":-118.242643,\"latitude\":34.0549076},\"slug\":\"coffeehouse-cinema-vol-9\",\"membersCount\":0,\"photos\":[]},{\"id\":\"28338155-c33c-455d-af10-adfd5a68cd9d\",\"target\":\"event\",\"name\":\"Coffeehouse Cinema London\",\"type\":\"manual\",\"description\":\"<p><strong>Coffeehouse Cinema is coming to London.</strong></p><p>Join us for an evening of great movies, meaningful conversation, and connection with filmmakers and fellow film lovers.</p><p>Coffeehouse Cinema is built around a simple idea: films are better when we experience them together. Every screening brings new stories, new filmmakers, and [...]
