{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Victoria/retrieve and transform",
    "entries": [
      {
        "_id": "28adfa8d9b17ca3d04d1226fed0f0bd6",
        "request": {
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fvictoria%2F",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/victoria/"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "api-supported-versions",
              "value": "1.0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:08:30 GMT"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"name\":\"Victoria\",\"urlSegment\":\"victoria\",\"url\":\"/venues/victoria/\",\"nodeId\":1813,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:58:46\\u002B01:00\",\"updateDate\":\"2026-01-28T09:54:17\\u002B00:00\",\"versions\":{\"\":\"https://www.curzon.com/venues/victoria/\"},\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Victoria. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Victoria Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Victoria Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/v3bmqdhf/open.webp?width=393\\u0026height=169\\u0026v=1dc903b9a6542f0\",\"tablet\":\"/media/v3bmqdhf/open.webp?width=782\\u0026height=315\\u0026v=1dc903b9a6542f0\",\"desktop\":\"/media/v3bmqdhf/open.webp?width=1216\\u0026height=523\\u0026v=1dc903b9a6542f0\",\"alt\":\"\"},\"textHeading\":\"ON TUESDAY 3 FEBRUARY OUR VENUES WILL OPEN AT 12PM\"},{\"image\":{\"mobile\":\"/media/ss0pxhla/victoria4.jpg?width=393\\u0026height=169\\u0026v=1dbbaa784bfd1f0\",\"tablet\":\"/media/ss0pxhla/victoria4.jpg?width=782\\u0026height=315\\u0026v=1dbbaa784bfd1f0\",\"desktop\":\"/media/ss0pxhla/victoria4.jpg?width=1216\\u0026height=523\\u0026v=1dbbaa784bfd1f0\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON VICTORIA\",\"actionLink\":{\"name\":\"take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/victoria/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/px2iem4l/st-mungos-web.jpg?width=393\\u0026height=169\\u0026v=1dc44fc6573af80\",\"tablet\":\"/media/px2iem4l/st-mungos-web.jpg?width=782\\u0026height=315\\u0026v=1dc44fc6573af80\",\"desktop\":\"/media/px2iem4l/st-mungos-web.jpg?width=1216\\u0026height=523\\u0026v=1dc44fc6573af80\",\"alt\":\"\"},\"textHeading\":\"Support St Mungo\\u0027s on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"/charity/\"},\"actionLinkBackground[...]
