{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "gel/Close-Up Film Centre/retrieve and find events",
    "entries": [
      {
        "_id": "6dc87c4b571ed8dbbc8b49b09ab1096b",
        "request": {
          "url": "https://api.gel.now/api/venues",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "[{\"id\":187,\"name\":\"10 14 Gallery\",\"address\":\"10-14 Crossway\",\"city\":\"London\",\"country\":\"\",\"postcode\":\"N16 8HX\",\"capacity\":0,\"description\":\"\",\"on_listings_site\":false,\"wheelchair_accessible\":false,\"accessible_bathrooms\":false,\"hearing_loop\":false,\"accessible_parking\":false,\"lift_access\":false,\"accessibility_notes\":\"\"},{\"id\":186,\"name\":\"1014 Gallery\",\"address\":\"\",\"capacity\":0,\"on_listings_site\":false,\"wheelchair_accessible\":false,\"accessible_bathrooms\":false,\"hearing_loop\":false,\"accessible_parking\":false,\"lift_access\":false},{\"id\":96,\"name\":\"162 Holloway Road\",\"address\":\"\",\"capacity\":0,\"on_listings_site\":false,\"wheelchair_accessible\":false,\"accessible_bathrooms\":false,\"hearing_loop\":false,\"accessible_parking\":false,\"lift_access\":false},{\"id\":61,\"name\":[...]
