{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Soho/retrieve and transform",
    "entries": [
      {
        "_id": "bf614c76dd7c5e58f0943712b0632c9b",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=SOH1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "SOH1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006679\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006610\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006609\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[\"0000000059\",\"0000000055\"]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006681\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttribut[...]
