{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Soho/retrieve and transform",
    "entries": [
      {
        "_id": "af88eb36658f058a8ee218fbb5ec7f19",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=SOH1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "SOH1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:06:44 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007210\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007152\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00007152\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006951\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"SOH1\",\"showtimeAttributeI[...]
