{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Kiln Theatre/retrieve and transform",
    "entries": [
      {
        "_id": "fc076bcb4e2736a821f5236393ddab91",
        "request": {
          "url": "https://kilntheatre.com/cinema-listings/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://kilntheatre.com/wp-json/>; rel=\"https://api.w.org/\", <https://kilntheatre.com/wp-json/wp/v2/pages/618>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://kilntheatre.com/?p=618>; rel=shortlink"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n<!--[if IE 7]>\n<html class=\"ie ie7\" lang=\"en-US\">\n<![endif]-->\n<!--[if IE 8]>\n<html class=\"ie ie8\" lang=\"en-US\">\n<![endif]-->\n<!--[if !(IE 7) | !(IE 8) ]><!-->\n<html lang=\"en-US\">\n<!--<![endif]-->\n<head>\n    <!-- Google Tag Manager -->\n    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':\n    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],\n    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=\n    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);\n    })(window,document,'script','dataLayer','GTM-NV6JNP');</script>\n    <!-- End Google Tag Manager -->\n    <meta http-equiv=\"x-ua-compatible\" content=\"ie=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<meta charset=\"UTF-8\">\n\n    <meta name=\"facebook-domain-verification\" content=\"ho2ipvatbvr7s6mhrvme1yb4jcqdzd\" />\n\n    <link rel=\"apple-touch-icon\" sizes=\"180x180\" href=\"https://kilntheatre.com/themes/childtheme/assets/favicon/apple-touch-icon.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"32x32\" href=\"https://kilntheatre.com/themes/childtheme/assets/favicon/favicon-32x32.png\">\n    <link rel=\"icon\" type=\"image/png\" sizes=\"16x16\" href=\"https://kilntheatre.com/themes/childtheme/assets/favicon/favicon-16x16.png\">\n    <link rel=\"manifest\" href=\"https://kilntheatre.com/themes/childtheme/site[...]
