{
  "log": {
    "_recordingName": "Cineworld Leicester Square/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "e4bfa25d7c6d019ddd43c4e81557c5d0",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/103/until/2026-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 462,
            "text": "{\"body\":{\"dates\":[\"2025-01-23\",\"2025-01-24\",\"2025-01-25\",\"2025-01-26\",\"2025-01-27\",\"2025-01-28\",\"2025-01-29\",\"2025-01-30\",\"2025-01-31\",\"2025-02-01\",\"2025-02-02\",\"2025-02-03\",\"2025-02-06\",\"2025-02-08\",\"2025-02-09\",\"2025-02-11\",\"2025-02-14\",\"2025-02-15\",\"2025-02-16\",\"2025-02-17\",\"2025-02-18\",\"2025-02-19\",\"2025-02-20\",\"2025-02-21\",\"2025-02-22\",\"2025-02-23\",\"2025-03-13\",\"2025-03-16\",\"2025-03-27\",\"2025-03-29\",\"2025-04-12\",\"2025-04-13\",\"2025-05-01\",\"2025-05-04\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 23 Jan 2025 17:54:44 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 139,
      },
      {
        "_id": "dc2cc9794b1bc9a741f3c28d257c0e8d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/103/at-date/2025-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 13230,
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00012350\",\"name\":\"A Complete Unknown\",\"length\":141,\"posterLink\":\"https://regalcdn.azureedge.net/CW/ACompleteTV_SmallPosterImage/HO00012350/TV_SmallPosterImage/20241113-101718615.jpg\",\"videoLink\":\"https://youtu.be/Nsvexi2Ulbs?si=Esajrb5rxo7cUpAP\",\"link\":\"https://www.cineworld.co.uk/films/a-complete-unknown/ho00012350\",\"weight\":-19,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-17T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"comedy\",\"drama\",\"imax\",\"reserved-selected\"]},{\"id\":\"ho00012538\",\"name\":\"Alone No More (Cantonese)\",\"length\":107,\"posterLink\":\"https://regalcdn.azureedge.net/CW/AloneNoMoreCantonese/HO00012538/TV_SmallPosterImage/20250114-120941322.jpg\",\"videoLink\":\"https://youtu.be/uGsKCVoEq24?si=Xhwp-j2zkk-B_pBm\",\"link\":\"https://www.cineworld.co.uk/films/alone-no-more-cantonese/ho00012538\",\"weight\":0,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-17T00:00:00\"[...]
