{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Cineworld Leicester Square/retrieve and transform",
    "entries": [
      {
        "_id": "902a972ac9585651c0b72523b0a18151",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/103/until/2027-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:49:24 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"dates\":[\"2026-07-11\",\"2026-07-12\",\"2026-07-13\",\"2026-07-15\",\"2026-07-16\",\"2026-07-17\",\"2026-07-18\",\"2026-07-19\",\"2026-07-20\",\"2026-07-21\",\"2026-07-22\",\"2026-07-23\",\"2026-07-24\",\"2026-07-25\",\"2026-07-26\",\"2026-07-27\",\"2026-07-28\",\"2026-07-29\",\"2026-07-30\",\"2026-07-31\",\"2026-08-01\",\"2026-08-02\",\"2026-08-07\",\"2026-08-08\",\"2026-08-09\",\"2026-08-10\",\"2026-08-11\",\"2026-08-13\",\"2026-08-15\",\"2026-08-18\",\"2026-09-08\",\"2026-09-22\",\"2026-09-24\"]}}",
            "size": 449
          },
        },
        "time": 242
      },
      {
        "_id": "178869fa9c1f350f3fc7c21b49d07046",
        "request": {
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/103/at-date/2026-07-11?attr=&lang=en_GB",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 16:52:24 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00014765\",\"name\":\"Evil Dead Burn\",\"length\":102,\"posterLink\":\"https://regalcdn.azureedge.net/CW/EvilDeadBurn/HO00014765/TV_SmallPosterImage/20260603-081818595.jpg\",\"videoLink\":\"https://youtu.be/YYkUkyfjUKg\",\"link\":\"https://www.cineworld.co.uk/films/evil-dead-burn/ho00014765\",\"weight\":-16,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-07-09T00:00:00\",\"attributeIds\":[\"18\",\"2d\",\"4dx\",\"audio-described\",\"horror\",\"reserved-selected\"]},{\"id\":\"ho00014764\",\"name\":\"jackass: best and last\",\"length\":92,\"posterLink\":\"https://regalcdn.azureedge.net/CW/jackassbestandlast/HO00014764/TV_SmallPosterImage/20260603-080254545.jpg\",\"videoLink\":\"https://youtu.be/erztPGWNkY4\",\"link\":\"https://www.cineworld.co.uk/films/jackass-best-and-last/ho00014764\",\"weight\":-10,\"releaseYear\":\"2026\",\"releaseDate\":\"2026-06-26T00:00:00\",\"attributeIds\"[...]
