{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The Chiswick Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "d576e208891d98cc71a17154bef2b583",
        "request": {
          "url": "https://www.chiswickcinema.co.uk/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n      displayMetaData\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "akamai-grn",
              "value": "0.451e1202.1784761342.967346ce"
            },
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"21a501c9308b196b411854cec9ed2238\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KY611PJFE848BH96HR419VQG"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"37992\",\"name\":\"The Odyssey\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"the-odyssey\",\"posterImage\":\"h905ddoz5u4het8qovdl98wci2nj\",\"bannerImage\":\"4u7i64jcgnxby6inwml55s44s22o\",\"synopsis\":\"Christopher Nolan’s next film, The Odyssey, is a mythic action epic shot across the world using brand new IMAX® film technology. The film brings Homer’s foundational saga to IMAX® film screens for the first time and opens in cinemas everywhere on July 17, 2026.\",\"starring\":\"Matt Damon, Tom Holland, Anne Hathaway\",\"directedBy\":\"Christopher Nolan\",\"producedBy\":\"Christopher Nolan, Emma Thomas\",\"searchTerms\":\"\",\"duration\":173,\"genre\":\"Adventure\",\"allGenres\":\"Adventure, Drama, Fantasy\",\"rating\":\"15\",\"trailerYoutubeId\":\"Sk6LZrA2JSQ\",\"trailerVideo\":null,\"releaseDate\":\"2026-07-17\",\"dateOfFirstShowing\":\"2026-07-17\",\"tmdbPopularityScore\":801.957,\"tmdbId\":\"1368337\",\"dcmEdiMovieId\":\"412037\",\"dcmEdiMovieName\":\"ODYSSEY, THE [Unknown]\",\"siteId\":\"170\",\"titleClassId\":\"410\",\"displayMetaData\":\"{\\\"magicSortValue\\\":99100599992,\\\"daysShown\\\":11,\\\"nowPlayingOrHasPlayed\\\":true,\\\"someShowingsBadges\\\":[\\\"5.1\\\",\\\"4K\\\",\\\"Laser\\\",\\\"Subtitled\\\",\\\"Baby Friendly\\\",\\\"Dog Friendly\\\",\\\"Silver Screen \\\"],\\\"everyShowingsBadges\\\":[],\\\"leavesSoon\\\":false,\\\"lastDayTomorrow\\\":false,\\\"lastDayToday\\\":false,\\\"classes\\\":\\\"title-class-films some-showings-51 some-showings-4k some-showings-laser some-showings-subtitled some-showings-baby-friendly some-showings-dog-friendly some-showings-silver-screen- showing-status-now-playing showing-status-now-playing-or-has-played\\\"}\",\"showings\":[{\"id\":\"446163\",\"time\":\"2026-07-17T11:25:00Z\",\"ticketsSold\":37,\"screenId\":\"439\",\"seatsRemaining\":88,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"464462\",\"time\":\"2026-07-17T12:10:00Z\",\"ticketsSold\":19,\"screenId\":\"441\",\"seatsRemaining\":82,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"446164\",\"time\":\"2026-07-17T14:00:00Z\",\"ticketsSold\":38,\"screenId\":\"440\",\"seatsRemaining\":63,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"446149\",\"time\":\"2026-07-17T15:05:00Z\",\"ticketsSold\":40,\"scre[...]
