{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The Chiswick Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "19ba6d63307e2fbfb457c7b4b34eb25d",
        "request": {
          "url": "https://www.chiswickcinema.co.uk/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "akamai-grn",
              "value": "0.481e1202.1783791375.5f0573b4"
            },
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"44d8a965ce2b32ac32f41ec71f56e7c2\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KX940NHV8HC5XJXTQADAW9BM"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"37993\",\"name\":\"Moana\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"moana\",\"posterImage\":\"xf7bz2m2d3z17s6jd0ywq5utt12r\",\"bannerImage\":\"pnhh8ui75g469ykuc3hy18n8mcwc\",\"synopsis\":\"In Ancient Polynesia, when a terrible curse incurred by Maui reaches the island of an impetuous Chieftain, his willful daughter answers the Ocean's call to seek out the demigod to set things right.\",\"starring\":\"Catherine Lagaʻaia, Dwayne Johnson, John Tui\",\"directedBy\":\"Thomas Kail\",\"producedBy\":\"Dwayne Johnson, Lin-Manuel Miranda, Dany Garcia, Beau Flynn, Hiram Garcia\",\"searchTerms\":\"\",\"duration\":115,\"genre\":\"Family\",\"allGenres\":\"Family, Fantasy, Comedy, Adventure\",\"rating\":\"PG\",\"trailerYoutubeId\":\"JnficPHHF2U\",\"trailerVideo\":null,\"releaseDate\":\"2026-07-10\",\"dateOfFirstShowing\":\"2026-07-10\",\"tmdbPopularityScore\":122.834,\"tmdbId\":\"1108427\",\"dcmEdiMovieId\":\"381448\",\"dcmEdiMovieName\":\"MOANA [Unknown]\",\"siteId\":\"170\",\"titleClassId\":\"410\",\"showings\":[{\"id\":\"461907\",\"time\":\"2026-07-10T13:40:00Z\",\"ticketsSold\":19,\"screenId\":\"439\",\"seatsRemaining\":106,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"447620\",\"time\":\"2026-07-10T15:50:00Z\",\"ticketsSold\":37,\"screenId\":\"440\",\"seatsRemaining\":64,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"447619\",\"time\":\"2026-07-10T19:00:00Z\",\"ticketsSold\":9,\"screenId\":\"441\",\"seatsRemaining\":92,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"447628\",\"time\":\"2026-07-11T10:20:00Z\",\"ticketsSold\":10,\"screenId\":\"439\",\"seatsRemaining\":115,\"dis[...]
