{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The Chiswick Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "19ba6d63307e2fbfb457c7b4b34eb25d",
        "request": {
          "url": "https://www.chiswickcinema.co.uk/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"076ba48da2a614f9e71e5cdfacf422f1\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KG3HK9DDSY2T0KQX4J727EBF"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"31109\",\"name\":\"The History Of Sound\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"the-history-of-sound\",\"posterImage\":\"xokynvd5qe6fzyz3z930vnf7c20o\",\"bannerImage\":\"t11k38hrx8mr1dnqppin65d7swma\",\"synopsis\":\"In 1917, Lionel—a young, talented music student—meets David at the Boston Conservatory, where they bond over a deep love of folk music. Years later, Lionel receives a letter from David, leading to an impromptu journey through the backwoods of Maine to collect traditional songs. This unexpected reunion, ensuing love affair, and the music they collect and preserve, will shape the course of Lionel’s life far beyond his own awareness.\",\"starring\":\"Paul Mescal, Josh O'Connor, Molly Price\",\"directedBy\":\"Oliver Hermanus\",\"producedBy\":\"Andrew Kortschak, Sara Murphy, Oliver Hermanus, Zhang Xin, Andrea Roa, Lisa Ciuffetti, Thérèsa Ryan\",\"searchTerms\":\"\",\"duration\":127,\"genre\":\"Drama\",\"allGenres\":\"Drama, Romance, Music\",\"rating\":\"15\",\"trailerYoutubeId\":\"E2PSkw8BI7k\",\"trailerVideo\":null,\"releaseDate\":\"2026-01-23\",\"dateOfFirstShowing\":\"2026-01-23\",\"tmdbPopularityScore\":5.0826,\"tmdbId\":\"891584\",\"dcmEdiMovieId\":\"469211\",\"dcmEdiMovieName\":\"History Of Sound, The [Unknown]\",\"siteId\":\"170\",\"titleClassId\":\"410\",\"showings\":[{\"id\":\"391479\",\"time\":\"2026-01-23T20:00:00Z\",\"ticketsSold\":10,\"screenId\":\"443\",\"seatsRemaining\":6,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"391528\",\"time\":\"2026-01-24T20:05:00Z\",\"ticketsSold\":12,\"screenId\":\"443\",\"seatsRemaining\":4,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"391545\",\"time\":\"2026-01-25T16:50:00Z\",\"ticketsSold\":15,\"screenId\":\"443\",\"seatsRemaining\":1,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"391569\",\"time\":\"2026-01-26T20:30:00Z\",\"ticketsSold\":11,\"screenId\":\"443\",\"seatsRemaining\":5,\"displa[...]
