{
  "log": {
    "_recordingName": "The Chiswick Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "7bee3c7ca676573b7fc233eb622d8bd8",
        "request": {
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
          "queryString": [],
          "url": "https://www.chiswickcinema.co.uk/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 142676,
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"31554\",\"name\":\"One Battle After Another\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"one-battle-after-another\",\"posterImage\":\"13dnn0moeqs14p0iiinybyuivkn2\",\"bannerImage\":\"2vcujx8ilcj0hb0l40o57p34g3s3\",\"synopsis\":\"From Warner Bros. Pictures and Academy Award-nominated, BAFTA-winning filmmaker Paul Thomas Anderson comes “One Battle After Another,” starring Academy Award and BAFTA winner Leonardo DiCaprio.\\n\\nOscar and BAFTA winners Benicio del Toro and Sean Penn also star alongside Regina Hall, Teyana Taylor and Chase Infiniti, as well as Wood Harris and Alana Haim.\",\"starring\":\"Leonardo DiCaprio, Sean Penn, Chase Infiniti\",\"directedBy\":\"Paul Thomas Anderson\",\"producedBy\":\"Paul Thomas Anderson, Adam Somner, Sara Murphy\",\"searchTerms\":\"\",\"duration\":162,\"genre\":\"Crime\",\"allGenres\":\"Crime, Action, Comedy\",\"rating\":\"15\",\"trailerYoutubeId\":\"4rNLrWQ4HtY\",\"trailerVideo\":null,\"releaseDate\":\"2025-09-26\",\"dateOfFirstShowing\":\"2025-11-07\",\"tmdbPopularityScore\":43.0158,\"tmdbId\":\"1054867\",\"dcmEdiMovieId\":\"371795\",\"dcmEdiMovieName\":\"ONE BATTLE AFTER ANOTHER [Unknown]\",\"siteId\":\"170\",\"titleClassId\":\"410\",\"showings\":[{\"id\":\"367468\",\"time\":\"2025-11-07T20:10:00Z\",\"ticketsSold\":5,\"screenId\":\"441\",\"seatsRemaining\":96,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"367559\",\"time\":\"2025-11-08T16:20:00Z\",\"ticketsSold\":0,\"screenId\":\"442\",\"seatsRemaining\":60,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"367557\",\"time\":\"2025-11-08T19:50:00Z\",\"ticketsSold\":4,\"screenId\":\"442\",\"seatsRemaining\":56,\"displayMetaData\":\"{\\\"classes\\\":\\\"51 4k laser\\\"}\"},{\"id\":\"367576\",\"time\":\"2025-11-09T16:20:00Z\",\"ticketsSold\":2,\"screenId\":\"442\",\"seatsRemaining\":58,\"displa[...]
