{
  "log": {
    "_recordingName": "Cineworld Bexleyheath/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "f86b1893754f1f8525faf7c77949dcab",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/027/until/2026-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 475,
            "text": "{\"body\":{\"dates\":[\"2025-01-23\",\"2025-01-24\",\"2025-01-25\",\"2025-01-26\",\"2025-01-27\",\"2025-01-28\",\"2025-01-29\",\"2025-01-30\",\"2025-02-02\",\"2025-02-03\",\"2025-02-05\",\"2025-02-09\",\"2025-02-11\",\"2025-02-13\",\"2025-02-14\",\"2025-02-15\",\"2025-02-16\",\"2025-02-17\",\"2025-02-18\",\"2025-02-19\",\"2025-02-20\",\"2025-02-21\",\"2025-02-22\",\"2025-02-23\",\"2025-02-27\",\"2025-03-01\",\"2025-03-20\",\"2025-03-27\",\"2025-03-29\",\"2025-04-01\",\"2025-04-12\",\"2025-04-13\",\"2025-05-14\",\"2025-05-22\",\"2025-06-03\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 23 Jan 2025 17:52:25 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116,
      },
      {
        "_id": "6e9dfdcf5a3d406ac53bf0a9d22b7f3e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/027/at-date/2025-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 11728,
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00012350\",\"name\":\"A Complete Unknown\",\"length\":141,\"posterLink\":\"https://regalcdn.azureedge.net/CW/ACompleteTV_SmallPosterImage/HO00012350/TV_SmallPosterImage/20241113-101718615.jpg\",\"videoLink\":\"https://youtu.be/Nsvexi2Ulbs?si=Esajrb5rxo7cUpAP\",\"link\":\"https://www.cineworld.co.uk/films/a-complete-unknown/ho00012350\",\"weight\":-19,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-17T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"audio-described\",\"comedy\",\"drama\",\"reserved-selected\"]},{\"id\":\"ho00012460\",\"name\":\"Wolf Man\",\"length\":103,\"posterLink\":\"https://regalcdn.azureedge.net/CW/WolfMan/HO00012460/TV_SmallPosterImage/20241218-071855017.jpg\",\"videoLink\":\"https://youtu.be/kAw4PH2IQgo?si=mscx-Kn45Q8JlTFL\",\"link\":\"https://www.cineworld.co.uk/films/wolf-man/ho00012460\",\"weight\":-8,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-17T00:00:00\",\"attributeIds\":[\"15\",\"2d\",[...]
