{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Japanese Film Club/Rio Cinema/retrieve and find events",
    "entries": [
      {
        "_id": "3f8c99a0ade6bc0db2c9f45e47229146",
        "request": {
          "url": "https://japanesefilm.club/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://japanesefilm.club/wp-json/>; rel=\"https://api.w.org/\", <https://japanesefilm.club/wp-json/wp/v2/pages/2>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://japanesefilm.club/>; rel=shortlink"
            },
            {
              "name": "x-pingback",
              "value": "https://japanesefilm.club/xmlrpc.php"
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n<html lang=\"en\"\n    xmlns:og=\"https://opengraphprotocol.org/schema/\"\n    xmlns:fb=\"https://www.facebook.com/2008/fbml\">\n<head >\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\" />\n<!-- Google tag (gtag.js) -->\n\t\t<script async src=\"https://www.googletagmanager.com/gtag/js?id=G-4PTXJBFFTQ\"></script>\n\t\t<script>\n\t\t\t  window.dataLayer = window.dataLayer || [];\n\t\t\t  function gtag(){dataLayer.push(arguments);}\n\t\t\t  gtag(\"js\", new Date());\n\n\t\t\t  gtag(\"config\", \"G-4PTXJBFFTQ\");\n\t\t</script><meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n\n\t<!-- This site is optimized with the Yoast SEO plugin v28.0 - https://yoast.com/product/yoast-seo-wordpress/ -->\n\t<title>Japanese Film Club - Japanese Film Club</title>\n\t<meta name=\"description\" content=\"The best in modern and classic Japanese cinema.\" />\n\t<link rel=\"canonical\" href=\"https://japanesefilm.club/\" />\n\t<meta property=\"og:locale\" content=\"en_GB\" />\n\t<meta property=\"og:type\" content=\"website\" />\n\t<meta property=\"og:title\" content=\"Japanese Film Club - Japanese Film Club\" />\n\t<meta property=\"og:description\" content=\"The best in modern and classic Japanese cinema.\" />\n\t<meta property=\"og:url\" content=\"https://japanesefilm.club/\" />\n\t<meta property=\"og:site_name\" content=\"Japanese Film Club\" />\n\t<meta property=\"article:modified_time\" content=\"2026-01-13T15:47:53+00:00\" />\n\t<meta property=\"og:image\" content=\"https://japanesefilm.club/wp-content/uploads/2024/12/taifuclub_01-Enhanced-S.jpg\" />\n\t<meta property=\"og:image:width\" content=\"2000\" />\n\t<meta property=\"og:image:height\" content=\"1100\" />\n\t<meta property=\"og:image:type\" content=\"image/jpeg\" />\n\t<meta name=\"twitter:card\" content=\"summary_large_image\" />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https:\\/\\/schema.org\",\"@graph\":[{\"@type\":\"WebPage\",\"@id\":\"https:\\/\\/japanesefilm.club\\/\",\"url\":\"https:\\/\\/japanesefilm.club\\/\",\"name\":\"Japanese Film Club - Japanese Film Club\",\"isPartOf\":{\"@id\":\"https:\\/\\/japanesefilm.club\\/#website\"},\"primaryImageOfPage\":{\"@id\":\"https:\\/\\/japanesefilm.club\\/#primaryimage\"},\"image\":{\"@id\":\"https:\\/\\/japanesefilm.club\\/#primaryimage\"},\"thumbnailUrl\":\"https:\\/\\/japanesefilm.club\\/wp-content\\/uploads\\/2024\\/12\\/taifuclub_01-Enhanced-S.jpg\",\"datePublished\":\"2024-12-13T21:48:47+00:00\",\"dateModified\":\"2026-01-13T15:47:53+00:00\",\"description\":\"The best in modern and classic Japanese cinema.\",\"breadcrumb\":{\"@id\":\"https:\\/\\/japanesefilm.club\\/#breadcrumb\"},\"inLanguage\":\"en-GB\",\"potentialAction\":[{\"@type\":\"ReadAction\",\"target\":[\"https:\\/\\/japanesefilm.club\\/\"]}]},{\"@type\":\"ImageObject\",\"inLanguage\":\"en-GB\",\"@id\":\"https:\\/\\/japanesefilm.club\\/#primaryimage\",\"url\":\"https:\\/\\/japanesefilm.club\\/wp-content\\/uploads\\/2024\\/12\\/taifuclub_01-Enhanced-S.jpg\",\"contentUrl\":\"https:\\/\\/japanesefilm.club\\/wp-content\\/uploads\\/2024\\/12\\/taifuclub_01-Enhanced-S.jpg\",\"width\":2000,\"height\":1100},{\"@type\":\"BreadcrumbList\",\"@id\":\"https:\\/\\/japanesefilm.club\\/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\"}]},{\"@type\":\"WebSite\",\"@id\":\"https:\\/\\/japanesefilm.club\\/#website\",\"url\":\"https:\\/\\/japanesefilm.club\\/\",\"name\":\"Japanese Film Club\",\"description\":\"\",\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https:\\/\\/japanesefilm.club\\/?s={search_term_string}\"},\"query-input\":{\"@type\":\"PropertyValueSpecification\",\"valueRequired\":true,\"valueName\":\"search_term_string\"}}],\"inLanguage\":\"en-GB\"}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel='dns-prefetch' href='//challenges.cloudflare.com' />\n<link rel='dns-prefetch' href='//player.vimeo.com' />\n<link rel='dns-prefetch' href='//fonts.googleapis.com' />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Japanese Film Club &raquo; Feed\" href=\"https://japanesefilm.club/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Japanese Film Club &raquo; Comments Feed\" href=\"https://japanesefilm.club/comments/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Japanese Film Club &raquo; Japanese Film Club Comments Feed\" href=\"https://japanesefilm.club/sample-page/feed/\" />\n<link rel=\"alternate\" title=\"oEmbed (JSON)\" type=\"application/json+oembed\" href=\"https://japanesefilm.club/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjapanesefilm.club%2F\" />\n<link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\" href=\"https://japanesefilm.club/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fjapanesefilm.club%2F&#038;format=xml\" />\n<style id=\"wp-img-auto-sizes-contain-inline-css\">\nimg:is([sizes=auto i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css */\n</style>\n<link rel='stylesheet' id='madegood-responsive-theme-css' href='https://japanesefilm.club/wp-content/themes/madegood/style.css?ver=1.0' media='all' />\n\n<link rel='stylesheet' id='splide_4_style-css' href='https://japanesefilm.club/wp-content/themes/madegood/scripts/splide/dist/css/splide.min.css?ver=7.0[...]
