{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Haymarket/retrieve and transform",
    "entries": [
      {
        "_id": "684085080b117f3e9a9fc2e77721ba42",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=158",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "158"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "charlie",
              "value": "charlie"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00009089\",\"sites\":[{\"siteId\":\"158\",\"showtimeAttributeIds\":[\"0000000048\",\"0000000071\",\"0000000143\"]}]},{\"filmId\":\"HO00009072\",\"sites\":[{\"siteId\":\"158\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008964\",\"sites\":[{\"siteId\":\"158\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008744\",\"sites\":[{\"siteId\":\"158\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\"]}]}]},{\"businessDate\":\"2026-07-12\",\[...]
