{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Lyric Square/retrieve and transform",
    "entries": [
      {
        "_id": "d894572a7002402b21b5e731a2459d4e",
        "request": {
          "url": "https://hammersmithbid.co.uk/calendar/list/?nocache=1783728000000",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "nocache",
              "value": "1783728000000"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://hammersmithbid.co.uk/wp-json/>; rel=\"https://api.w.org/\""
            },
            {
              "name": "x-cdn-cache-status",
              "value": "MISS"
            },
            {
              "name": "x-cdn-node-is-at-origin",
              "value": "1"
            },
            {
              "name": "x-origin-cache-status",
              "value": "MISS"
            },
            {
              "name": "x-provided-by",
              "value": "StackCDN"
            },
            {
              "name": "x-stackcache-cacheable",
              "value": "yes"
            },
            {
              "name": "x-tec-api-origin",
              "value": "https://hammersmithbid.co.uk"
            },
            {
              "name": "x-tec-api-root",
              "value": "https://hammersmithbid.co.uk/wp-json/tribe/events/v1/"
            },
            {
              "name": "x-tec-api-version",
              "value": "v1"
            },
            {
              "name": "x-via",
              "value": "LHR6"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "\t<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n\t<meta charset=\"UTF-8\" />\n\t\n\t\t\t\t<meta name=\"viewport\" content=\"width=device-width,initial-scale=1,user-scalable=no\">\n\t\t\n            \n                        <link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"https://hammersmithbid.co.uk/wp-content/uploads/2018/11/favicon.png\">\n            <link rel=\"apple-touch-icon\" href=\"https://hammersmithbid.co.uk/wp-content/uploads/2018/11/favicon.png\"/>\n        \n\t<link rel=\"profile\" href=\"http://gmpg.org/xfn/11\" />\n\t<link rel=\"pingback\" href=\"https://hammersmithbid.co.uk/xmlrpc.php\" />\n\n\t<link rel='stylesheet' id='tribe-events-views-v2-bootstrap-datepicker-styles-css' href='https://hammer[...]
