{
  "log": {
    "_recordingName": "The Olympic Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "9dc36ed9d2166b9471fe77daaecbf105",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.olympiccinema.com/whats-on"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "size": 286095,
            "text": "\n<!doctype html><!doctype html>\n<html lang=\"en\">\n<!-- <html lang=\"en\" class=\"h-100\" data-bs-theme=\"light\"> -->\n\n  <head>\n    <meta charset=\"UTF-8\">\n    <meta content=\"dark light\" name=\"color-scheme\">\n    <meta content=\"origin\" name=\"referrer\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"Description\" content=\"A hub of entertainment, with cinema at its heart, set in iconic locations\">\n    <meta name=\"Description\" content=\"Discover the innovative world of Apple and shop everything iPhone, iPad, Apple Watch, Mac, and Apple TV, plus explore accessories, entertainment, and expert device support.\">\n    <meta property=\"og:title\" content=\"Olympic Studios\">\n    <meta property=\"og:description\" content=\"A hub of entertainment, with cinema at its heart, set in iconic locations\">\n    <meta property=\"og:url\" content=\"https://www.olympicstudios.com/\">\n    <meta property=\"og:locale\" content=\"en_UK\">\n    <meta property=\"og:image\" content=\"https://www.olympiccinema.com/assets/images/open_graph_logo.png?202110180743\">\n    <meta property=\"og:type\" content=\"website\">\n    <meta property=\"og:site_name\" content=\"Olympic Studios\">\n\n    <title>Olympic Studios |  What's On - Olympic Cinema</title>\n    <meta name=\"generator\" content=\"cc v2\">\n\t\t<link rel=\"canonical\" href=\"https://www.olympicstudios.com\" />\n\n    <!-- BOOTSTRAP 5 -->\n\t\t<link href=\"https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css\" rel=\"stylesheet\" integrity=\"sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH\" crossorigin=\"anonymous\">\n\t\t<link rel=\"stylesheet\" href=\"https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css\">\n\n\t\t<!-- FONTS -->\n    <link href=\"https://fonts.googleapis.c[...]
