{
  "log": {
    "_recordingName": "Rio Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "2a2c02081ad781f1642222fda1dd47f6",
        "request": {
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
          "queryString": [],
          "url": "https://www.riocinema.org.uk/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 81811,
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"20731\",\"name\":\"PINK PALACE: BUDDIES\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"pink-palace-buddies\",\"posterImage\":\"nmbt3r0lickuks64k2ax9dzlvqgl\",\"bannerImage\":\"2sqw4x499w9xzceqw2qe3cmpntt7\",\"synopsis\":\"Pink Palace present BUDDIES.\\n\\nOriginally released in cinemas in 1985, the film is a deeply moving portrayal of the start of the AIDS crisis and how the lesbian and gay communities organised themselves to fight it, in the face of government inaction and hostile media.\\n\\nThe very first full length drama about AIDS, BUDDIES focuses on 25 year - old gay yuppie David (David Schachter) who volunteers to be a “buddy” to an AIDS patient. The gay community centre assigns him to Robert (Geoff Edh[...]
