{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Camden/retrieve and transform",
    "entries": [
      {
        "_id": "3e432d4abf79abf51291b6a935d37570",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=590",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "590"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "bravo",
              "value": "bravo"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:35:49 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008222\",\"sites\":[{\"siteId\":\"590\",\"showtimeAttributeIds\":[\"0000000008\",\"0000000155\"]}]},{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"590\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008193\",\"sites\":[{\"siteId\":\"590\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"590\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"590\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"5[...]
