{
  "log": {
    "_recordingName": "The David Lean Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "6ec45e4d61c94e2f10ba62dfb2757e7e",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://davidleancinema.ticketsolve.com/shows.xml"
        },
        "response": {
          "content": {
            "mimeType": "application/xml; charset=utf-8",
            "size": 96010,
            "text": "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<venues>\n  <venue id=\"426566287\">\n    <name>\n      <![CDATA[David Lean Cinema]]>\n    </name>\n    <shows>\n      <show id=\"1173670606\">\n        <name>\n          <![CDATA[1984]]>\n        </name>\n        <description>\n          <![CDATA[<p><font size=\"5\"><b>1984&nbsp;</b></font><img src=\"https://d1bry8u3byci8.cloudfront.net/as-assets/variants/o7sxiggwyeubtzdn6syqzfv7upbe/a6206d8b8848d1f5f779dd436f25589e3a792fee204effd13dccee565e881abd\" style=\"font-size:0.875rem;\"></p>\n\n<p><span><font size=\"3\">1988 UK/Netherlands/Germany 113 mins </font></span></p>\n\n<p><span><font size=\"3\">Director: Michael Radford</font></span></p>\n\n<p><span><font size=\"3\">Stars: John Hurt, Richard Burton, Suzanna Hamilton</font></span></p>\n\n<p><span><font size=\"3\">The\nrise of authoritarian regimes and misuse of social media and digital technology\nhave arguably made Orwell&rsquo;s classic more relevant than when this fine\nadaptation was released. Radford&rsquo;s film is beautifully photographed by Roger\nDeakins and features great performances from John Hurt as Winston Smith, and\nespecially from Richard Burton, who was born 100 years ago, as O&rsquo;Brien &ndash; this\nwas his last film.&nbsp;</font></span></p><p><span><b><i><font size=\"3\">A 35mm presentation in association with</font><font size=\"4\">&nbsp;</font></i></b></span><font size=\"4\"><a href=\"http://www.cinemamuseum.org.uk/\">The Cinema Museum</a><span><b><i>.</i></b></span></font></p>]]>\n        </description>\n        <event_category>35mm Film</event_category>\n        <production_company_name></production_company_name>\n        <priority>0</priority>\n        <url>https://davidleancinema.ticketsolve.com/shows/1173670606/events</url>\n        <version>56</version>\n        <tags>\n          <tag>drama</tag>\n        </tags>\n        <images>\n          <image priority=\"90\">\n            <url size=\"large\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/8ppbwitp9gd97albx2ib43y2580n/a6206d8b8848d1f5f779dd436f25589e3a792fee204effd13dccee565e881abd</url>\n            <url size=\"medium\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/8ppbwitp9gd97albx2ib43y2580n/6428308680a2820b32ca9af5ca523d295e68c5119095c3d9f4a769458f8227e4</url>\n            <url size=\"thumb\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/8ppbwitp9gd97albx2ib43y2580n/7c367cff06fd518c1ca8f9254efb0ec25a25cd43a892ea5364918efafd429189</url>\n            <alt/>\n          </image>\n          <image priority=\"0\">\n            <url size=\"large\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/o7sxiggwyeubtzdn6syqzfv7upbe/a6206d8b8848d1f5f779dd436f25589e3a792fee204effd13dccee565e881abd</url>\n            <url size=\"medium\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/o7sxiggwyeubtzdn6syqzfv7upbe/6428308680a2820b32ca9af5ca523d295e68c5119095c3d9f4a769458f8227e4</url>\n            <url size=\"thumb\">https://d1bry8u3byci8.cloudfront.net/as-assets/variants/o7sxiggwyeubtzdn6syqzfv7upbe/7c367cff06fd518c1ca8f9254efb0ec25a25cd43a892ea5364918efafd429189</url>\n            <alt/>\n          </image>\n        </images>\n        <properties>\n          <property>\n            <name>Trailer</name>\n            <value>https://www.youtube.com/watch?v=SXq3yMhobEU</value>\n          </property>\n        </properties>\n        <events>\n          <event id=\"428765658\">\n            <name>\n              <![CDATA[15 Nov 2025 - 14:00 @ David Lean Cinema - (opening time 13:15) 1984]]>\n            </name>\n            <date_time_iso format=\"ISO 8601\" zone=\"GMT\">2025-11-15T14:00:00+00:00</date_time_iso>\n            <opening_time_iso format=\"ISO 8601\" zone=\"GMT\">2025-11-15T13:15:00+00:00</opening_time_iso>\n            <event_number>428765658</event_number>\n            <venue_layout>David Lean Cinema</venue_layout>\n            <comment>\n              <![CDATA[A 35mm film presentation in association with The Cinema Museum. ]]>\n            </comment>\n            <event_attribute>35mm film</event_attribute>\n            <url>https://davidleancinema.ticketsolve.com/shows/1173670606/events/428765658/seats</url>\n            <status>available</status>\n            <feed>\n              <url>https://davidleancinema.ticketsolve.com/shows/1173670606/events/428765658.xml</url>\n            </feed>\n          </event>\n        </events>\n        <status>available</status>\n      </show>\n      <show id=\"1173670587\">\n        <name>\n          <![CDATA[A BAND CALLED DEATH]]>\n        </name>\n        <description>\n          <![CDATA[<p><b><font size=\"5\">A Band\nCalled Death</font><font size=\"3\"> (12A)</font></b><span style=\"font-size:medium;\">&nbsp;</span></[...]
