{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "TicketSource/Close-Up Cinema/retrieve and find events",
    "entries": [
      {
        "_id": "ec9f2f4e5fcdb5e0fbb1380730c8ae4e",
        "request": {
          "url": "https://lh632p1up5-dsn.algolia.net/1/indexes/dev_EVENT/query",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            },
            {
              "name": "x-algolia-agent",
              "value": "Algolia for JavaScript (3.35.1); Browser"
            },
            {
              "name": "x-algolia-api-key",
              "value": "239323e27e42c7e84a9f43482ff0d662"
            },
            {
              "name": "x-algolia-application-id",
              "value": "LH632P1UP5"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"params\":\"query=&removeStopWords=true&page=0&getRankingInfo=true&facets=*&filters=category%3A%27film%27+AND+location%3A%27london%27&numericFilters=timestamp+%3E%3D+1761523200%2CfilterTimestamp+%3E%3D+1764201600\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-disposition",
              "value": "inline; filename=a.txt"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-alg-pt",
              "value": "1"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "text": "{\"hits\":[{\"eventHash\":\"e-qmreem\",\"dateHash\":\"d-lovzzoivbgnwv\",\"timeHash\":\"t-yzqoego\",\"promoterID\":139207,\"performanceID\":\"FMEHGIM\",\"event\":\"The Turtle\",\"eventID\":1247916,\"venueID\":1385858,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"drama\",\"venue\":\"Close Up cinema\",\"location\":\"london\",\"venueAdd1\":\"97 Sclater Steet\",\"venueAdd2\":\"Shoreditch\",\"venueAdd3\":\"London\",\"venueAdd4\":\"United Kingdom\",\"venuePostcode\":\"E1 6HR\",\"timestamp\":1764342000,\"filterTimestamp\":1764341400,\"deletionTimestamp\":1766933400,\"timezone\":\"GMT\",\"dateTimeString\":\"Friday 28th November 2025 03:00:00 PM\",\"eventDescription\":\"LePrince   Presents:    Beneath Pirooz’s composed exterior lies a sharp fear of abandonment, and a deep suspicion...\",\"eventSlug\":\"the-turtle\",\"banner\":\"139207-17641370176524-s.png\",\"venueSlug\":\"close-up-cinema\",\"locationSlug\":\"london\",\"gateway\":\"STRIPE\",\"promoter\":\"LePrince\",\"promoterNameURL\":\"leprince\",\"_geoloc\":{\"lat\":38.794595,\"lng\":-106.534838},\"multiDayTimePerformance\":false,\"multiDayTimePerformanceHash\":\"EGLILIL20251128\",\"objectID\":\"2914359\",\"_highlightResult\":{\"performanceID\":{\"value\":\"FMEHGIM\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"event\":{\"value\":\"The Turtle\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventID\":{\"value\":\"1247916\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"hint\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"keywords\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"category\":{\"value\":\"film\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"genre\":{\"value\":\"drama\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"venue\":{\"value\":\"Close Up cinema\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"location\":{\"value\":\"london\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"dateTimeString\":{\"value\":\"Friday 28th November 2025 03:00:00 PM\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventSlug\":{\"value\":\"the-turtle\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoter\":{\"value\":\"LePrince\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoterNameURL\":{\"value\":\"leprince\",\"matchLevel\":\"none\",\"matchedWords\":[]}},\"_rankingInfo\":{\"nbTypos\":0,\"firstMatchedWord\":0,\"proximityDistance\":0,\"userScore\":76298,\"geoDistance\":0,\"geoPrecision\":1,\"nbExactWords\":0,\"words\":0,\"filters\":2}},{\"eventHash\":\"e-yjexze\",\"dateHash\":\"d-eprakrfgbzmxg\",\"timeHash\":\"t-dkaxqyg\",\"promoterID\":24089,\"performanceID\":\"FLKKFKE\",\"event\":\"The Liberated Film Club: Morgan Quaintance\",\"eventID\":1231118,\"venueID\":1367603,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"other\",\"venue\":\"Close-Up Cinema\",\"location\":\"london\",\"venueAdd1\":\"97 Sclater St\",\"venueAdd2\":\"London\",\"venueAdd3\":\"\",\"venueAdd4\":\"\",\"venuePostcode\":\"E1 6HR\",\"timest[...]
