{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Swiss Cottage/retrieve and transform",
    "entries": [
      {
        "_id": "a513848ebf7fc555b25115fc71ee8f06",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=838",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "838"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "echo",
              "value": "echo"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:00:45 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008191\",\"sites\":[{\"siteId\":\"838\",\"showtimeAttributeIds\":[\"0000000143\",\"0000000200\",\"0000000030\"]}]},{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"838\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000200\",\"0000000030\"]}]},{\"filmId\":\"HO00008014\",\"sites\":[{\"siteId\":\"838\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000200\",\"0000000030\"]}]},{\"filmId\":\"HO00008327\",\"sites\":[{\"siteId\":\"838\",\"showtimeAttributeIds\":[\"0000000048\",\"0000000187\",\"0000000147\",\"0000000013\",\"00000000[...]
