{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Richmond/retrieve and transform",
    "entries": [
      {
        "_id": "b74b5582e6c423f8fb899d6742beee9b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=888",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "888"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00009072\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00008744\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmI[...]
