{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Richmond/retrieve and transform",
    "entries": [
      {
        "_id": "b74b5582e6c423f8fb899d6742beee9b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=888",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "888"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "delta",
              "value": "delta"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:53:38 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008191\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000030\"]}]},{\"filmId\":\"HO00008327\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000048\",\"0000000187\",\"0000000065\",\"0000000030\"]}]},{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000008\",\"0000000155\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"888\",\"showtimeAttributeIds\[...]
