{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Wimbledon/retrieve and transform",
    "entries": [
      {
        "_id": "e580c523eda4fe773fd7ac089878453b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=555",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "555"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "echo",
              "value": "echo"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:03:46 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"555\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008329\",\"sites\":[{\"siteId\":\"555\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"555\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"555\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008082\",\"sites\":[{\"siteId\":\"555\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030[...]
