{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Uxbridge/retrieve and transform",
    "entries": [
      {
        "_id": "4a66fbb5d15f679905ca73f22b6d4a1b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=593",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "593"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "charlie",
              "value": "charlie"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008964\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000145\",\"0000000015\",\"0000000030\"]}]},{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000145\",\"0000000015\",\"0000000030\"]}]},{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000147\",\"0000000180\",\"0000000013\",\"00000000[...]
