{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Uxbridge/retrieve and transform",
    "entries": [
      {
        "_id": "4a66fbb5d15f679905ca73f22b6d4a1b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=593",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "593"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "delta",
              "value": "delta"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:02:36 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000192\",\"0000000006\",\"0000000187\",\"0000000032\",\"0000000180\",\"0000000148\",\"0000000200\",\"0000000030\"]}]},{\"filmId\":\"HO00008191\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000030\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000145\",\"0000000015\",\"0000000200\",\"0000000030\"]}]},{\"filmId\":\"HO00008395\",\"sites\":[{\"siteId\":\"593\",\"showtimeAttributeIds\":[\"0000000048\",\"00000001[...]
