{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Science Museum/retrieve and transform",
    "entries": [
      {
        "_id": "48cab03fa36fe43627a69b9d183dcb97",
        "request": {
          "url": "https://my.sciencemuseum.org.uk/api/products/productionseasons",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"productionSeasonIdFilter\":[],\"keywordIds\":null,\"startDate\":\"2026-07-26T00:00\",\"endDate\":\"2027-01-26T23:59\",\"keywords\":[]}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-debug-request-id",
              "value": "6fad6021-ee0d-40ac-ba2f-a8dae3cb3e7c"
            },
            {
              "name": "x-iinfo",
              "value": "50-70226152-70226179 NNNN CT(10 10 0) RT(1785050619713 19) q(0 0 0 -1) r(12 12) U6"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"productions\":[{\"productionSeasonId\":\"463109\",\"productionTitle\":\"Bubble Explorers\",\"listingImageUrl\":\"\",\"listingImageAlt\":\"\",\"description\":\"\",\"keywords\":null,\"actionUrl\":null,\"actionUrlText\":null,\"startDate\":\"0001-01-01T00:00:00\",\"displayDate\":null,\"displayTime\":null,\"performances\":[{\"id\":463216,\"performanceDate\":\"2026-07-26T09:00:00+00:00\",\"iso8601DateString\":\"2026-07-26T10:00:00.0000000+01:00\",\"displayDate\":\"Sunday 26 July 2026\",\"displayTime\":\"\",\"performanceTitle\":\"Bubble Explorers\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/463109/463216\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",\"isTitleVisibleOnListView\":true,\"productTypeId\":7,\"productTypeName\":\"\",\"performanceSortTitle\":\"Bubble Explorers\"},{\"id\":463217,\"performanceDate\":\"2026-07-27T09:00:00+00:00\",\"iso8601DateString\":\"2026-07-27T10:00:00.0000000+01:00\",\"displayDate\":\"Monday 27 July 2026\",\"displayTime\":\"\",\"performanceTitle\":\"Bubble Explorers\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/463109/463217\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",\"isTitleVis[...]
