{
  "log": {
    "_recordingName": "Science Museum/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "faa9eaec4b735993fd173a54ef407bb2",
        "request": {
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"productionSeasonIdFilter\":[],\"keywordIds\":null,\"startDate\":\"2025-10-22T00:00\",\"endDate\":\"2026-10-22T23:59\",\"keywords\":[]}"
          },
          "queryString": [],
          "url": "https://my.sciencemuseum.org.uk/api/products/productionseasons"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 700700,
            "text": "[{\"productionSeasonId\":\"389426\",\"productionTitle\":\"Antarctica 3D (U)\",\"listingImageUrl\":\"\",\"listingImageAlt\":\"\",\"description\":\"\",\"keywords\":null,\"actionUrl\":null,\"actionUrlText\":null,\"startDate\":\"0001-01-01T00:00:00\",\"displayDate\":null,\"displayTime\":null,\"performances\":[{\"id\":404978,\"performanceDate\":\"2025-10-23T10:00:00+00:00\",\"iso8601DateString\":\"2025-10-23T11:00:00.0000000+01:00\",\"displayDate\":\"Thursday 23 October 2025\",\"displayTime\":\"11:00\",\"performanceTitle\":\"Antarctica 3D (U)\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/389426/404978\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",\"isTitleVisibleOnListView\":true,\"productTypeId\":3,\"productTypeName\":\"\",\"performanceSortTitle\":\"Antarctica 3D (U)\"},{\"id\":405124,\"performanceDate\":\"2025-10-23T13:00:00+00:00\",\"iso8601DateString\":\"2025-10-23T14:00:00.0000000+01:00\",\"displayDate\":\"Thursday 23 October 2025\",\"displayTime\":\"14:00\",\"performanceTitle\":\"Antarctica 3D (U)\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/389426/405124\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",[...]
