{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Science Museum/retrieve and transform",
    "entries": [
      {
        "_id": "2ff50af1cbd296568c0064cc77739d6f",
        "request": {
          "url": "https://my.sciencemuseum.org.uk/api/products/productionseasons",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"productionSeasonIdFilter\":[],\"keywordIds\":null,\"startDate\":\"2026-06-23T00:00\",\"endDate\":\"2026-12-23T23:59\",\"keywords\":[]}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-debug-request-id",
              "value": "17ff12cd-a0a0-4f54-b49b-e7189ca2da5e"
            },
            {
              "name": "x-iinfo",
              "value": "13-15797656-15797658 NNNN CT(10 24 0) RT(1782243660722 18) q(0 0 0 -1) r(9 9) U6"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"productions\":[{\"productionSeasonId\":\"467524\",\"productionTitle\":\"Interactive Guide\",\"listingImageUrl\":\"\",\"listingImageAlt\":\"\",\"description\":\"\",\"keywords\":null,\"actionUrl\":null,\"actionUrlText\":null,\"startDate\":\"0001-01-01T00:00:00\",\"displayDate\":null,\"displayTime\":null,\"performances\":[{\"id\":467553,\"performanceDate\":\"2026-06-23T16:00:00+00:00\",\"iso8601DateString\":\"2026-06-23T17:00:00.0000000+01:00\",\"displayDate\":\"Tuesday 23 June 2026\",\"displayTime\":\"\",\"performanceTitle\":\"Interactive Guide\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/467524/467553\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":false,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"Sorry! These tickets are not available at the moment. Please check back later or choose another event.\",\"isTitleVisibleOnListView\":true,\"productTypeId\":4,\"productTypeName\":\"\",\"performanceSortTitle\":\"Interactive Guide\"},{\"id\":467554,\"performanceDate\":\"2026-06-24T16:00:00+00:00\",\"iso8601DateString\":\"2026-06-24T17:00:00.0000000+01:00\",\"displayDate\":\"Wednesday 24 June 2026\",\"displayTime\":\"\",\"performanceTitle\":\"Interactive Guide\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/467524/467554\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",\"isTit[...]
