{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Science Museum/retrieve and transform",
    "entries": [
      {
        "_id": "48804e3278a444eafc7a7ab56a82610d",
        "request": {
          "url": "https://my.sciencemuseum.org.uk/api/products/productionseasons",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"productionSeasonIdFilter\":[],\"keywordIds\":null,\"startDate\":\"2026-05-01T00:00\",\"endDate\":\"2026-11-01T23:59\",\"keywords\":[]}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "x-cdn",
              "value": "Imperva"
            },
            {
              "name": "x-debug-request-id",
              "value": "5bdd938d-f21c-41d1-b819-1cf33161045c"
            },
            {
              "name": "x-iinfo",
              "value": "11-28321652-28321653 NNNN CT(11 30 0) RT(1777626886754 18) q(0 0 0 -1) r(70 70) U6"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "[{\"productionSeasonId\":\"440082\",\"productionTitle\":\"Under The Sea (U)\",\"listingImageUrl\":\"\",\"listingImageAlt\":\"\",\"description\":\"\",\"keywords\":null,\"actionUrl\":null,\"actionUrlText\":null,\"startDate\":\"0001-01-01T00:00:00\",\"displayDate\":null,\"displayTime\":null,\"performances\":[{\"id\":439441,\"performanceDate\":\"2026-05-01T10:00:00+00:00\",\"iso8601DateString\":\"2026-05-01T11:00:00.0000000+01:00\",\"displayDate\":\"Friday 1 May 2026\",\"displayTime\":\"11:00\",\"performanceTitle\":\"Under The Sea (U)\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/440082/439441\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",\"isTitleVisibleOnListView\":true,\"productTypeId\":3,\"productTypeName\":\"\",\"performanceSortTitle\":\"Under The Sea (U)\"},{\"id\":439217,\"performanceDate\":\"2026-05-02T10:00:00+00:00\",\"iso8601DateString\":\"2026-05-02T11:00:00.0000000+01:00\",\"displayDate\":\"Saturday 2 May 2026\",\"displayTime\":\"11:00\",\"performanceTitle\":\"Under The Sea (U)\",\"actionUrl\":\"https://my.sciencemuseum.org.uk/440082/439217\",\"actionUrlText\":\"Book now\",\"timeFormat\":\"H:mm\",\"isPerformanceVisible\":true,\"isOnSale\":true,\"hasLimitedSeatingAvailable\":false,\"performanceStatusMessage\":\"\",\"isT[...]
