{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Leicester Square/retrieve and transform",
    "entries": [
      {
        "_id": "45425e8cd2994b48215bd8993aa50d0c",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=153",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "153"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:52:08 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-30\",\"filmScreenings\":[{\"filmId\":\"HO00008187\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000149\",\"0000000010\",\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008237\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000030\"]}]},{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000035[...]
