{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Leicester Square/retrieve and transform",
    "entries": [
      {
        "_id": "45425e8cd2994b48215bd8993aa50d0c",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=153",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "153"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000208\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000149\",\"0000000010\",\"0000000208\",\"0000000030\"]}]},{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000208\"]}]},{\"filmId\":\"HO00008527\",\"sites\":[{\"siteId\":\"153\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000208\"]}]},{\"filmId\":\"HO00008413\",\"sites\":[{\"siteId\":\[...]
