{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "TicketSource/Close-Up Film Centre/retrieve and find events",
    "entries": [
      {
        "_id": "70fed2f1ed486c1a7705470b1ff68a44",
        "request": {
          "url": "https://search.ticketsource.com/indexes/events_PROD/search",
          "method": "POST",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"q\":\"\",\"filter\":\"timestamp >= 1773774000 AND filterTimestamp >= 1776448800 AND category = \\\"film\\\" AND _geoRadius(51.49028, -0.12324, 24140)\",\"facets\":[\"genre\",\"category\",\"location\"],\"sort\":[\"timestamp:asc\",\"_geoPoint(51.49028, -0.12324):asc\"],\"limit\":100,\"offset\":0,\"showRankingScore\":true,\"showRankingScoreDetails\":true}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "content": {
            "mimeType": "application/json",
            "text": "{\"hits\":[{\"performanceId\":3054311,\"eventHash\":\"e-emrark\",\"dateHash\":\"d-yxqzqrukoqkoo\",\"timeHash\":\"t-jxxpypq\",\"promoterId\":99964,\"event\":\"Intermission\",\"eventId\":1322126,\"venueId\":1463767,\"hint\":\"\",\"category\":\"film\",\"genre\":\"thriller\",\"venue\":\"The Old Library\",\"location\":\"west_norwood\",\"venueAdd1\":\"14-16 Knights Hill\",\"venueAdd2\":\"West Norwood\",\"venueAdd3\":\"\",\"venueAdd4\":\"United Kingdom\",\"venuePostcode\":\"SE27 0HY\",\"timestamp\":\"1776454200\",\"filterTimestamp\":\"1776450600\",\"deletionTimestamp\":\"1779046200\",\"timezone\":\"BST\",\"dateTimeString\":\"Friday 17th April 2026 07:30:00 PM\",\"eventDescription\":\"Intermission is a gritty, fast-paced Irish dark comedy that weaves together the lives of various residents in Dublin....\",\"eventSlug\":\"intermission\",\"banner\":\"99964-17746300534094-s.png\",\"venueSlug\":\"the-old-library\",\"locationSlug\":\"west-norwood\",\"gateway\":\"TS\",\"promoter\":\"West Norwood Free Film Festival \",\"promoterNameURL\":\"west-norwood-free-film-festi\",\"_geo\":{\"lat\":51.43266,\"lng\":-0.104166},\"multiDayTimePerformance\":false,\"multiDayTimePerformanceHash\":\"EHJGKJK20260417\",\"_geoDistance\":6542,\"_rankingScore\":1.0,\"_rankingScoreDetails\":{\"timestamp:asc\":{\"order\":0,\"value\":\"1776454200\"},\"_geoPoint(51.49028, -0.12324):asc\":{\"order\":1,\"value\":{\"lat\":51.43266,\"lng\":-0.104166},\"distance\":6541.902}}},{\"performanceId\":3060220,\"eventHash\":\"e-dlyyro\",\"dateHash\":\"d-klqqzytvmqvmm\",\"timeHash\":\"t-dkkqeyy\",\"promoterId\":86800,\"event\":\"Flashdance 1983 (15)\",\"eventId\":1325711,\"venueId\":1467444,\"hint\":\"\",\"category\":\"film\",\"genre\":\"other\",\"venue\":\"Riverside Arts Centre\",\"location\":\"sunbury-on-thames\",\"venueAdd1\":\"Riverside Arts Centre\",\"venueAdd2\":\"59 Thames Street\",\"venueAdd3\":\"Sunbury-on-Thames\",\"venueAdd4\":\"United Kingdom\",\"venue[...]
