{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "TicketSource/Close-Up Film Centre/retrieve and find events",
    "entries": [
      {
        "_id": "18a57a66038da51a96cf7c79dd9e1dfe",
        "request": {
          "url": "https://lh632p1up5-dsn.algolia.net/1/indexes/dev_EVENT/query?x-algolia-agent=Algolia%20for%20JavaScript%20%283.35.1%29%3B%20Browser&x-algolia-application-id=LH632P1UP5&x-algolia-api-key=239323e27e42c7e84a9f43482ff0d662",
          "method": "POST",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [
            {
              "name": "x-algolia-agent",
              "value": "Algolia for JavaScript (3.35.1); Browser"
            },
            {
              "name": "x-algolia-application-id",
              "value": "LH632P1UP5"
            },
            {
              "name": "x-algolia-api-key",
              "value": "239323e27e42c7e84a9f43482ff0d662"
            }
          ],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"params\":\"query=&removeStopWords=true&page=0&getRankingInfo=true&facets=*&filters=category%3A%27film%27&numericFilters=timestamp+%3E%3D+1762992000%2CfilterTimestamp+%3E%3D+1765584000&aroundLatLng=51.49028%2C+-0.12324&aroundRadius=24140&aroundPrecision=24140\"}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-disposition",
              "value": "inline; filename=a.txt"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "x-alg-pt",
              "value": "1"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "text": "{\"hits\":[{\"eventHash\":\"e-yjbzbv\",\"dateHash\":\"d-qkvbvauebxgne\",\"timeHash\":\"t-ojnzxxx\",\"promoterID\":25599,\"performanceID\":\"FKLIDIJ\",\"event\":\"The Snowman with live brass band\",\"eventID\":1198286,\"venueID\":1332703,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"family\",\"venue\":\"St Gabriel's Church Aldersbrook\",\"location\":\"london\",\"venueAdd1\":\"12 Aldersbrook Road\",\"venueAdd2\":\"Aldersbrook\",\"venueAdd3\":\"London\",\"venueAdd4\":\"\",\"venuePostcode\":\"E12 5HH\",\"timestamp\":1765638000,\"filterTimestamp\":1765634400,\"deletionTimestamp\":1768230000,\"timezone\":\"BST\",\"dateTimeString\":\"Saturday 13th December 2025 03:00:00 PM\",\"eventDescription\":\"Following sell out performances of past years, we're bringing him back to life again this Christmas with 3 screenings,...\",\"eventSlug\":\"the-snowman-with-live-brass-band\",\"banner\":\"25599-17557215922012-s.png\",\"venueSlug\":\"st-gabriels-church-aldersbrook\",\"locationSlug\":\"aldersbrook\",\"gateway\":\"TS\",\"promoter\":\"Redbridge Brass\",\"promoterNameURL\":\"redbridgebrass\",\"_geoloc\":{\"lat\":51.562315,\"lng\":0.033912},\"multiDayTimePerformance\":true,\"multiDayTimePerformanceHash\":\"EGGFKDG20251213\",\"objectID\":\"2785056\",\"_highlightResult\":{\"performanceID\":{\"value\":\"FKLIDIJ\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"event\":{\"value\":\"The Snowman with live brass band\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventID\":{\"value\":\"1198286\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"hint\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"keywords\":{\"value\":\"\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"category\":{\"value\":\"film\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"genre\":{\"value\":\"family\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"venue\":{\"value\":\"St Gabriel's Church Aldersbrook\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"location\":{\"value\":\"london\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"dateTimeString\":{\"value\":\"Saturday 13th December 2025 03:00:00 PM\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"eventSlug\":{\"value\":\"the-snowman-with-live-brass-band\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoter\":{\"value\":\"Redbridge Brass\",\"matchLevel\":\"none\",\"matchedWords\":[]},\"promoterNameURL\":{\"value\":\"redbridgebrass\",\"matchLevel\":\"none\",\"matchedWords\":[]}},\"_rankingInfo\":{\"nbTypos\":0,\"firstMatchedWord\":0,\"proximityDistance\":0,\"userScore\":59065,\"geoDistance\":0,\"geoPrecision\":24140,\"nbExactWords\":0,\"words\":0,\"filters\":1,\"matchedGeoLocation\":{\"lat\":51.5623,\"lng\":0.0339,\"distance\":13514}}},{\"eventHash\":\"e-gplozj\",\"dateHash\":\"d-zvlqpmtygvqve\",\"timeHash\":\"t-ejkgaex\",\"promoterID\":86800,\"performanceID\":\"FMELLGL\",\"event\":\"Elf 2003 PG\",\"eventID\":1249097,\"venueID\":1387187,\"hint\":\"\",\"keywords\":\"\",\"category\":\"film\",\"genre\":\"family\",\"venue\":\"Riverside Arts Centre\",\"location\":\"sunbury-on-thames\",\"venueAdd1\":\"Riverside Arts Centre\",\"venueAdd2\":\"59 Thames Street\",\"venueAdd3\":\"Sunbury-on-Thames\",\"venueAdd4\":\"United Kingdo[...]
