{
  "log": {
    "_recordingName": "DesignMyNight/The Rivoli Ballroom/retrieve and find events",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b5466044c7473b709e64ec0f0759a24d",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "page",
              "value": "1"
            },
            {
              "name": "region_id",
              "value": "59ef1720e445807f4c267a14"
            },
            {
              "name": "type",
              "value": "event"
            },
            {
              "name": "type_of_event",
              "value": "59ef1737e445807f4c268548"
            }
          ],
          "url": "https://api-content.designmynight.com/search/occurrences?page=1&region_id=59ef1720e445807f4c267a14&type=event&type_of_event=59ef1737e445807f4c268548"
        },
        "response": {
          "content": {
            "mimeType": "application/json",
            "size": 30698,
            "text": "{\"payload\":[{\"id\":\"6838928c736aba7b9359c1d7\",\"object_id\":\"6838928c736aba7b9359c1d6\",\"designmynight_id\":\"6838928b98dfc0c91756b20d\",\"path\":\"https:\\/\\/www.designmynight.com\\/london\\/whats-on\\/date-night\\/fright-night-cinema-the-lost-boys-2\",\"title\":\"Fright Night Cinema- The Lost Boys\",\"type\":\"event\",\"status\":\"public\",\"score\":0,\"excerpt\":\"\\n\\nStep into the shadows for a spine-chilling horror film\\nnight at one of London&hellip;\",\"covid_safe_count\":0,\"review_count\":0,\"search_boost\":null,\"recommended\":false,\"features\":{\"type_of_event\":{\"type\":\"type_of_event\",\"icon\":\"fa-ticket\",\"title\":\"Type of event\",\"label\":\"Film Screenings\",\"id\":\"59ef1737e445807f4c268548\",\"labels_string\":\"Type of event: Film Screenings\"}},\"food_and_drink\":{\"food\":{\"enabled\":false,\"use_venue\":false}},\"photos\":[{\"caption\":\"\",\"sizes\":{\"original\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-optimised.png\",\"width\":250,\"height\":200},\"large\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-1200x616-optimised.png\",\"width\":1200,\"height\":616},\"medium\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-620x318-optimised.png\",\"width\":620,\"height\":318},\"width_414\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-414x212-optimised.png\",\"width\":414,\"height\":212},\"small\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-300x154-optimised.png\",\"width\":300,\"height\":154},\"width_192\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-192x98-optimised.png\",\"width\":192,\"height\":98},\"thumbnail\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2021\\/12\\/mv5bodg3ntc1otczmv5bml5banbnxkftztgwmtg1ntk2mde._v1_sy1000_cr0014611000_al_-140x71-optimised.png\",\"width\":140,\"height\":71}},\"id\":{\"$oid\":\"6902b5cd3f451cad894d367c\"}},{\"caption\":\"\",\"sizes\":{\"original\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads\\/2024\\/09\\/9173F0AD-AA41-4DD4-B700-E90331231B9E-optimised.jpeg\",\"width\":250,\"height\":200},\"medium\":{\"path\":\"\\/\\/static.designmynight.com\\/uploads[...]
