{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Wimbledon/retrieve and transform",
    "entries": [
      {
        "_id": "5d45417b092095b5007fd7e3ea2af807",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=WIM1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "WIM1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:07:09 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00006931\",\"sites\":[{\"siteId\":\"WIM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006966\",\"sites\":[{\"siteId\":\"WIM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"WIM1\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"WIM1\",\"showtimeAttributeIds\":[\"0000000049\"]}]},{\"filmId\":\"HO00006825\",\"sites\":[{\"siteId\":\"WIM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007152\",\"sites\":[{\"siteId\":\"WIM1\",\"show[...]
