{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Wimbledon/retrieve and transform",
    "entries": [
      {
        "_id": "69b1e57cce98c8a40016efe817c9bcb4",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=WIM01",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "WIM01"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006680\",\"sites\":[{\"siteId\":\"WIM01\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006686\",\"sites\":[{\"siteId\":\"WIM01\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"WIM01\",\"showtimeAttributeIds\":[\"0000000059\",\"0000000055\"]}]},{\"filmId\":\"HO00006609\",\"sites\":[{\"siteId\":\"WIM01\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"WIM01\",\"showtimeAttributeIds\":[]}]}]},{\"businessDate\":\"2026-01-30\",\"filmScreenings\":[{\"filmId\":\"HO00006686\",\"sit[...]
