{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Wilton's Music Hall/retrieve and transform",
    "entries": [
      {
        "_id": "268222910182dead8e744f01eb29b4fa",
        "request": {
          "url": "https://wiltons.org.uk/whats-on/?category=film&event-page=1",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "category",
              "value": "film"
            },
            {
              "name": "event-page",
              "value": "1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://wiltons.org.uk/wp-json/>; rel=\"https://api.w.org/\""
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n\n<html class=\"no-js\" lang=\"en-GB\">\n\n\t<head>\n\n\t\t<meta charset=\"UTF-8\">\n\t\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\" >\n\n\t\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\t\t<link rel=\"shortcut icon\" href=\"/templates/images/favicon.png\"/>\n\t\t<!--<script src=\"https://code.jquery.com/jquery-1.12.4.js\"></script>-->\n\t\t<meta name='robots' content='index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1' />\n\n<!-- Google Tag Manager for WordPress by gtm4wp.com -->\n<script data-cfasync=\"false\" data-pagespeed-no-defer>\n\tvar gtm4wp_datalayer_name = \"dataLayer\";\n\tvar dataLayer = dataLayer || [];\n</script>\n<!-- End Google Tag Manager for WordPress by gtm4wp.com -->\n\t<!-- This site is optimized with the Yoast SEO plugin v27.1 - https://yoast.com/product/yoast-seo-wordpress/ -->\n\t<title>What&#039;s On - Wilton&#039;s Music Hall</title>\n\t<link rel=\"canonical\" href=\"https://wiltons.org.uk/whats-on/\" />\n\t<link rel=\"next\" href=\"https://wiltons.org.uk/whats-on/page/2/\" />\n\t<meta property=\"og:locale\" content=\"en_GB\" />\n\t<meta property=\"og:type\" content=\"website\" />\n\t<meta property=\"og:title\" content=\"What&#039;s On - Wilton&#039;s Music Hall\" />\n\t<meta property=\"og:url\" content=\"https://wiltons.org.uk/whats-on/\" />\n\t<meta property=\"og:site_name\" content=\"Wilton&#039;s Music Hall\" />\n\t<meta name=\"twitter:card\" content=\"summary_large_image\" />\n\t<script type=\"application/ld+json\" class=\"yoast-schema-graph\">{\"@context\":\"https://schema.org\",\"@graph\":[{\"@type\":\"CollectionPage\",\"@id\":\"https://wiltons.org.uk/whats-on/\",\"url\":\"https://wiltons.org.uk/whats-on/\",\"name\":\"What's On - Wilton&#039;s Music Hall\",\"isPartOf\":{\"@id\":\"https://wiltons.org.uk/#website\"},\"primaryImageOfPage\":{\"@id\":\"https://wiltons.org.uk/whats-on/#primaryimage\"},\"image\":{\"@id\":\"https://wiltons.org.uk/whats-on/#primaryimage\"},\"thumbnailUrl\":\"https://wiltons.org.uk/wp-content/uploads/2024/09/Hall-V.jpeg\",\"breadcrumb\":{\"@id\":\"https://wiltons.org.uk/whats-on/#breadcrumb\"},\"inLanguage\":\"en-GB\"},{\"@type\":\"ImageObject\",\"inLanguage\":\"en-GB\",\"@id\":\"https://wiltons.org.uk/whats-on/#primaryimage\",\"url\":\"https://wiltons.org.uk/wp-content/uploads/2024/09/Hall-V.jpeg\",\"contentUrl\":\"https://wiltons.org.uk/wp-content/uploads/2024/09/Hall-V.jpeg\",\"width\":640,\"height\":427},{\"@type\":\"BreadcrumbList\",\"@id\":\"https://wiltons.org.uk/whats-on/#breadcrumb\",\"itemListElement\":[{\"@type\":\"ListItem\",\"position\":1,\"name\":\"Home\",\"item\":\"https://wiltons.org.uk/\"},{\"@type\":\"ListItem\",\"position\":2,\"name\":\"What's On\"}]},{\"@type\":\"WebSite\",\"@id\":\"https://wiltons.org.uk/#website\",\"url\":\"https://wiltons.org.uk/\",\"name\":\"Wilton's Music Hall\",\"description\":\"\",\"publisher\":{\"@id\":\"https://wiltons.org.uk/#organization\"},\"potentialAction\":[{\"@type\":\"SearchAction\",\"target\":{\"@type\":\"EntryPoint\",\"urlTemplate\":\"https://wiltons.org.uk/?s={search_term_string}\"},\"query-input\":{\"@type\":\"PropertyValueSpecification\",\"valueRequired\":true,\"valueName\":\"search_term_string\"}}],\"inLanguage\":\"en-GB\"},{\"@type\":\"Organization\",\"@id\":\"https://wiltons.org.uk/#organization\",\"name\":\"Wilton's Music Hall\",\"url\":\"https://wiltons.org.uk/\",\"logo\":{\"@type\":\"ImageObject\",\"inLanguage\":\"en-GB\",\"@id\":\"https://wiltons.org.uk/#/schema/logo/image/\",\"url\":\"https://wiltons.org.uk/wp-content/uploads/2024/05/Wiltons-Logo.png\",\"contentUrl\":\"https://wiltons.org.uk/wp-content/uploads/2024/05/Wiltons-Logo.png\",\"width\":1702,\"height\":290,\"caption\":\"Wilton's Music Hall\"},\"image\":{\"@id\":\"https://wiltons.org.uk/#/schema/logo/image/\"}}]}</script>\n\t<!-- / Yoast SEO plugin. -->\n\n\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Wilton&#039;s Music Hall &raquo; Feed\" href=\"https://wiltons.org.uk/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Wilton&#039;s Music Hall &raquo; Comments Feed\" href=\"https://wiltons.org.uk/comments/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"Wilton&#039;s Music Hall &raquo; What&#039;s On Feed\" href=\"https://wiltons.org.uk/whats-on/feed/\" />\n<style id='wp-img-auto-sizes-contain-inline-css'>\nimg:is([sizes=auto i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css */\n</style>\n<style id='wp-block-library-inline-css'>\n:root{--wp-block-synced-color:#7a00df;--wp-block-synced-color--rgb:122,0,223;--wp-bound-block-color:var(--wp-block-synced-color);--wp-editor-canvas-background:#ddd;--wp-admin-theme-color:#007cba;--wp-admin-theme-color--rgb:0,124,186;--wp-admin-theme-color-darker-10:[...]
