{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Beckenham/retrieve and transform",
    "entries": [
      {
        "_id": "7a4c416f7428ac9c439f67055c1cb60b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=695",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "695"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "bravo",
              "value": "bravo"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:34:19 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00007316\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000035\",\"0000000003\",\"0000000192\",\"0000000006[...]
