{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Beckenham/retrieve and transform",
    "entries": [
      {
        "_id": "7a4c416f7428ac9c439f67055c1cb60b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=695",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "695"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "echo",
              "value": "echo"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00009072\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00008964\",\"sites\":[{\"siteId\":\"695\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030[...]
