{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Bush Theatre/retrieve and transform",
    "entries": [
      {
        "_id": "f5b9174fd317c5a66f14b67e41c2db8a",
        "request": {
          "url": "https://www.bushtheatre.co.uk/whats-on/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://www.bushtheatre.co.uk/wp-json/>; rel=\"https://api.w.org/\", <https://www.bushtheatre.co.uk/wp-json/wp/v2/pages/136>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://www.bushtheatre.co.uk/?p=136>; rel=shortlink"
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!doctype html>\n<html lang=\"en-US\">\n<head>\n\t<meta charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\t<link rel=\"preconnect\" href=\"https://fonts.googleapis.com\">\n\t<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\" crossorigin>\n\t<link href=\"https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap\" rel=\"stylesheet\">\n\n\t<script type=\"text/javascript\" src=\"https://tickets.bushtheatre.co.uk/bushtheatre/website/scripts/integrate.js\"></script>\n\n\t<script src=\"https://webcomponents.spektrix.com/stable/webcomponents-loader.js\"></script>\n\t<script src=\"https://webcomponents.spektrix.com/stable/spektrix-component-loader.js\" data-components=\"spektrix-donate,spektrix-memberships,spektrix-merchandise\" async></script>\n\n\t\t\t<!-- Paste Google Tag Manager here so only drops on live site -->\n\t\n\t<meta name='robots'[...]
