{
  "log": {
    "_recordingName": "Curzon Hoxton/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "13141929f2f64f549558807eda000e9a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/hoxton/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fhoxton%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 52825,
            "text": "{\"name\":\"Hoxton\",\"urlSegment\":\"hoxton\",\"url\":\"/venues/hoxton/\",\"nodeId\":1805,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:57:42\\u002B01:00\",\"updateDate\":\"2025-06-24T08:23:05\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Hoxton. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Hoxton Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Hoxton Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/vz1o04xa/hoxton3.jpg?width=393\\u0026height=169\\u0026v=1dba25ace9c55b0\",\"tablet\":\"/media/vz1o04xa/hoxton3.jpg?width=782\\u0026height=315\\u0026v=1dba25ace9c55b0\",\"desktop\":\"/media/vz1o04xa/hoxton3.jpg?width=1216\\u0026height=523\\u0026v=1dba25ace9c55b0\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON HOXTON\",\"actionLink\":{\"name\":\"take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/hoxton/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"https://www.curzon.com/c[...]
