{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Hoxton/retrieve and transform",
    "entries": [
      {
        "_id": "23506c2e5473438b3d860cb5acdf99a7",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=HOX1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "HOX1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"HOX1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006679\",\"sites\":[{\"siteId\":\"HOX1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"HOX1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006609\",\"sites\":[{\"siteId\":\"HOX1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006687\",\"sites\":[{\"siteId\":\"HOX1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006727\",\"sites\":[{\"siteId\":\"HOX1\",\"showtimeAttributeIds\":[\"0000000009\"]}]}]},[...]
