{
  "log": {
    "_recordingName": "Cineworld Wembley/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d0d3f17fdad95101596830d815102ac3",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/dates/in-cinema/082/until/2026-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 293,
            "text": "{\"body\":{\"dates\":[\"2025-01-23\",\"2025-01-24\",\"2025-01-25\",\"2025-01-26\",\"2025-01-27\",\"2025-01-28\",\"2025-01-29\",\"2025-01-30\",\"2025-02-01\",\"2025-02-03\",\"2025-02-13\",\"2025-02-14\",\"2025-02-15\",\"2025-02-16\",\"2025-02-17\",\"2025-02-18\",\"2025-02-19\",\"2025-02-20\",\"2025-02-21\",\"2025-02-22\",\"2025-02-23\"]}}"
          },
          ],
          "headers": [
            {
              "name": "content-type",
              "value": "application/json;charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 23 Jan 2025 18:00:34 GMT"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "a2dfc518cc4560cb61d1f5cf768c4347",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "attr",
              "value": ""
            },
            {
              "name": "lang",
              "value": "en_GB"
            }
          ],
          "url": "https://www.cineworld.co.uk/uk/data-api-service/v1/quickbook/10108/film-events/in-cinema/082/at-date/2025-01-23?attr=&lang=en_GB"
        },
        "response": {
          "content": {
            "mimeType": "application/json;charset=utf-8",
            "size": 14218,
            "text": "{\"body\":{\"films\":[{\"id\":\"ho00012548\",\"name\":\"Dominic and the Ladies Purse (Malayalam)\",\"length\":151,\"posterLink\":\"https://regalcdn.azureedge.net/CW/DominicandtheLadiesPurseMalayalam/HO00012548/TV_SmallPosterImage/20250116-045753310.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/dominic-and-the-ladies-purse-malayalam/ho00012548\",\"weight\":0,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-23T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"comedy\",\"reserved-selected\",\"subbed\"]},{\"id\":\"ho00012531\",\"name\":\"Azaad (Hindi)\",\"length\":145,\"posterLink\":\"https://regalcdn.azureedge.net/CW/AzaadHindi/HO00012531/TV_SmallPosterImage/20250114-115325551.jpg\",\"videoLink\":null,\"link\":\"https://www.cineworld.co.uk/films/azaad-hindi/ho00012531\",\"weight\":0,\"releaseYear\":\"2025\",\"releaseDate\":\"2025-01-17T00:00:00\",\"attributeIds\":[\"15\",\"2d\",\"action\",\"adventure\",\"reserved-selected\",\"subbed\"[...]
