{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The Garden Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "42bce7c268cd241c268f6954813fe16e",
        "request": {
          "url": "https://www.thegardencinema.co.uk/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://www.thegardencinema.co.uk/wp-json/>; rel=\"https://api.w.org/\", <https://www.thegardencinema.co.uk/wp-json/wp/v2/pages/2>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://www.thegardencinema.co.uk/>; rel=shortlink"
            },
            {
              "name": "x-content-security-policy",
              "value": "default-src 'self'; img-src *; media-src * data:;"
            },
            {
              "name": "x-litespeed-cache",
              "value": "miss"
            },
            {
              "name": "x-litespeed-cache-control",
              "value": "public,max-age=60"
            },
            {
              "name": "x-litespeed-tag",
              "value": "88a_front,88a_URL.6666cd76f96956469e7be39d750cc7d9,88a_F,88a_Po.2,88a_PGS,88a_,88a_MIN.44772b07acd173d3ecb3660e59cd132c.js"
            },
            {
              "name": "x-pingback",
              "value": "https://www.thegardencinema.co.uk/xmlrpc.php"
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!doctype html>\n<!--[if lt IE 7]><html lang=\"en-GB\" class=\"no-js lt-ie9 lt-ie8 lt-ie7\"><![endif]-->\n<!--[if (IE 7)&!(IEMobile)]><html lang=\"en-GB\" class=\"no-js lt-ie9 lt-ie8\"><![endif]-->\n<!--[if (IE 8)&!(IEMobile)]><html lang=\"en-GB\" class=\"no-js lt-ie9\"><![endif]-->\n<!--[if gt IE 8]><!--> <html lang=\"en-GB\" class=\"no-js\" bgcolor=\"#1f1f1f\"><!--<![endif]-->\n<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n        <meta name=\"HandheldFriendly\" content=\"True\">\n    <meta name=\"MobileOptimized\" content=\"320\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\"/>\n    \n    \n    \n    <title>The Garden Cinema</title>\n\t<style>img:is([sizes=\"auto\" i], [sizes^=\"auto,\" i]) { contain-intrinsic-size: 3000px 1500px }</style>\n\t<meta name=\"description\" content=\"Welcome to The Garden Cinema, London. We screen select new releases alongside curated repertory seasons, on the edge of Covent Garden.\">\n<meta name=\"robots\" content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\">\n<link rel=\"canonical\" href=\"https://www.thegardencinema.co.uk/\">\n<script id=\"website-schema\" type=\"application/ld+json\">{\"@context\":\"https:\\/\\/schema.org\",\"@type\":\"WebSite\",\"name\":\"The Garden Cinema, London\",\"alternateName\":\"Garden Cinema\",\"description\":\"An independent arts cinema in the heart of London, screening select new releases alongside curated repertory seasons.\",\"url\":\"https:\\/\\/www.thegardencinema.co.uk\"}</script>\n<meta property=\"og:url\" content=\"https://www.thegardencinema.co.uk/\">\n<meta property=\"og:site_name\" content=\"The Garden Cinema\">\n<meta property=\"og:locale\" content=\"en_GB\">\n<meta property=\"og:type\" content=\"website\">\n<meta property=\"og:title\" content=\"The Garden Cinema, Covent Garden, London.\[...]
