{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ActOne Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "799c6c974c3065657990fb01b37d64e0",
        "request": {
          "url": "https://www.actonecinema.co.uk/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"9ab39ec1a4343e14652a8b78c17e2546\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KG3HJ8R4HAK2P26MXDGXZBTG"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"33504\",\"name\":\"SAIPAN\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"saipan\",\"posterImage\":\"1l10vkbth28euxy4jgk4p63eh1j3\",\"bannerImage\":\"dja3ze6c1rehqtaws3jxubzeva0m\",\"synopsis\":\"On the eve of the 2002 FIFA World Cup, Irish captain Roy Keane forfeits his place in the squad at the team's preparation base in Saipan, following a heated disagreement with manager Mick McCarthy.\\n\\n★★★★ - Guardian\\n★★★★ - The Times\",\"starring\":\"Éanna Hardwicke, Steve Coogan, Oliver Coopersmith\",\"directedBy\":\"Lisa Barros D'Sa, Glenn Leyburn\",\"producedBy\":\"Trevor Birney, Macdara Kelleher, Oliver Butler, John Keville\",\"searchTerms\":\"\",\"duration\":90,\"genre\":\"Drama\",\"allGenres\":\"Drama, History\",\"rating\":\"15\",\"trailerYoutubeId\":\"s4TzwHPsq_s\",\"trailerVideo\":null,\"releaseDate\":\"2026-01-23\",\"dateOfFirstShowing\":\"2026-01-23\",\"tmdbPopularityScore\":3.4078,\"tmdbId\":\"1322692\",\"dcmEdiMovieId\":\"471559\",\"dcmEdiMovieName\":\"SAIPAN [15]\",\"siteId\":\"93\",\"titleClassId\":\"110\",\"showings\":[{\"id\":\"387269\",\"time\":\"2026-01-23T15:10:00Z\",\"ticketsSold\":3,\"screenId\":\"140\",\"seatsRemaining\":57,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc1\\\"}\"},{\"id\":\"387270\",\"time\":\"2026-01-23T20:10:00Z\",\"ticketsSold\":3,\"screenId\":\"140\",\"seatsRemaining\":57,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc1\\\"}\"},{\"id\":\"387257\",\"time\":\"2026-01-24T15:00:00Z\",\"ticketsSold\":8,\"screenId\":\"140\",\"seatsRemaining\":52,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc1\\\"}\"},{\"id\":\"387258\",\"time\":\"2026-01-24T20:10:00Z\",\"ticketsSold\":14,\"screenId\":\"140\",\"seatsRemaining\":46,\"displayMetaData\":\"{\\\"clas[...]
