{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ActOne Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "799c6c974c3065657990fb01b37d64e0",
        "request": {
          "url": "https://www.actonecinema.co.uk/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "akamai-grn",
              "value": "0.ddb31402.1783791372.1d2d8e56"
            },
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"5ae5421efaf43d863fec5ffce895664d\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KX940HXWYBSPTQ9GZ9JJQ7XR"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"38533\",\"name\":\"THE LAST ONE FOR THE ROAD\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"thelast-one-for-the-road\",\"posterImage\":\"abn93tw8ms4as2izhnq1s94emkeg\",\"bannerImage\":\"ydpfkgu2r3o5qesso0b150icqhco\",\"synopsis\":\"\\u003cp style=\\\"box-sizing: border-box; vertical-align: baseline; outline: 0px; padding: 0px 0px 27px; margin-bottom: 0px; border: 0px;\\\"\\u003eSurviving bar-to-bar on anecdotes and the ‘good old days’, two blustery 50-somethings hatch a plan to change their luck by digging up the cash their old pal buried before he left for Argentina. En route to the airport, they come across a shy architecture student whose view of life will transform as they take him under their wing on a road trip across the Venetian plains.\\u003c/p\\u003e\\u003cp style=\\\"box-sizing: border-box; vertical-align: baseline; outline: 0px; padding: 0px 0px 27px; margin-bottom: 0px; border: 0px;\\\"\\u003eTHE LAST ONE FOR THE ROAD is the boozy road movie you didn’t know you needed this summer. Take a trip across Northern Italy with this charming, crazy adventure and fabulous performances by Filippo Scotti (The Hand of God), Sergio Romano, and Pierpaolo Capovilla.\\u003c/p\\u003e\",\"starring\":\"Filippo Scotti, Sergio Romano, Pierpaolo Capovilla\",\"directedBy\":\"Francesco Sossai\",\"producedBy\":\"Gregorio Paonessa, Marta Donzelli\",\"searchTerms\":\"\",\"duration\":98,\"genre\":\"Comedy\",\"allGenres\":\"Comedy\",\"rating\":\"15\",\"trailerYoutubeId\":\"970EvAbQ3qI\",\"trailerVideo\":null,\"releaseDate\":\"2026-07-10\",\"dateOfFirstShowing\":\"2026-07-10\",\"tmdbPopularityScore\":1.8003,\"tmdbId\":\"1462322\",\"dcmEdiMovieId\":\"472026\",\"dcmEdiMovieName\":\"Last one for the road, the [Unknown]\",\"siteId\":\"93\",\"titleClassId\":\"110\",\"showings\":[{\"id\":\"459603\",\"time\":\"2026-07-10T17:00:00Z\",\"ticketsSold\":12,\"screenId\":\"141\",\"seatsRemaining\":48,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2 subtitled\\\"}\"},{\"id\":\"459607\",\"time\":\"2026-07-11T19:30:00Z\",\"ticketsSold\":5,\"screenId\":\"141\",\"seatsRemaining\":55,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2 subtitled\\\"}\"},{\"id\":\"459611\",\"time\":\"2026-07-12T12:00:00Z\",\"ticketsSold\":3,\"screenId\":\"141\",\"seatsRemaining\":57,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2 subtitled\\\"}\"},{\"id\":\"459615\",\"time\":\"2026-07-13T14:30:00Z\",\"ticketsSold\":7,\"screenId\":\"141\",\"seatsRemaining\":53,\"[...]
