{
  "log": {
    "_recordingName": "ActOne Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "d37fa4040bf7a385ba8baa9491f0105d",
        "request": {
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
          "queryString": [],
          "url": "https://www.actonecinema.co.uk/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 109852,
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"20638\",\"name\":\"A COMPLETE UNKNOWN\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"a-complete-unknown\",\"posterImage\":\"ix2juwi5v3ndp4asp1etap5t0e6b\",\"bannerImage\":\"b61uu1q4zuanptp2u4vm3kaftw0r\",\"synopsis\":\"★★★★★ \\\"Timothée Chalamet’s Bob Dylan is an electric revelation\\\" - The Guardian\\n\\nCharged by Timothée Chalamet's electric performance, this Oscar-bound Bob Dylan biopic, will make you feel like you've spent time in the company of one of the most iconic singer-songwriters in history.\\n\\nNew York, 1961. Against the backdrop of a vibrant music scene and tumultuous cultural upheaval, an enigmatic 19-year-old from Minnesota named Bob Dylan, arrives with his guitar and revolutionary talent, destined to change the course of American music. He forges intimate relationships with music icons of Greenwich Village on his meteoric rise, culminating in a groundbreaking and controversial performance that reverberates worldwide.  \\n\\nTimothée Chalamet fully embodies Bob Dylan and heads to Oscar glory, in James Mangold’s (WALK THE LINE) film that will be in many \\\"Best Of 2024\\\" lists!\",\"starring\":\"Timothée Chalamet, Edward Norton, Elle Fanning, Monica Barbaro, Joe Tippett, Eriko Hatsune\",\"directedBy\":\"James Mangold\",\"producedBy\":\"Timothée Chalamet, James Mangold, Fred Berger, Peter Jaysen, Alex Heineman, Alan Gasmer, Bob Bookman, Jeff Rosen\",\"searchTerms\":\"\",\"duration\":140,\"genre\":\"Drama\",\"allGenres\":\"Drama, Music, History\",\"rating\":\"15\",\"trailerYoutubeId\":\"Nsvexi2Ulbs\",\"trailerVideo\":null,\"releaseDate\":\"2024-12-18\",\"dateOfFirstShowing\":\"2025-01-17\",\"tmdbPopularityScore\":85.193,\"tmdbId\":\"661539\",\"dcmEdiMovieId\":\"427010\",\"dcmEdiMovieName\":\"Complete Unknown, A (2D) [15]\",\"siteId\":\"93\",\"titleClassId\":\"110\",\"showings\":[{\"id\":\"259009\",\"time\":\"2025-01-17T12:00:00Z\",\"ticketsSold\":10,\"screenId\":\"141\",\"seatsRemaining\":50,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2\\\"}\"},{\"id\":\"259007\",\"time\":\"2025-01-17T14:30:00Z\",\"ticketsSold\":9,\"screenId\":\"140\",\"seatsRemaining\":51,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc1\\\"}\"},{\"id\":\"259010\",\"time\":\"2025-01-17T17:35:00Z\",\"ticketsSold\":39,\"screenId\":\"141\",\"seatsRemaining\":21,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2\\\"}\"},{\"id\":\"259008\",\"time\":\"2025-01-17T19:40:00Z\",\"ticketsSold\":51,\"screenId\":\"140\",\"seatsRemaining\":9,\"displayMetaData\":\"{\\\"clas[...]
