{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ActOne Cinema/retrieve and transform",
    "entries": [
      {
        "_id": "5442c257e1ade945ff0930eb8ab12822",
        "request": {
          "url": "https://www.actonecinema.co.uk/graphql",
          "method": "POST",
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "queryString": [],
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n      displayMetaData\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "akamai-grn",
              "value": "0.dba0d517.1784761318.8296ad4b"
            },
            {
              "name": "cache-status",
              "value": "\"Netlify Edge\"; fwd=method"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "W/\"2c48c61077fe0355a813863a3d72b59c\""
            },
            {
              "name": "netlify-vary",
              "value": "query"
            },
            {
              "name": "x-nf-request-id",
              "value": "01KY610ZGZ5HN64JCT9N3A1EZN"
            },
            {
              "name": "x-rack-cors",
              "value": "miss; no-origin"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"38276\",\"name\":\"THE ODYSSEY\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"the-odyssey\",\"posterImage\":\"2d7avuq927dposnrm9mft904ghtj\",\"bannerImage\":\"30mnqboxzfvlrrbteb4ef42mngs8\",\"synopsis\":\"Odysseus, the legendary King of Ithaca, embarks on a long and perilous journey home following the Trojan War. Throughout his voyage, he is forced to confront the whims of gods, mythological monsters, and trials that stretch both his cunning and his humanity to the breaking point.\\u003cdiv\\u003e\\u003cbr\\u003e\\u003c/div\\u003e\\u003cdiv\\u003e★★★★★ - Guardian\\u003c/div\\u003e\\u003cdiv\\u003e\\u003cspan style=\\\"font-size: 14.000001px;\\\"\\u003e★★★★★ - Daily Telegraph\\u003c/span\\u003e\\u003cbr\\u003e\\u003c/div\\u003e\\u003cdiv\\u003e\\u003cdiv style=\\\"font-size: 14.000001px;\\\"\\u003e★★★★★ - Little White Lies\\u0026nbsp;\\u003c/div\\u003e\\u003cdiv style=\\\"font-size: 14.000001px;\\\"\\u003e\\u003cdiv\\u003e★★★★★ - Independent\\u003c/div\\u003e\\u003c/div\\u003e\\u003cdiv style=\\\"font-size: 14.000001px;\\\"\\u003e\\u003cbr\\u003e\\u003c/div\\u003e\\u003cdiv style=\\\"font-size: 14.000001px;\\\"\\u003e\\u003cbr\\u003e\\u003c/div\\u003e\\u003cdiv\\u003e\\u003cspan style=\\\"font-size: 14.000001px;\\\"\\u003ePlease note this film contains flickering or flashing lights that may affect those with photosensitive epilepsy.\\u003c/span\\u003e\\u003cbr\\u003e\\u003c/div\\u003e\\u003cdiv style=\\\"font-size: 14.000001px;\\\"\\u003e\\u003cbr\\u003e\\u003c/div\\u003e\\u003c/div\\u003e\",\"starring\":\"Matt Damon, Tom Holland, Anne Hathaway\",\"directedBy\":\"Christopher Nolan\",\"producedBy\":\"Christopher Nolan, Emma Thomas\",\"searchTerms\":\"\",\"duration\":172,\"genre\":\"Adventure\",\"allGenres\":\"Adventure, Action, Fantasy\",\"rating\":\"15\",\"trailerYoutubeId\":null,\"trailerVideo\":null,\"releaseDate\":\"2026-07-17\",\"dateOfFirstShowing\":\"2026-07-17\",\"tmdbPopularityScore\":801.957,\"tmdbId\":\"1368337\",\"dcmEdiMovieId\":\"412037\",\"dcmEdiMovieName\":\"ODYSSEY, THE [Unknown]\",\"siteId\":\"93\",\"titleClassId\":\"110\",\"displayMetaData\":\"{\\\"magicSortValue\\\":99100599993,\\\"daysShown\\\":8,\\\"nowPlayingOrHasPlayed\\\":true,\\\"someShowingsBadges\\\":[\\\"Captions\\\",\\\"Sc2\\\"],\\\"everyShowingsBadges\\\":[],\\\"leavesSoon\\\":false,\\\"lastDayTomorrow\\\":false,\\\"lastDayToday\\\":false,\\\"classes\\\":\\\"title-class-new-release some-showings-captions some-showings-sc2 showing-status-now-playing showing-status-now-playing-or-has-played\\\"}\",\"showings\":[{\"id\":\"448070\",\"time\":\"2026-07-17T11:10:00Z\",\"ticketsSold\":16,\"screenId\":\"141\",\"seatsRemaining\":44,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2\\\"}\"},{\"id\":\"448071\",\"time\":\"2026-07-17T15:00:00Z\",\"ticketsSold\":24,\"screenId\":\"141\",\"seatsRemaining\":36,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2\\\"}\"},{\"id\":\"448072\",\"time\":\"2026-07-17T18:40:00Z\",\"ticketsSold\":54,\"screenId\":\"141\",\"seatsRemaining\":6,\"displayMetaData\":\"{\\\"classes\\\":\\\"sc2\\\"}\"},{\"id\":\"448073\",\"time\":\"2026-07-18T11:20:00Z\",\"ticketsSold\":13,\"screenId\":\"141\",\"seatsRem[...]
