{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Acton/retrieve and transform",
    "entries": [
      {
        "_id": "5e36dac5a98439e1153912d721c28d2b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=995",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "995"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "delta",
              "value": "delta"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:31:18 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008193\",\"sites\":[{\"siteId\":\"995\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00008395\",\"sites\":[{\"siteId\":\"995\",\"showtimeAttributeIds\":[\"0000000048\",\"0000000187\",\"0000000059\",\"0000000174\",\"0000000175\",\"0000000030\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"995\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000145\",\"0000000015\",\"0000000030\"]}]},{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"995\",\"showtimeAttributeIds\":[\"0000000006\",\"00000001[...]
