{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe & Dine Islington/retrieve and transform",
    "entries": [
      {
        "_id": "4ec5bd4454d6989a9b8bb395843b3d0b",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=858",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "858"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "bravo",
              "value": "bravo"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008468\",\"sites\":[{\"siteId\":\"858\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"858\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"858\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00009072\",\"sites\":[{\"siteId\":\"858\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]}]},{\"businessDate\":\"2026-07-12\",\"filmScreenings\":[{\"filmId\":\"HO00009072\"[...]
