{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ArtHouse Crouch End/retrieve and transform",
    "entries": [
      {
        "_id": "dd5a432518d3ba5a2f7d11a387e99d78",
        "request": {
          "url": "https://www.arthousecrouchend.co.uk/booking-now/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://www.arthousecrouchend.co.uk/wp-json/>; rel=\"https://api.w.org/\", <https://www.arthousecrouchend.co.uk/wp-json/wp/v2/pages/11>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://www.arthousecrouchend.co.uk/?p=11>; rel=shortlink"
            },
            {
              "name": "upgrade",
              "value": "h2"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!doctype html>\n<html lang=\"en-GB\">\n<head>\n\t<meta charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\t<title>Booking Now &#8211; ArtHouse Crouch End</title>\n<meta name='robots' content='max-image-preview:large' />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"ArtHouse Crouch End &raquo; Feed\" href=\"https://www.arthousecrouchend.co.uk/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"ArtHouse Crouch End &raquo; Comments Feed\" href=\"https://www.arthousecrouchend.co.uk/comments/feed/\" />\n<link rel=\"alternate\" type=\"application/rss+xml\" title=\"ArtHouse Crouch End &raquo; Booking Now Comments Feed\" href=\"https://www.arthousecrouchend.co.uk/booking-now/feed/\" />\n<link rel=\"alternate\" title=\"oEmbed (JSON)\" type=\"application/json+oembed\" href=\"https://www.arthousecrouchend.co.uk/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.arthousecrouchend.co.uk%2Fbooking-now%2F\" />\n<link rel=\"alternate\" title=\"oEmbed (XML)\" type=\"text/xml+oembed\" href=\"https://www.arthousecrouchend.co.uk/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fwww.arthousecrouchend.co.uk%2Fbooking-now%2F&#038;format=xml\" />\n<style id=\"wp-img-auto-sizes-contain-inline-css\">\nimg:is([sizes=auto i],[sizes^=\"auto,\" i]){contain-intrinsic-size:3000px 1500px}\n/*# sourceURL=wp-img-auto-sizes-contain-inline-css */\n</style>\n<style id=\"wp-emoji-styles-inline-css\">\n\n\timg.wp-smiley, img.emoji {\n\t\tdisplay: inline !important;\n\t\tborder: none !important;\n\t\tbox-shadow: none !important;\n\t\theight: 1em !important;\n\t\twidth: 1em !important;\n\t\tmargin: 0 0.07em !important;\n\t\tvertical-align: -0.1em !important;\n\t\[...]
