{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON Luxe Putney/retrieve and transform",
    "entries": [
      {
        "_id": "7b47e1a42a6de4db466d0189b2254336",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=486",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "486"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "alpha",
              "value": "alpha"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:53:11 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"486\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"486\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000030\"]}]},{\"filmId\":\"HO00008189\",\"sites\":[{\"siteId\":\"486\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\"]}]},{\"filmId\":\"HO00008101\",\"sites\":[{\"siteId\":\"486\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000143\",\"0000000008\",\"0000000155\"]}]}]},{\"businessDate\":\"2026-01-30\",\"filmScreenings[...]
