{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "The Cinema in the Power Station (and the Arches)/retrieve and transform",
    "entries": [
      {
        "_id": "ede0b38ec241fa07f18b945951902369",
        "request": {
          "url": "https://www.thecinemainthepowerstation.com/whats-on",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=utf-8"
            },
            {
              "name": "upgrade",
              "value": "h2,h2c"
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "text": "<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n    <meta charset=\"UTF-8\">\n    <meta content=\"dark light\" name=\"color-scheme\">\n    <meta content=\"origin\" name=\"referrer\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"robots\" content=\"index, follow\">\n\n    <!-- SEO -->\n    <title>What&#039;s On | The Cinema in The Power Station</title>    <meta name=\"description\" content=\"A hub of entertainment, with cinema at its heart, set in iconic locations\">\n    <link rel=\"canonical\" href=\"https://www.thecinemainthepowerstation.com/whats-on\">\n\n    <!-- Open Graph -->\n    <meta property=\"og:title\"       content=\"What&#039;s On | The Cinema in The Power Station\">\n    <meta property=\"og:description\" content=\"A hub of entertainment, with cinema at its heart, set in iconic locations\">\n    <meta property=\"og:url\"         content=\"https://www.thecinemainthepowerstation.com/whats-on\">\n    <meta property=\"og:image\"       content=\"https://www.t[...]
