{
  "log": {
    "_recordingName": "Phoenix Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "18535f44df95c578718c45a97e8e8946",
        "request": {
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
          "queryString": [],
          "url": "https://www.phoenixcinema.co.uk/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 67815,
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"20883\",\"name\":\"A Complete Unknown\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"a-complete-unknown\",\"posterImage\":\"uj0j8j7su9o9c8dbhsesfhxv7l98\",\"bannerImage\":\"c8qy16k9115c4xs3uud7fesyn9g7\",\"synopsis\":\"Set in the influential New York music scene of the early 60s, A COMPLETE UNKNOWN follows 19-year-old Minnesota musician BOB DYLAN’s (Timothée Chalamet) meteoric rise as a folk singer to concert halls and the top of the charts – his songs and mystique becoming a worldwide sensation – culminating in his groundbreaking electric rock and roll performance at the Newport Folk Festival in 1965.\",\"starring\":\"Timothée Chalamet, Edward Norton, Elle Fanning, Monica Barbaro, Joe Tippett, Eriko Hatsune\",\"directedBy\":\"James Mangold\",\"producedBy\":\"Timothée Chalamet, James Mangold, Fred Berger, Peter Jaysen, Alex Heineman, Alan Gasmer, Bob Bookman, Jeff Rosen\",\"searchTerms\":\"\",\"duration\":140,\"genre\":\"Drama\",\"allGenres\":\"Drama, Music\",\"rating\":\"15\",\"trailerYoutubeId\":\"Nsvexi2Ulbs\",\"trailerVideo\":null,\"releaseDate\":\"2025-01-17\",\"dateOfFirstShowing\":\"2025-01-17\",\"tmdbPopularityScore\":85.193,\"tmdbId\":\"661539\",\"dcmEdiMovieId\":\"427010\",\"dcmEdiMovieName\":\"Complete Unknown, A (2D) [15]\",\"siteId\":\"92\",\"titleClassId\":\"132\",\"showings\":[{\"id\":\"260710\",\"time\":\"2025-01-17T13:45:00Z\",\"ticketsSold\":22,\"screenId\":\"318\",\"seatsRemaining\":151,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating cc accessible sc1\\\"}\"},{\"id\":\"260709\",\"time\":\"2025-01-17T17:00:00Z\",\"ticketsSold\":53,\"screenId\":\"318\",\"seatsRemaining\":120,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating accessible sc1\\\"}\"},{\"id\":\"260708\",\"time\":\"2025-01-17T20:15:00Z\",\"ticketsSold\":59,\"screenId\":\"318\",\"seatsRemaining\":114,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating accessible sc1\\\"}\"},{\"id\":\"260723\",\"time\":\"2025-01-18T14:15:00Z\",\"[...]
