{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Ciné Lumière/retrieve and transform",
    "entries": [
      {
        "_id": "b2ad77401d83bec76737db6ac035686d",
        "request": {
          "url": "https://www.institut-francais.org.uk/whats-on/?type=72&period=any#/",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "type",
              "value": "72"
            },
            {
              "name": "period",
              "value": "any"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://www.institut-francais.org.uk/wp-json/>; rel=\"https://api.w.org/\", <https://www.institut-francais.org.uk/wp-json/wp/v2/pages/65>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://www.institut-francais.org.uk/?p=65>; rel=shortlink"
            }
          ],
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "\n<!DOCTYPE html>\n<html lang=\"en-GB\" class=\"no-js\">\n<head>\n <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n    <link rel=\"icon\" href=\"https://www.institut-francais.org.uk/app/themes/ifru/assets/images/favicon/favicon.ico\" sizes=\"any\">\n        <link rel=\"apple-touch-icon\" sizes=\"57x57\" href=\"https://www.institut-francais.org.uk/app/themes/ifru/assets/images/favicon/apple-touch-icon-57x57.png\" />\n        <link rel=\"apple-touch-icon\" sizes=\"60x60\" href=\"https://www.institut-francais.org.uk/app/themes/ifru/assets/images/favicon/apple-touch-icon-60x60.png\" />\n        <link rel=\"apple-touch-ico[...]
