{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Bloomsbury/retrieve and transform",
    "entries": [
      {
        "_id": "6a6fb6b37bf8eff7072fc3d454a849d2",
        "request": {
          "url": "https://digital-api.curzon.com/ocapi/v1/film-screening-dates?siteIds=BLO1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "BLO1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Sat, 11 Jul 2026 18:05:28 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00007151\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007047\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007167\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[\"0000000012\"]}]},{\"filmId\":\"HO00007210\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007152\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00007147\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006951\",\"s[...]
