{
  "log": {
    "_recordingName": "Curzon Bloomsbury/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "fe357baef2fae060fee59a3e628f6fa1",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/bloomsbury/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fbloomsbury%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 51197,
            "text": "{\"name\":\"Bloomsbury\",\"urlSegment\":\"bloomsbury\",\"url\":\"/venues/bloomsbury/\",\"nodeId\":1800,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:55:57\\u002B01:00\",\"updateDate\":\"2025-06-24T08:16:09\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Bloomsbury. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Bloomsbury Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Bloomsbury Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/muzb3vxg/blooms1.jpg?width=393\\u0026height=169\\u0026v=1db9d7f76f97930\",\"tablet\":\"/media/muzb3vxg/blooms1.jpg?width=782\\u0026height=315\\u0026v=1db9d7f76f97930\",\"desktop\":\"/media/muzb3vxg/blooms1.jpg?width=1216\\u0026height=523\\u0026v=1db9d7f76f97930\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON BLOOMSBURY\",\"actionLink\":{\"name\":\"TAKE A TOUR\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/bloomsbury/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"https://www.curzon.com/c[...]
