{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Bloomsbury/retrieve and transform",
    "entries": [
      {
        "_id": "05ced72260b25257beb2e4e47b1c80a5",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=BLO1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "BLO1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006681\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006487\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006687\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[\"0000000059\",\"0000000055\"]}]},{\"filmId\":\"HO00006447\",\"sites\":[{\"siteId\":\"BLO1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"H[...]
