{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Bloomsbury/retrieve and transform",
    "entries": [
      {
        "_id": "fe357baef2fae060fee59a3e628f6fa1",
        "request": {
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fbloomsbury%2F",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/bloomsbury/"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "api-supported-versions",
              "value": "1.0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:08:14 GMT"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"name\":\"Bloomsbury\",\"urlSegment\":\"bloomsbury\",\"url\":\"/venues/bloomsbury/\",\"nodeId\":1800,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:55:57\\u002B01:00\",\"updateDate\":\"2026-01-28T09:51:50\\u002B00:00\",\"versions\":{\"\":\"https://www.curzon.com/venues/bloomsbury/\"},\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Bloomsbury. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Bloomsbury Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Bloomsbury Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/v3bmqdhf/open.webp?width=393\\u0026height=169\\u0026v=1dc903b9a6542f0\",\"tablet\":\"/media/v3bmqdhf/open.webp?width=782\\u0026height=315\\u0026v=1dc903b9a6542f0\",\"desktop\":\"/media/v3bmqdhf/open.webp?width=1216\\u0026height=523\\u0026v=1dc903b9a6542f0\",\"alt\":\"\"},\"textHeading\":\"ON TUESDAY 3 FEBRUARY OUR VENUES WILL OPEN AT 12PM\"},{\"image\":{\"mobile\":\"/media/muzb3vxg/blooms1.jpg?width=393\\u0026height=169\\u0026v=1db9d7f76f97930\",\"tablet\":\"/media/muzb3vxg/blooms1.jpg?width=782\\u0026height=315\\u0026v=1db9d7f76f97930\",\"desktop\":\"/media/muzb3vxg/blooms1.jpg?width=1216\\u0026height=523\\u0026v=1db9d7f76f97930\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON BLOOMSBURY\",\"actionLink\":{\"name\":\"TAKE A TOUR\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/bloomsbury/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/px2iem4l/st-mungos-web.jpg?width=393\\u0026height=169\\u0026v=1dc44fc6573af80\",\"tablet\":\"/media/px2iem4l/st-mungos-web.jpg?width=782\\u0026height=315\\u0026v=1dc44fc6573af80\",\"desktop\":\"/media/px2iem4l/st-mungos-web.jpg?width=1216\\u0026height=523\\u0026v=1dc44fc6573af80\",\"alt\":\"\"},\"textHeading\":\"Support St Mungo\\u0027s on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"https://www.curzon.com/charity/\"},[...]
