{
  "log": {
    "_recordingName": "Throwley Yard Cinema/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "4ad0d2aa1851d461588e5c299dd3132e",
        "request": {
          "headers": [
            {
              "name": "client-type",
              "value": "consumer"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "{\"query\":\"\\nquery ($limit: Int, $orderBy: String, $type: String) {\\n  movies(\\n    limit: $limit\\n    orderBy: $orderBy\\n    type: $type\\n  ) {\\n    data {\\n      id\\n      name\\n      showingStatus\\n      urlSlug\\n      posterImage\\n      bannerImage\\n      synopsis\\n      starring\\n      directedBy\\n      producedBy\\n      searchTerms\\n      duration\\n      genre\\n      allGenres\\n      rating\\n      trailerYoutubeId\\n      trailerVideo\\n      releaseDate\\n      dateOfFirstShowing\\n      tmdbPopularityScore\\n      tmdbId\\n      dcmEdiMovieId\\n      dcmEdiMovieName\\n      siteId\\n      titleClassId\\n\\n      showings {\\n        id\\n        time\\n        ticketsSold\\n        screenId\\n        seatsRemaining\\n        displayMetaData\\n      }\\n    }\\n  }\\n}\\n\",\"variables\":{\"limit\":1000,\"orderBy\":\"magic\",\"type\":\"all-published\"}}"
          },
          "queryString": [],
          "url": "https://www.throwleyyardcinema.co.uk/graphql"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 113457,
            "text": "{\"data\":{\"movies\":{\"data\":[{\"id\":\"16512\",\"name\":\"Jesus Christ Superstar - Live Arena Tour\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"jesus-christ-superstar---live-arena-tour\",\"posterImage\":\"lbcz0m81lndi113ecqsxj5cef7dt\",\"bannerImage\":\"ca83i17hf6v60ozry1b7omnpdluv\",\"synopsis\":\"Tim Rice and Andrew Lloyd Webber’s rock classic Jesus Christ Superstar returns to its roots with this sensational performance filmed in the UK during the Live Arena Tour. An incredible cast including Tim Minchin as Judas Iscariot, Melanie Chisholm as Mary Magdalene, Chris Moyles as King Herod and Ben Forster\\nas Jesus Christ, perform hit songs including “I Don’t Know How to Love Him,” “Gethsemane,” “Heaven on Their Minds,” “Everything’s Alright,” “King Herod’s Song” and “Superstar” in an exciting and contemporary interpretation.\\nThis film contains a sequence of flashing lights which might affect customers who are susceptible to photosensitive epilepsy.\",\"starring\":\"Tim Minchin, Ben Forster, Chris Moyles\",\"directedBy\":\"Nick Morris\",\"producedBy\":\"Brett Sullivan, Dione Orrom\",\"searchTerms\":\"\",\"duration\":121,\"genre\":\"Music\",\"allGenres\":\"Music\",\"rating\":\"12A\",\"trailerYoutubeId\":\"E0OtYzElF40\",\"trailerVideo\":null,\"releaseDate\":\"2025-03-02\",\"dateOfFirstShowing\":\"2025-03-02\",\"tmdbPopularityScore\":5.953,\"tmdbId\":\"143563\",\"dcmEdiMovieId\":\"424417\",\"dcmEdiMovieName\":\"Untitled Cinemalive Event (2Nd/4Th Mar 2025) (2D) [Unknown]\",\"siteId\":\"124\",\"titleClassId\":\"83\",\"showings\":[{\"id\":\"205266\",\"time\":\"2025-03-02T14:00:00Z\",\"ticketsSold\":52,\"screenId\":\"237\",\"seatsRemaining\":4,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating accessible 15 sc2\\\"}\"},{\"id\":\"205267\",\"time\":\"2025-03-04T19:00:00Z\",\"ticketsSold\":21,\"screenId\":\"237\",\"seatsRemaining\":35,\"displayMetaData\":\"{\\\"classes\\\":\\\"reserved-seating accessible 15 sc2\\\"}\"}]},{\"id\":\"22146\",\"name\":\"Papa\",\"showingStatus\":\"Now Playing\",\"urlSlug\":\"papa\",\"posterImage\":\"e5y3l6wbfpijj6m2t6xdjq9rvaae\",\"bannerImage\":\"vy41hyyg5gcz4gwwntv8q03qhgek\",\"synopsis\":\"A 15-year-old boy murders his mother and siste[...]
