{
  "log": {
    "_recordingName": "Curzon Kingston/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "b681de8755e20c0f48a8550beb42bfc4",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/kingston/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fkingston%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 56687,
            "text": "{\"name\":\"Kingston\",\"urlSegment\":\"kingston\",\"url\":\"/venues/kingston/\",\"nodeId\":1806,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:57:53\\u002B01:00\",\"updateDate\":\"2025-06-24T08:23:23\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Kingston. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Kingston Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/hlrger5k/curzon-kingston-2.jpg?width=393\\u0026height=169\\u0026v=1dba25e58732bd0\",\"tablet\":\"/media/hlrger5k/curzon-kingston-2.jpg?width=782\\u0026height=315\\u0026v=1dba25e58732bd0\",\"desktop\":\"/media/hlrger5k/curzon-kingston-2.jpg?width=1216\\u0026height=523\\u0026v=1dba25e58732bd0\",\"alt\":\"\"},\"textHeading\":\"Welcome to Curzon Kingston\",\"actionLink\":{\"name\":\"take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/kingston/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"https://www.curzon.com/c[...]
