{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Irish Cultural Centre/retrieve and transform",
    "entries": [
      {
        "_id": "3e323c4dd04962304c81feb057a6e612",
        "request": {
          "url": "https://irishculturalcentre.co.uk/whats-on/?_sft_event_type=film",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "_sft_event_type",
              "value": "film"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "link",
              "value": "<https://irishculturalcentre.co.uk/wp-json/>; rel=\"https://api.w.org/\", <https://irishculturalcentre.co.uk/wp-json/wp/v2/pages/864>; rel=\"alternate\"; title=\"JSON\"; type=\"application/json\", <https://irishculturalcentre.co.uk/?p=864>; rel=shortlink"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!DOCTYPE html>\n<html lang=\"en-US\">\n<head>\n<meta charset=\"UTF-8\" />\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<meta name=\"theme-color\" content=\"#fff\">\n\n\t\n<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\" />\n<script\n\t\t\t  src=\"https://code.jquery.com/jquery-3.6.0.js\"\n\t\t\t  integrity=\"sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=\"\n\t\t\t  crossorigin=\"anonymous\"></script>\n\t\t\t  \n<link rel=\"alternate\" href=\"https://irishculturalcentre.co.uk/\" title=\"Irish Cultural Centre\" />\n\n<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"/wp-content/themes/Irish-cultural-centre/style.css?v=2024.8.6\" />\n<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"/wp-content/themes/Irish-cultural-centre/irish-cultural-centre.css?v=13-06-26.2\" />\n<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"/wp-content/themes/Irish-cultural-centre/menu.css?v=02-06-2025.7\" />\n<link rel=\"stylesheet\" type=\"text/css\" media=\"all\" href=\"/wp-content/themes/Irish-cultural-centre/fonts/icomoon-2024/style.css?v=02-06-2025.6\" />\n\n<script src=\"https://code.jquery.com/jquery-1.11.3.min.js\"></script>\n\n<link rel=\"preconnect\" href=\"https://fonts.gstatic.com\">\n<link href=\"https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Material+Icons&family=Maven+Pro:wght@400;500;600;700;800&display=swap\" rel=\"stylesheet\"> \n\n<!-- <link rel=\"stylesheet\" href=\"//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\"> -->\n <script src=\"https://kit.fontawesome.com/e89d1ed481.js[...]
