{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Mayfair/retrieve and transform",
    "entries": [
      {
        "_id": "c09f720d034b3d7ac331212e5505b2b7",
        "request": {
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fmayfair%2F",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/mayfair/"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "api-supported-versions",
              "value": "1.0"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "last-modified",
              "value": "Thu, 29 Jan 2026 00:08:18 GMT"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"name\":\"Mayfair\",\"urlSegment\":\"mayfair\",\"url\":\"/venues/mayfair/\",\"nodeId\":1808,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:58:09\\u002B01:00\",\"updateDate\":\"2026-01-28T09:53:25\\u002B00:00\",\"versions\":{\"\":\"https://www.curzon.com/venues/mayfair/\"},\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Mayfair. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Mayfair Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Mayfair Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[{\"name\":\"gridCarouselQuotes\",\"columns\":[{\"size\":12,\"elements\":[{\"type\":\"gridCarouselQuotes\",\"value\":[{\"stars\":5,\"quoteHeadline\":\"Comfy sofa seating , spacious legroom, friendly staff and above all great distinctive classic vibe\",\"subHeadline\":\"Osama Al Nasir, google reviews\",\"backgroundColour\":{\"color\":\"64ccc9\",\"label\":\"aqua\"}},{\"stars\":5,\"quoteHeadline\":\"An exquisite venue right in the heart of Mayfair with excellent concessions, friendly staff, and comfortable seats. Truly a treat well worth the price of admission.\",\"subHeadline\":\"Alexander Klein, google reviews\",\"backgroundColour\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"stars\":5,\"quoteHeadline\":\"State of the art screen. Relaxed atmosphere. Beautiful cinema in a lovely part of London.\",\"subHeadline\":\"Leo IlGattopardo, google reviews\",\"backgroundColour\":{\"color\":\"a5b99c\",\"label\":\"green-navy\"}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"config\":{}}],\"config\":{\"background\":null,\"fullWidth\":false,\"wideBackground\":false}}],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/v3bmqdhf/open.webp?width=393\\u0026height=169\\u0026v=1dc903b9a6542f0\",\"tablet\":\"/media/v3bmqdhf/open.webp?width=782\\u0026height=315\\u0026v=1dc903b9a6542f0\",\"desktop\":\"/media/v3bmqdhf/open.webp?width=1216\\u0026height=523\\u0026v=1dc903b9a6542f0\",\"alt\":\"\"},\"textHeading\":\"ON TUESDAY 3 FEBRUARY OUR VENUES WILL OPEN AT 12PM\"},{\"image\":{\"mobile\":\"/media/a4vnrb1y/mayfair1.jpg?width=393\\u0026height=169\\u0026v=1dbb5f6e34dca70\",\"tablet\":\"/media/a4vnrb1y/mayfair1.jpg?width=782\\u0026height=315\\u0026v=1dbb5f6e34dca70\",\"desktop\":\"/media/a4vnrb1y/mayfair1.jpg?width=1216\\u0026height=523\\u0026v=1dbb5f6e34dca70\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON MAYFAIR\",\"actionLink\":{\"name\":\"take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/mayfair/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/px2iem4l/st-mungos-web.jpg?width=393\\u0026height=169\\u0026v=1dc44fc6573af80\",\"tablet\":\"/media/px2iem4l/st-mungos-web.jpg?width=782\\u0026height=315\\u0026v=1dc44fc6573af80\",\"desktop\":\"/media/px2iem4l/st-mungos-web.jpg?width=1216\\u0026height=523\\u0026v=1dc44fc6573af80\",\"alt\":\"\"},\"textHeading\":\"Support St Mungo\\u0027s on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"htt[...]
