{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Deptford Lounge/retrieve and transform",
    "entries": [
      {
        "_id": "5735e2c0d6e70aea5003291bb8e49773",
        "request": {
          "url": "https://api.github.com/repos/clusterflick/host-non-web-sources/contents/deptfortlibrarycinemaclub%40clusterflick.com",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/vnd.github.v3.raw; charset=utf-8"
            },
            {
              "name": "etag",
              "value": "\"6efec8b791a65e1398b426de903481e3af68a0f7\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 17:08:45 GMT"
            },
            {
              "name": "x-accepted-github-permissions",
            [...]
