{
  "log": {
    "_recordingName": "Curzon Richmond/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "03b16e7afe5975930da1f5db8c5b7f6f",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/richmond/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Frichmond%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 39058,
            "text": "{\"name\":\"Richmond\",\"urlSegment\":\"richmond\",\"url\":\"/venues/richmond/\",\"nodeId\":1810,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:58:24\\u002B01:00\",\"updateDate\":\"2025-10-31T10:48:41\\u002B00:00\",\"versions\":{\"\":\"https://www.curzon.com/venues/richmond/\"},\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Richmond. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Richmond Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Richmond Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/1adoetoz/richmond1.jpg?width=393\\u0026height=169\\u0026v=1dbb9e12d265a70\",\"tablet\":\"/media/1adoetoz/richmond1.jpg?width=782\\u0026height=315\\u0026v=1dbb9e12d265a70\",\"desktop\":\"/media/1adoetoz/richmond1.jpg?width=1216\\u0026height=523\\u0026v=1dbb9e12d265a70\",\"alt\":\"\"},\"textHeading\":\"WELCOME TO CURZON RICHMOND\",\"actionLink\":{\"name\":\"take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/richmond/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/px2iem4l/st-mungos-web.jpg?width=393\\u0026height=169\\u0026v=1dc44fc6573af80\",\"tablet\":\"/media/px2iem4l/st-mungos-web.jpg?width=782\\u0026height=315\\u0026v=1dc44fc6573af80\",\"desktop\":\"/media/px2iem4l/st-mungos-web.jpg?width=1216\\u0026height=523\\u0026v=1dc44fc6573af80\",\"alt\":\"\"},\"textHeading\":\"Support St Mungo\\u0027s on your Curzon cinema visit\",\"actionLink\":{\"name\":\"FIND OUT MORE\",\"url\":\"/charity/\"},\"actionLinkBackground[...]
