{
  "log": {
    "_recordingName": "Riverside Studios/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "c368fe8d0b36acf05af4d70345e2800a",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ],
          "url": "https://riversidestudios.co.uk/ajax/filter_stream/2/88/?offset=0&limit=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 240191,
            "text": "[{\"url\":\"https:\\/\\/riversidestudios.co.uk\\/see-and-do\\/pilates-with-athena-127394\\/\",\"id\":\"127394\",\"name\":\"Pilates with Athena\",\"title\":\"Pilates with Athena\",\"performance_ids\":[\"161494\",\"161495\",\"161496\",\"161497\",\"161498\",\"161499\",\"161500\",\"161501\",\"161502\",\"161503\"],\"link_title\":\"See more\",\"text\":\"Pilates is a method of exercise that can help to improve flexibility, build strength, endurance, postural alignment, it helps to develop a strong core&hellip;\",\"image_url\":\"https:\\/\\/riversidestudios.co.uk\\/assets\\/img\\/blank.png\",\"image_alt\":\"\",\"image_cap\":\"\",\"image_data\":\" data-custom=\\\"{&quot;img_src&quot;:&quot;images\\\\\\/uploads\\\\\\/30ec28752ef2b3236c2fa62e1dfbe90c.jpg&quot;,&quot;fx&quot;:&quot;49.9&quot;,&quot;fy&quot;:&quot;76.0&quot;,&quot;cx&quot;:&quot;442&quot;,&quot;cy&quot;:&quot;0&quot;,&quot;cw&quot;:&quot;1372&quot;,&quot;ch&quot;:&quot;1370&quot;,&quot;original&quot;:{&quot;width&quot;:&quot;2048&quot;,&quot;height&quot;:&quot;1367&quot;,&quot;orientation&quot;:&quot;landscape&quot;}}\\\" \",\"view_name\":\"event\",\"start_date\":\"1741080600\",\"end_date\":\"1747729800\",\"slot_tag\":\"Workshop\",\"performances\":{\"1741046400\":[{\"tag_ids\":[],\"tag_name\":\"\",\"html\":\"<div class=\\\"performance\\\"><div class=\\\"button button-blue\\\" data-eid=\\\"11111:2026\\\" data-start_date=\\\"1741046400\\\" data-id=\\\"161494\\\">09:30<\\/div><\\/div>\",\"timestamp\":\"1741080600\"}],\"1741651200\":[{\"tag_ids\":[],\"tag_name\":\"\",\"html\":\"<div class=\\\"performance\\\"><div class=\\\"button button-blue\\\" data-eid=\\\"11111:2026\\\" data-start_date=\\\"1741651200\\\" data-id=\\\"161495\\\">09:30<\\/div><\\/div>\",\"timestamp\":\"1741685400\"}],\"1742256000\":[{\"tag_ids\":[],\"tag_name\":\"\",\"html\":\"<div class=\\\"performance\\\"><div class=\\\"button button-blue\\\" data-eid=\\\"11111:2026\\\" data-start_date=\\\"1742256000\\\" data-id=\\\"161496\[...]
