{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Riverside Studios/retrieve and transform",
    "entries": [
      {
        "_id": "216165a80a787cd78fa7e31cd1a23352",
        "request": {
          "url": "https://riversidestudios.co.uk/ajax/filter_stream/ZWhHVEdwSDNuekJLUWI1OXVDQ0Fvdz09/?offset=0&limit=500",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "offset",
              "value": "0"
            },
            {
              "name": "limit",
              "value": "500"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "last-modified",
              "value": "Mon, 22 Dec 2025 11:24:36 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "text": "[{\"url\":\"https:\\/\\/riversidestudios.co.uk\\/whats-on\\/w8-dancercise-with-anna-wicks\\/\",\"id\":\"404\",\"name\":\"Dancercise with Anna Wicks\",\"title\":\"Dancercise with Anna Wicks\",\"duration\":\"50 minutes\",\"slot_tag\":\"Wellness\",\"link_title\":\"More Info\",\"performances\":{\"1767744000\":[{\"tag_ids\":[\"72\",\"59\"],\"tag_name\":\"\",\"html\":\"<a class=\\\"performance button\\\" href=\\\"https:\\/\\/riversidestudios.co.uk\\/seats\\/34001\\/\\\">\\n   \\n      <div class=\\\"performance-time\\\" data-acc=\\\"\\\">18:30<\\/div>\\n    \\n<\\/a>\\n\",\"timestamp\":\"1767810600\",\"accessibility_class\":\"\"}],\"1768348800\":[{\"tag_ids\":[\"72\",\"59\"],\"tag_name\":\"\",\"html\":\"<a class=\\\"performance button\\\" href=\\\"https:\\/\\/riversidestudios.co.uk\\/seats\\/34002\\/\\\">\\n   \\n      <div class=\\\"performance-time\\\" data-acc=\\\"\\\">18:30<\\/div>\\n    \\n<\\/a>\\n\",\"timestamp\":\"1768415400\",\"accessibility_class\":\"\"}],\"1768953600\":[{\"tag_ids\":[\"72\",\"59\"],\"tag_name\":\"\",\"html\":\"<a class=\\\"performance button\\\" href=\\\"https:\\/\\/riversidestudios.co.uk\\/seats\\/34003\\/\\\">\\n   \\n      <div class=\\\"performance-time\\\" data-acc=\\\"\\\">18:30<\\/div>\\n    \\n<\\/a>\\n\",\"timestamp\":\"1769020200\",\"accessibility_class\":\"\"}],\"1769558400\":[{\"tag_ids\":[\"72\",\"59\"],\"tag_name\":\"\",\"html\":\"<a class=\\\"performance button\\\" href=\\\"https:\\/\\/riversidestudios.co.uk\\/seats\\/34004\\/\\\">\\n   \\n      <div class=\\\"performance-time\\\" data-acc=\\\"\\\">18:30<\\/div>\\n    \\n<\\/a>\\n\",\"timestamp\":\"1769625000\",\"accessibility_class\":\"\"}]},\"performance_dates\":[1767744000,1768348800,1768953600,1769558400],\"start_date\":\"1767810600\",\"end_date\":\"1769625000\",\"age_rating_class\":\"\",\"ticket_free\":false,\"priority_booking\":true,\"hash\":\"Z3RjVXpMTVhWRmwxSFVWY1A3WTRMUT09\",\"embed_id\":\"\",\"embed_host\":\"\",\"date_formatted\":\"Wed 7 - Wed 28 Jan 2026\",\"text\":\"After a tough three years of intense professional training and work in the dance and musical theatre industry, Anna Wicks rediscovered the joy of moving&hellip;\",\"image_url\":\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w880\\/q80\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.jpeg\",\"image_source\":\"type=\\\"image\\/webp\\\" srcset=\\\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w880\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 880w,https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1210\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1210w,https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1470\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1470w,https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1680\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1680w,https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1870\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1870w,https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w2048\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 2048w,https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w2880\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 2880w\\\"\",\"image_alt\":\"Anna Wickes NEW\",\"image_cap\":\"\",\"image_data\":[\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w880\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 880w\",\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1210\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1210w\",\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1470\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1470w\",\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1680\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1680w\",\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w1870\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 1870w\",\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w2048\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 2048w\",\"https:\\/\\/riversidestudios.co.uk\\/images\\/custom\\/bd\\/cbec49089ac0f550724f46d0422d9e\\/w2880\\/q80\\/wpojpeg\\/cx260\\/cw1879\\/ch1875\\/images\\/uploads\\/bdcbec49089ac0f550724f46d0422d9e.webp 2880w\"],\"focal_point\":\"\",\"search_text\":\"After a tough three years of intense professional training and work in the dance and musical theatre industry, Anna Wicks rediscovered the joy of moving simply to feel good. No competing for that job, no professional pressure, just dancing because it\\u2019s good for the soul!Anna\\u2019s classes are a safe space where you\\u2019re encouraged to lose your inhibitions and strip exercise back to that freeing feeling of dancing when no one is watching. These classes involve plenty of Anna making a fool out of herself with air guitars, shimmying, sweating and sensational playlists (if she does say so herself) and so much heart.Let\\u2019s recognise the importance of enjoying judgement free exercise and dance together - please come along for an hour of boogying. Absolutely no previous dance experience is required!\\u00a0\\u00a0For more info, follow\\u00a0@dancercisewithanna\\u00a0on Instagram!This class is open to all ages.\",\"book_link\":false,\"event_type\":[\"72\",\"59\"],\"search\":\"Dancercise with Anna Wicks Dancercise with Anna Wicks Wellness  <p>After a tough three years of intense professional training and work in the dance and musical theatre industry, Anna Wicks rediscovered the joy of moving simply to feel good. No competing for that job, no professional pressure, just dancing because it\\u2019s good for the soul!<\\/p><p>Anna\\u2019s classes are a safe space where you\\u2019re encouraged to lose your inhibitions and strip exercise back to that freeing feeling of d[...]
