{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON South Woodford/retrieve and transform",
    "entries": [
      {
        "_id": "cadefab00c379341781c36bffc9888e0",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=090",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "090"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "charlie",
              "value": "charlie"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-07-11\",\"filmScreenings\":[{\"filmId\":\"HO00008218\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008565\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008415\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008964\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00009072\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006[...]
