{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "ODEON South Woodford/retrieve and transform",
    "entries": [
      {
        "_id": "cadefab00c379341781c36bffc9888e0",
        "request": {
          "url": "https://vwc.odeon.co.uk/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=090",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "090"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "delta",
              "value": "delta"
            },
            {
              "name": "last-modified",
              "value": "Wed, 28 Jan 2026 23:54:11 GMT"
            }
          ],
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00008080\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000008\",\"0000000155\",\"0000000030\"]}]},{\"filmId\":\"HO00008193\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\",\"0000000030\"]}]},{\"filmId\":\"HO00008325\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000187\",\"0000000030\"]}]},{\"filmId\":\"HO00008012\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000006\"]}]},{\"filmId\":\"HO00007533\",\"sites\":[{\"siteId\":\"090\",\"showtimeAttributeIds\":[\"0000000035[...]
