{
  "log": {
    "_recordingName": "Firmdale The Soho Hotel/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "158bd459e4433ab8cedae1e0681336ec",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [],
          "url": "https://www.firmdalehotels.com/whats-on/firmdale-film-club"
        },
        "response": {
          "content": {
            "mimeType": "text/html; charset=utf-8",
            "size": 183841,
            "text": "\n\n<!DOCTYPE html>\n<html lang=\"en-GB\">\n<head>\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\n            <link rel=\"alternate\" hreflang=\"en-GB\" href=\"https://www.firmdalehotels.com/whats-on/firmdale-film-club\">\n        <link rel=\"alternate\" hreflang=\"x-default\" href=\"https://www.firmdalehotels.com/whats-on/firmdale-film-club\">\n\n            <link rel=\"preconnect\" href=\"https://cmp.osano.com\">\n            <link rel=\"preconnect\" href=\"https://www.googletagmanager.com\">\n            <link rel=\"preconnect\" href=\"https://player.vimeo.com\">\n            <link rel=\"preconnect\" href=\"https://www.google.com\">\n\n    \n    <title>Firmdale Film Club - Firmdale</title>\n    <meta name=\"robots\" content=\"index, follow\" />\n\n    <link rel=\"canonical\" href=\"https://www.firmdalehotels.com/whats-on/firmdale-film-club\" />\n\n    <meta property=\"og:url\" content=\"https://www.firmdalehotels.com/whats-on/firmdale-film-club\" />\n    <meta property=\"og:title\" content=\"Firmdale Film Club - Firmdale\" />\n    <meta name=\"twitter:card\" content=\"summary\" />\n    <meta name=\"twitter:title\" content=\"Firmdale Film Club [...]
