{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "RAF Museum/retrieve and transform",
    "entries": [
      {
        "_id": "cc1ddb7abadbbbe3e0b67625fcdecbf9",
        "request": {
          "url": "https://www.rafmuseum.org.uk/london/whats-going-on/propellers-popcorn/",
          "method": "GET",
          "headers": [],
          "queryString": [],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html"
            },
            {
              "name": "etag",
              "value": "W/\"c9885c5fc546aafd984bcfc08c595039\""
            },
            {
              "name": "last-modified",
              "value": "Wed, 12 Aug 2026 16:26:06 GMT"
            }
          ],
          "content": {
            "mimeType": "text/html",
            "text": "<!DOCTYPE html><html lang=\"en\"><head><meta charset=\"UTF-8\"><meta name=\"viewport\" content=\"width=device-width\"><link rel=\"icon\" href=\"/assets/raf-favicon-192x192.png\" type=\"image/png\" sizes=\"192x192\"><link rel=\"icon\" href=\"/assets/raf-favicon-192x192.png\" type=\"image/png\" sizes=\"32x32\"><link rel=\"icon\" href=\"/assets/raf-favicon-192x192.png\" type=\"image/png\" sizes=\"16x16\"><link rel=\"apple-touch-icon\" href=\"/assets/raf-favicon-192x192.png\"><meta name=\"msapplication-TileImage\" content=\"/assets/raf-favicon-192x192.png\"><link rel=\"sitemap\" type=\"application/xml\" title=\"Sitemap\" href=\"/sitemap_index.xml\"><meta lang=\"en-gb\"><meta name=\"theme-color\" content=\"#125afd\"><!-- This site is optimized with the Yoast SEO plugin v24.9 - https://yoast.com/wordpress/plugins/seo/ -->\n<title>Propellers &amp; Popcorn | RAF Museum London</title>\n<meta name=\"description\" content=\"Enjoy an outdoor cinema night at RAF Museum London with Propellers &amp; Popcorn. Watch Top Gun (22 Aug 2026) or Top Gun: Maverick (23 Aug 2026).\" />\n<meta name=\"robots\" content=\"index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1\" />\n<link rel=\"canonical\" href=\"https://www.rafmuseum.org.uk/london/whats-going-on/events/propellers-popcorn/\" />\n<meta property=\"og:locale\[...]
