{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Curzon Camden/retrieve and transform",
    "entries": [
      {
        "_id": "6ddf2dfdd9f5c797815375f3c4eb7fd0",
        "request": {
          "url": "https://vwc.curzon.com/WSVistaWebClient/ocapi/v1/film-screening-dates?siteIds=CAM1",
          "method": "GET",
          "headers": [
            {
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "queryString": [
            {
              "name": "siteIds",
              "value": "CAM1"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "text": "{\"filmScreeningDates\":[{\"businessDate\":\"2026-01-29\",\"filmScreenings\":[{\"filmId\":\"HO00006550\",\"sites\":[{\"siteId\":\"CAM1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006677\",\"sites\":[{\"siteId\":\"CAM1\",\"showtimeAttributeIds\":[\"0000000059\"]}]},{\"filmId\":\"HO00006487\",\"sites\":[{\"siteId\":\"CAM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006689\",\"sites\":[{\"siteId\":\"CAM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006680\",\"sites\":[{\"siteId\":\"CAM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO00006679\",\"sites\":[{\"siteId\":\"CAM1\",\"showtimeAttributeIds\":[]}]},{\"filmId\":\"HO[...]
