{
  "log": {
    "_recordingName": "Curzon Camden/retrieve and transform",
    "creator": {
      "comment": "persister:fs",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "28a361cb54e9fa2c87d45900ac448bfc",
        "request": {
          "headers": [],
          "method": "GET",
          "queryString": [
            {
              "name": "friendly",
              "value": "/venues/camden/"
            }
          ],
          "url": "https://www.curzon.com/api/omnia/v1/page?friendly=%2Fvenues%2Fcamden%2F"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 52930,
            "text": "{\"name\":\"Camden\",\"urlSegment\":\"camden\",\"url\":\"/venues/camden/\",\"nodeId\":1801,\"alias\":\"cinema\",\"createDate\":\"2024-08-13T14:56:08\\u002B01:00\",\"updateDate\":\"2025-06-24T08:16:27\\u002B01:00\",\"robotsNoIndex\":false,\"robotsNoFollow\":false,\"masterCanonicalUrl\":null,\"excludeCanonicalUrl\":false,\"seoImage\":null,\"metaKeywords\":\"\",\"metaDescription\":\"Find out what\\u0027s on at Curzon Cinema in Camden. Check out the latest blockbuster movies, new Indie film releases and the best of world cinema out now.\",\"seoPageTitle\":\"Curzon Camden Cinema Showtimes \\u0026 Film Listings\",\"oGType\":\"\",\"twitterCard\":\"\",\"seoUrl\":\"\",\"oGLocale\":\"\",\"excludeFromXmlSitemap\":false,\"excludeFromSiteSearch\":false,\"pageTitle\":\"Curzon Camden Cinema Showtimes \\u0026 Film Listings\",\"hideTitle\":false,\"grid\":[],\"redirectDetailsElement\":{\"redirect\":false,\"permanent\":false},\"heroCarouselDetailsElement\":[{\"image\":{\"mobile\":\"/media/qalovdlz/camden-3.jpg?width=393\\u0026height=169\\u0026v=1db9da63d71ed10\",\"tablet\":\"/media/qalovdlz/camden-3.jpg?width=782\\u0026height=315\\u0026v=1db9da63d71ed10\",\"desktop\":\"/media/qalovdlz/camden-3.jpg?width=1216\\u0026height=523\\u0026v=1db9da63d71ed10\",\"alt\":\"\"},\"textHeading\":\"Welcome to Curzon Camden\",\"actionLink\":{\"name\":\"Take a tour\",\"target\":\"_blank\",\"url\":\"https://tours.360virtualtours.co.uk/curzon/camden/\"},\"actionLinkBackgroundColor\":{\"color\":\"f8a4d8\",\"label\":\"pink\"}},{\"image\":{\"mobile\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=393\\u0026height=169\\u0026v=1dbe4e025633ef0\",\"tablet\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=782\\u0026height=315\\u0026v=1dbe4e025633ef0\",\"desktop\":\"/media/nqiftp2s/stonewall-logo-web2.jpg?width=1216\\u0026height=523\\u0026v=1dbe4e025633ef0\",\"alt\":\"\"},\"textHeading\":\"Support Stonewall on your Curzon cinema visit\",\"actionLink\":{\"name\":\"Find out more\",\"url\":\"/charity/\"},\"actionLin[...]
