{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Stanley Arts/retrieve and transform",
    "entries": [
      {
        "_id": "686e5ca3cef35901dcf5fae783529bd5",
        "request": {
          "url": "https://stanleyarts.org/events/list/?hide_subsequent_recurrences=1&tribe_eventcategory%5B0%5D=240",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "hide_subsequent_recurrences",
              "value": "1"
            },
            {
              "name": "tribe_eventcategory",
              "value": "240",
              "_fromType": "array"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "content-type",
              "value": "text/html; charset=UTF-8"
            },
            {
              "name": "host-header",
              "value": "6b7412fb82ca5edfd0917e3957f05d89"
            },
            {
              "name": "link",
              "value": "<https://stanleyarts.org/wp-json/>; rel=\"https://api.w.org/\""
            },
            {
              "name": "x-et-api-origin",
              "value": "https://stanleyarts.org"
            },
            {
              "name": "x-et-api-root",
              "value": "https://stanleyarts.org/wp-json/tribe/tickets/v1/"
            },
            {
              "name": "x-et-api-version",
              "value": "v1"
            },
            {
              "name": "x-httpd-modphp",
              "value": "1"
            },
            {
              "name": "x-proxy-cache",
              "value": "MISS"
            },
            {
              "name": "x-proxy-cache-info",
              "value": "W NC:000000 UP:"
            },
            {
              "name": "x-tec-api-origin",
              "value": "https://stanleyarts.org"
            },
            {
              "name": "x-tec-api-root",
              "value": "https://stanleyarts.org/wp-json/tribe/events/v1/"
            },
            {
              "name": "x-tec-api-version",
              "value": "v1"
            }
          ],
          "content": {
            "mimeType": "text/html; charset=UTF-8",
            "text": "<!doctype html>\n<html lang=\"en-GB\">\n<head>\n\t<meta charset=\"UTF-8\">\n\t<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n\t<meta name=\"google-site-verification\" content=\"v1KUXFqBFFWkaymDZ0IzEYKe3REQdWSb0T9Ig7GK8g8\" />\n\t<link rel=\"profile\" href=\"https://gmpg.org/xfn/11\">\n\n\t<!-- Google tag (gtag.js) --> \n\t<script async src=\"https://www.googletagmanager.com/gtag/js?id=AW-10978824808\"></script> \n\t<script> \n\t\twindow.dataLayer = window.dataLayer || []; \n\t\tfunction gtag(){dataLayer.push(arguments);} \n\t\tgtag('js', new Date()); \n\t\tgtag('config', 'AW-10978824808'); \n\t</script> \n\n\t<!-- Global site tag (gtag.js) - Google Analytics -->\n\t<script async src=https://www.googletagmanager.com/gtag/js?id=G-RWK1HCNW4M></script>\n\t<script>\n\t\twindow.dataLayer = window.dataLayer || [];\n\t\tfunction[...]
