{
  "log": {
    "creator": {
      "name": "Polly.JS",
      "version": "6.0.6",
      "comment": "persister:chunked-fs"
    },
    "_recordingName": "Stanley Arts/retrieve and transform",
    "entries": [
      {
        "_id": "5d7ceb0be4b247fbde7c28aa8839874d",
        "request": {
          "url": "https://stanleyarts.org/wp-json/tribe/views/v2/html?u=%2Fevents%2Flist%2Fpage%2F1%2F%3Fhide_subsequent_recurrences%3D1%26tribe_eventcategory%255B0%255D%3D240&smu=true&tvn1=66bbdd2ff3",
          "method": "GET",
          "headers": [],
          "queryString": [
            {
              "name": "u",
              "value": "/events/list/page/1/?hide_subsequent_recurrences=1&tribe_eventcategory%5B0%5D=240"
            },
            {
              "name": "smu",
              "value": "true"
            },
            {
              "name": "tvn1",
              "value": "66bbdd2ff3"
            }
          ],
        },
        "response": {
          "status": 200,
          "statusText": "OK",
          "headers": [
            {
              "name": "allow",
              "value": "GET, POST"
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            },
            {
              "name": "host-header",
              "value": "6b7412fb82ca5edfd0917e3957f05d89"
            },
            {
              "name": "link",
              "value": "<https://stanleyarts.org/wp-json/>; rel=\"https://api.w.org/\""
            },
            {
              "name": "x-httpd-modphp",
              "value": "1"
            },
            {
              "name": "x-proxy-cache",
              "value": "MISS"
            },
            {
              "name": "x-proxy-cache-info",
              "value": "W NC:000000 UP:"
            }
          ],
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "text": "{\"html\":\"<div data-test=\\\"test\\\" \\n\\t class=\\\"tribe-common tribe-events tribe-events-view tribe-events-view--list tribe-events--has-filter-bar tribe-events--filter-bar-horizontal alignwide\\\" \\tdata-js=\\\"tribe-events-view\\\"\\n\\tdata-view-rest-nonce=\\\"\\\"\\n\\tdata-view-rest-url=\\\"https:\\/\\/stanleyarts.org\\/wp-json\\/tribe\\/views\\/v2\\/html\\\"\\n\\tdata-view-rest-method=\\\"GET\\\"\\n\\tdata-view-manage-url=\\\"1\\\"\\n\\t\\t\\t\\tdata-view-breakpoint-pointer=\\\"99815712-998b-4e1e-9382-14f1ba9f2f19\\\"\\n\\t>\\n\\t<div class=\\\"tribe-common-l-container tribe-events-l-container\\\">\\n\\t\\t<div\\n\\tclass=\\\"tribe-events-view-loader tribe-common-a11y-hidden\\\"\\n\\trole=\\\"alert\\\"\\n\\taria-live=\\\"polite\\\"\\n>\\n\\t<span class=\\\"tribe-events-view-loader__text tribe-common-a11y-visual-hide\\\">\\n\\t\\t3 events found.\\t<\\/span>\\n\\t<div class=\\\"tribe-events-view-loader__dots tribe-common-c-loader\\\">\\n\\t\\t<svg\\n\\t class=\\\"tribe-common-c-svgicon tribe-common-c-svgicon--dot tribe-common-c-loader__dot tribe-common-c-loader__dot--first\\\" \\taria-hidden=\\\"true\\\"\\n\\tviewBox=\\\"0 0 15 15\\\"\\n\\txmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\"\\n>\\n\\t<circle cx=\\\"7.5\\\" cy=\\\"7.5\\\" r=\\\"7.5\\\"\\/>\\n<\\/svg>\\n\\t\\t<svg\\n\\t class=\\\"tribe-common-c-svgicon tribe-common-c-svgicon--dot tribe-common-c-loader__dot tribe-common-c-loader__dot--second\\\" \\taria-hidden=\\\"true\\\"\\n\\tviewBox=\\\"0 0 15 15\\\"\\n\\txmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\"\\n>\\n\\t<circle cx=\\\"7.5\\\" cy=\\\"7.5\\\" r=\\\"7.5\\\"\\/>\\n<\\/svg>\\n\\t\\t<svg\\n\\t class=\\\"tribe-common-c-svgicon tribe-common-c-svgicon--dot tribe-common-c-loader__dot tribe-common-c-loader__dot--third\\\" \\taria-hidden=\\\"true\\\"\\n\\tviewBox=\\\"0 0 15 15\\\"\\n\\txmlns=\\\"http:\\/\\/www.w3.org\\/2000\\/svg\\\"\\n>\\n\\t<circle cx=\\\"7.5\\\" cy=\\\"7.5\\\" r=\\\"7.5\\\"\\/>\\n<\\/svg>\\n\\t<\\/div>\\n<\\/div>\\n\\n\\t\\t<script type=\\\"application\\/ld+json\\\">\\r\\n[{\\\"@context\\\":\\\"http:\\/\\/schema.org\\\",\\\"@type\\\":\\\"Event\\\",\\\"name\\\":\\\"Stanley\\\\\\\\'s Film Club presents Springsteen: Deliver me From Nowhere\\\",\\\"description\\\":\\\"&lt;p&gt;Dementia Friendly Screening of  \\\\u201cSpringsteen: Deliver Me from Nowhere\\\\u201d which chronicles the making of Bruce Springsteen\\\\u2019s 1982 \\\\u201cNebraska\\\\u201d album. &lt;\\/p&gt;\\\\\\\\n\\\",\\\"image\\\":\\\"https:\\/\\/stanleyarts.org\\/wp-content\\/uploads\\/2026\\/03\\/Untitled-design-3.png\\\",\\\"url\\\":\\\"https:\\/\\/stanleyarts.org\\/event\\/springsteen-deliver-me-from-nowhere\\/\\\",\\\"eventAttendanceMode\\\":\\\"https:\\/\\/schema.org\\/OfflineEventAttendanceMode\\\",\\\"eventStatus\\\":\\\"https:\\/\\/schema.org\\/EventScheduled\\\",\\\"startDate\\\":\\\"2026-07-13T13:00:00+01:00\\\",\\\"endDate\\\":\\\"2026-07-13T15:00:00+01:00\\\",\\\"location\\\":{\\\"@type\\\":\\\"Place\\\",\\\"name\\\":\\\"Stanley Hall\\\",\\\"description\\\":\\\"&lt;p&gt;The stunning Art Nouveau Stanley Hall can seat up to 180 guests at tables for [&hellip;]&lt;\\/p&gt;\\\\\\\\n\\\",\\\"image\\\":\\\"https:\\/\\/stanleyarts.org\\/wp-content\\/uploads\\/2020\\/11\\/stanley-hall-wedding-feat.png\\\",\\\"url\\\":\\\"https:\\/\\/stanleyarts.org\\/venue\\/stanley-hall\\/\\\",\\\"address\\\":{\\\"@type\\\":\\\"PostalAddress\\\"},\\\"telephone\\\":\\\"\\\",\\\"sameAs\\\":\\\"\\\"},\\\"performer\\\":\\\"Organization\\\"},{\\\"@context\\\":\\\"http:\\/\\/schema.org\\\",\\\"@type\\\":\\\"Event\\\",\\\"name\\\":\\\"Stanley\\\\u2019s Film Club presents: White Christmas\\\",\\\"description\\\":\\\"&lt;p&gt;Our dementia friendly screenings offer a relaxed and welcoming cinema experience for people living with dementia and their companions.&lt;\\/p&gt;\\\\\\\\n\\\",\\\"image\\\":\\\"https:\\/\\/stanleyarts.org\\/wp-content\\/uploads\\/2026\\/03\\/White-Christmas-Feature-Image-1240-x-826.png\\\",\\[...]
